<form>
    <div layout="row" layout-align="start center" class="form-group form-group-textarea">
        <div flex="70" layout="column">
            <div flex>
          <textarea class="form-group-textarea"
                    data-ng-disabled="imageDetailBriefCtrl.readOnly"
                    data-ng-model="imageDetailBriefCtrl.brief"></textarea>
            </div>
        </div>
    </div>

    <div layout="row" class="form-footer-button">
        <div>
            <md-button class="md-raised md-primary"
                       data-ng-if="imageDetailBriefCtrl.readOnly"
                       data-ng-click="imageDetailBriefCtrl.readOnly = !imageDetailBriefCtrl.readOnly">编辑
            </md-button>
            <md-button class="md-raised md-primary" data-ng-if="!imageDetailBriefCtrl.readOnly"
                       data-ng-click="imageDetailBriefCtrl.updateBrief()">更新
            </md-button>
            <md-button data-ng-if="!imageDetailBriefCtrl.readOnly"
                       data-ng-click="imageDetailBriefCtrl.readOnly= !imageDetailBriefCtrl.readOnly;
                           imageDetailBriefCtrl.brief = imageDetailBriefCtrl.projectInfo.description">取消
            </md-button>
        </div>
    </div>
</form>
