<form name="staticForm">
    <div layout="row" layout-align="end start" class="form-group form-group-switch">
        <label flex="15">自动构建</label>
        <div flex="50" layout="column">
            <div flex="none">
                <md-switch data-ng-model="imageDetailSettingCtrl.form.active" aria-label="active-switch"></md-switch>
            </div>
            <p class="help-info-bottom">按照设置的频率去检查是否有满足触发规则的行为发生，有就自动构建镜像。</p>
        </div>
        <div flex></div>
    </div>

    <div layout="row" layout-align="end start" class="form-group form-group-select"
         data-ng-show="imageDetailSettingCtrl.form.active">
        <label flex="15">自动构建时间</label>
        <div flex="50">
            <md-input-container>
                <md-select data-ng-model="imageDetailSettingCtrl.form.period" aria-label="period-select">
                    <md-option ng-value="period.value" ng-repeat="period in imageDetailSettingCtrl.periodList"
                               data-required="imageDetailSettingCtrl.form.active">{/ period.name /}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex></div>
    </div>

    <div layout="row" layout-align="end start" class="form-group form-group-checkbox"
         data-ng-show="imageDetailSettingCtrl.form.active">
        <label flex="15">自动构建</label>
        <div flex="50" layout="column">
            <div layout="row">
                <md-checkbox flex="30" data-ng-model="imageDetailSettingCtrl.tag" aria-label="tag-checkbox"
                             ng-change="imageDetailSettingCtrl.triggerRules(imageDetailSettingCtrl.tag)">Tag 更新
                </md-checkbox>
                <md-checkbox flex="30" data-ng-model="imageDetailSettingCtrl.branch" aria-label="branch-checkbox"
                             ng-change="imageDetailSettingCtrl.triggerRules(imageDetailSettingCtrl.branch)">代码分支更新
                </md-checkbox>
            </div>
            <p class="help-info-bottom">当代码仓库发生左边的操作时会触发镜像构建。</p>
        </div>
        <div flex></div>
    </div>

    <div layout="row" class="form-footer-button">
        <div flex-offset="15">
            <md-button class="md-raised md-primary" aria-label="submit"
                       ng-disabled="staticForm.$invalid || imageDetailSettingCtrl.triggerCount == 0"
                       data-ng-click="imageDetailSettingCtrl.saveSetting(imageDetailSettingCtrl.form)" data-demo-disable>保 存
            </md-button>
            <md-button data-ng-click="rootCtrl.goBack()">取 消</md-button>
        </div>
    </div>


</form>