<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
	    <!--<div layout-align="start center">
		    <label> Total {/listappctrl.apps.length/} </label>
		    <label> Running {/listappctrl.running/} </label>
		    <label> Creating {/listappctrl.creating/} </label>
		    <label> Failed {/listappctrl.failed/} </label>
	    </div>-->
      
            <div layout-align="end center" class="operation">
                <md-button class="md-primary md-raised md-ink-ripple md-create" aria-label="Crete App" data-ui-sref="app.create">
		    <md-tooltip md-direction="top">new application</md-tooltip>
                    <i class="fa fa-plus" aria-hidden="true"></i>
		</md-button>
            </div>
        </header>
	<div class="main-content">
	<md-content>
		<md-table-container>
        		<table md-table>
            			<thead md-head md-order="appsTableCtrl.table.query.order"
                   		md-on-reorder="appsTableCtrl.table.getOrder">
            			<tr md-row>
                    			<th md-column md-order-by="name"><span>Name</span></th>
                    			<th md-column><span>Instances</span></th>
                    			<th md-column>Cluster</th>
                    			<th md-column>State</th>
                    			<th md-column md-order-by="instances">Created</th>
                    			<th md-column>Updated</th>
					<th md-column>Operation</th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row ng-repeat="app in listappctrl.apps">
                				<td md-cell>
							<a href="#"
	  						data-ui-sref="app.detail({app_id: app.id})">{/app.name/}
							</a>
						</td>
						<td md-cell>
                               			    {/app.instances/}
						</td>
						<td md-cell>
                               			    {/app.clusterID/}
						</td>
						<td md-cell>
                               			    {/listappctrl.stateMap[app.state]/}
						</td>
						<td md-cell>
                               			    {/app.created | date:'yyyy-MM-dd HH:MM:ss'/}
						</td>
						<td md-cell>
                               			    {/app.updated | date:'yyyy-MM-dd HH:MM:ss'/}
						</td>

						<td md-cell>
						    <md-menu md-offset="0 -5">
							<md-button aria-label="appListMenu" class="md-icon-button"
							    ng-click="$mdOpenMenu($event)">
								<!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
								<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
							</md-button>
                        				<md-menu-content width="1">
                            				    <md-menu-item>
						    	    	<md-button aria-label="strp" class="md-button md-raised"
                                                    	    	data-ng-click="listappctrl.scale(app.id)"> scale 
                    				    	    	</md-button>
                            				    </md-menu-item>
                            				    <md-menu-item>
						    	    	<md-button aria-label="strp" class="md-button md-raised"
                                                    	    	data-ng-click="listappctrl.update(app.id)"> update 
                    				    	    	</md-button>
                            				    </md-menu-item>
                            				    <md-menu-item>
						    	    	<md-button aria-label="strp" class="md-button md-raised"
                                                    	    	data-ng-click="listappctrl.delete(app.id)"> delete 
                    				    	    	</md-button>
                            				    </md-menu-item>
                            				    <md-menu-item>
						    	    	<md-button aria-label="strp" class="md-button md-raised"
                                                    	    	data-ng-click="listappctrl.clone(app.id)"> clone 
                    				    	    	</md-button>
                            				    </md-menu-item>
							</md-menu-content>
						    </md-menu>
							<md-menu-bar>
          						    <md-menu>
            							<button ng-click="$mdOpenMenu($event)" class="md-icon-button">
	    							    	<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            							</button>
            							<md-menu-content width="2">
              							    <md-menu-item>
              							      <md-button ng-click="ctrl.sampleAction('share', $event)">
              							       scale 
              							      </md-button>
              							    </md-menu-item>
								    <md-menu-item>
									<md-menu>
									    <md-button ng-click="$mdMenu.open()">update</md-button>
                  							    <md-menu-content width="1">
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                    	                                                        <md-menu-item>
			                                                            <md-button ng-click="">name</md-button>
                                                                                </md-menu-item>
                  							    </md-menu-content>
									</md-menu>
								    </md-menu-item> 
								</md-menu-content>
                					    </md-menu>
							</md-menu-bar>
						</td>
            				</tr>
            			</tbody>
        		</table>
    		</md-table-container>
		<!--<md-content class="md-padding main-tab-content" data-ui-view></md-content>-->
        </md-content>
	</div>
    </section>
</div>
