<div class="main-container app-layout">
    <section class="main-section">
	<header layout="row" layout-align="end start">
            <div layout-align="end center" class="operation">
            </div>
        </header>
        <md-table-container>
        <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>Name</th>
            <th md-column>CPUs</th>
            <th md-column>Memory</th>
            <th md-column>Image</th>
            <th md-column>Status</th>
            <th md-column>Healthy</th>
	    <th md-column>Agent</th>
            <th md-column>Created</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="task in detailAppCtrl.tasks">
		<td md-cell><a href="#" data-ui-sref="app.task({app_id:task.appID, task_id:task.slotID})">{/task.slotID/}</a></td>
            <td md-cell>{/task.cpu/}</td>
            <td md-cell>{/task.mem/}</td>
            <td md-cell>{/task.image/}</td>
            <td md-cell>{/detailAppCtrl.stateMap[task.status]/}</td>
            <td md-cell>{/task.healthy/}</td>
	    <td md-cell>{/task.agentHostname/}</td>
            <td md-cell>{/task.created | date:'yyyy-MM-dd HH:MM:ss'/}</td>
        </tr>
        </tbody>
    </table>
    <div class="alert text-center" data-ng-if="!detailAppCtrl.tasks.length">
        未查询到实例信息
    </div>
</md-table-container>
    </section>
</div>
