body {
	background-color: #f3f5f7;
	color: #3D3D3D;
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body, html {
	height: 100%;
}
.btn:focus, .btn:active {
	box-shadow: none;
	outline: none;
}
.app-title ul, .app-title li {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.app-title ul {
	margin-top: 20px;
}

.usergroup-tablelist h5, .usergroup-tablelist p  {
	margin: 0;
}
.usergroup-tablelist #panel-invite {
	display: none;
}
.usergroup-tablelist p  {
	color: #999;
	font-size: 12px;
	padding-top: 3px;
}
.usergroup-tablelist tr.collapse {
	margin-top: -1px;
}
.usergroup-tablelist tr.collapse td {
	border-top: 1px solid #FFF;
}
.usergroup-tablelist tr.collapse .row {
	min-height: 75px;
	max-height: 150px;
	overflow-y: auto;
}
.usergroup-user-card {
	height: 54px;
	position: relative;
}
.usergroup-user-card h5 {
	font-size: 12px;
}
.usergroup-user-card time {
	color: #999;
	display: inline-block;
	font-size: 11px;
}
.usergroup-user-card .btn {
	border-radius: 0 4px 0 0;
	display: none;
	position: absolute;
	top: -1px;
	right: -1px;
}
.usergroup-user-card:hover .btn {
	display: block;
}
.btn-show-invite {
	cursor: pointer;
}
.btn-show-invite span {
	color: #3d3d3d;
	display: block;
	margin-top: 8px;
}
.btn-show-invite:hover span {
	color: #427fed;
}

.list-text label, .list-text span, .list-text a {
	display: inline-block;
	line-height: 1;
}
.list-text label {
	width: 80px;
}
.list-text span#publicKey {
	max-width: 400px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#createSelectImage .modal-body .btn-default {
	width: 150px;
}
#createSelectImage .modal-body span {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
}
#createSelectImage .modal-body span .btn-info {
	border-radius: 0 4px 0 0;
	display: none;
	font-size: 12px;
	height: 18px;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 18px;
	z-index: 10001;
}
#createSelectImage .modal-body span:hover .btn-info {
	display: block;
}
#createSelectImage [data-toggle="buttons"] span > .btn input[type="radio"],
#createSelectImage [data-toggle="buttons"] span > .btn-group > .btn input[type="radio"],
#createSelectImage [data-toggle="buttons"] span > .btn input[type="checkbox"],
#createSelectImage [data-toggle="buttons"] span > .btn-group > .btn input[type="checkbox"] {
	clip: rect(0px, 0px, 0px, 0px);
	pointer-events: none;
	position: absolute;
}

.disable-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #3D3D3D;
    z-index: 10;
    opacity: 0.5;
}

#app-index .thumbnail {
	border: 0;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}
#app-index .thumbnail:after {
	background-color: #EEE;
	content:"";
	height: 100%;
	position: absolute;
	right: -15px;
	top: 0;
	width: 1px;
}
#app-index .col-md-3:last-child .thumbnail:after {
	width: 0px;
}
#app-index .col-md-3:nth-child(4) .thumbnail:after {
	width: 0px;
}
#app-index .thumbnail h4 {
	font-size: 16px;
}
#app-index .thumbnail img 	{
	height: 60px;
	width: auto;
}
#app-index .thumbnail p {
	color: #666;
	font-size: 12px;
	height: 60px;
}
#app-index .thumbnail .btn {
	width: 60%;
}
#app-index .form-filter-top {
	margin-bottom: 30px;
}