<div class="main">
    <div class="page-header">
        <div>
            <h1 class="pull-left">日志查询</h1>
        </div>
    </div>
    <section class="search-log">
        <div class="main-container">
            <div class="main-container-body">
                    <form class="row" name="staticForm" data-ng-submit="getLog()">
                        <div class="form-group col-md-4">
                            <label>集群名 <span class="text-danger">* </span></label>
                            <select class="form-control input-sm"
                                    data-ng-options=" cluster.id as cluster.name for cluster in clusters"
                                    data-ng-model="clusterId" data-required="required"></select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>应用名 <span class="text-danger">* </span></label>
                            <select class="form-control input-sm"
                                    data-ng-options=" option as option.name for option in options"
                                    data-ng-model="app" data-required="required" ng-change="getNodePorts(app.id,clusterId)">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label style="display: block">实例名</label>

                            <isteven-multi-select
                                    input-model="inputNodesInfo"
                                    output-model="nodeId"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    helper-elements="all none filter"
                                    max-height="200px"
                                    translation="multiConfig"
                                    max-labels="1"
                            >
                            </isteven-multi-select>

                        </div>
                        <!--<div class="form-group">-->
                        <!--<label>实例名</label>-->
                        <!--<input type="text" class="form-control input-sm" data-ng-model="searchData.instanceName">-->
                        <!--</div>-->

                        <div class="form-group col-md-4">
                            <label style="display: block">日志目录</label>

                            <isteven-multi-select
                                    input-model="inputLogPaths"
                                    output-model="logPaths"
                                    button-label="logpath"
                                    item-label="logpath"
                                    tick-property="ticked"
                                    helper-elements="all none filter"
                                    max-height="200px"
                                    translation="multiConfig"
                                    max-labels="1"
                            >
                            </isteven-multi-select>

                        </div>

                        <div class="form-group col-md-8">
                            <label>关键字</label>
                            <input type="text" class="form-control input-sm" data-ng-model="logSearchKey">
                        </div>

                        <div class="col-md-12">
                            <div class="form-group" style=" width: 150px; display: inline-block;">
                                <label>查询时间范围</label>
                                <select class="form-control input-sm" data-ng-model="timeRange">
                                    <option value="3">3分钟</option>
                                    <option value="10">10分钟</option>
                                    <option value="30">30分钟</option>
                                    <option value="60">1小时</option>
                                    <option value="1440">1天</option>
                                    <option value="other">精确时间</option>
                                </select>
                            </div>
                            <div  data-ng-show="timeRange === 'other'" style="display: inline-block;">
                                <div style="display: inline-block; margin-right: 20px; margin-left: 20px;">
                                    <label style="display: block">起始日期 <span class="text-danger">* </span></label>
                                    <datetimepicker
                                            min-date="minDate" hour-step="hourStep"
                                            minute-step="minuteStep" ng-model="gte" show-meridian="showMeridian"
                                            date-format="yyyy-MM-dd" date-options="dateOptions"
                                            readonly-date="false"
                                            show-spinners="false"
                                            readonly-time="false"
                                            current-text="今天"
                                            clear-text="清除"
                                            close-text="关闭"
                                            mousewheel="false"
                                            date-disabled="isDisableGteDate(date, mode)">
                                    </datetimepicker>
                                </div>
                                <div style="display: inline-block;">
                                    <label style="display: block">截止日期 <span class="text-danger">* </span></label>
                                    <datetimepicker
                                            min-date="minDate" hour-step="hourStep"
                                            minute-step="minuteStep" ng-model="lte" show-meridian="showMeridian"
                                            date-format="yyyy-MM-dd" date-options="dateOptions"
                                            readonly-date="false"
                                            show-spinners="false"
                                            readonly-time="false"
                                            current-text="今天"
                                            clear-text="清除"
                                            close-text="关闭"
                                            mousewheel="false"
                                            date-disabled="isDisablelteDate(date, mode)">
                                    </datetimepicker>
                                </div>
                            </div>
                            
                            <div style="display: inline-block; margin-left: 20px;">
                                <label></label>
                                <button type="submit"
                                        data-ng-disabled="staticForm.$invalid"
                                        class="btn btn-primary btn-sm" style=" width: 150px;">查询
                                </button>
                            </div>

                            <div style="display: inline-block; margin-left: 20px;">
                                <a class="btn btn-sm" ng-disabled="!clusterlogs.logs.length" 
                                    ng-href="{/clusterlogs.downloadHref/}" 
                                    ng-hide="showContextUI" 
                                    ng-class="{'btn-primary': clusterlogs.logs.length, 'btn-default': !clusterlogs.logs.length}"
                                    data-demo-disable>导出日志
                                </a>
                                <a class="btn btn-sm" ng-disabled="!clusterlogs.logs.length"
                                    ng-href="{/contextlogs.downloadHref/}"
                                    ng-show="showContextUI"
                                    ng-class="{'btn-primary': clusterlogs.logs.length, 'btn-default': !clusterlogs.logs.length}"
                                    data-demo-disable>导出日志
                                </a>
                                <span class="text-warning" data-ng-show="clusterlogs.logs.length && clusterlogs.logs.length>logDownloadToplimit">(日志记录过大，只能导出前{/logDownloadToplimit/}条)</span>
                            </div>
                        </div>
                    </form>
                <hr>
                    <div ng-hide="showContextUI">
                        <div class="log-screen">
                            <ul class="list-unstyled" data-infinite-scroll="clusterlogs.getlogs()"
                                data-infinite-scroll-distance='0'
                                data-infinite-scroll-disabled='clusterlogs.isLoadingLogs'
                                data-infinite-scroll-parent='true'>
                                <li><a ng-click="getContextLog(clusterlogs.logInfo[$index],clusterlogs.logsId[$index])" href="#"
                                       data-ng-repeat='log in clusterlogs.logs'
                                       data-ng-bind-html="log"></a></li>
                            </ul>
                            <code data-ng-show='clusterlogs.isLoadingLogs'>数据加载中...</code>
                            <code data-ng-show='clusterlogs.logs.length == 0 && clusterlogs.isComplete'>未查询到符合条件的日志</code>
                        </div>
                    </div>

                    <div ng-show="showContextUI">
                        <div class="log-screen selected-log-list" id="contextLog">
                            <a href="#" ng-click="returnLos()" class="btn btn-primary btn-sm hide-selected"
                               style="position: absolute;"><span
                                    class="glyphicon glyphicon-menu-left"></span></a>

                            <ul class="list-unstyled" >
                                <li id="{/contextlogs.logsId[$index]/}" data-ng-class="{'active': contextlogs.logsId[$index] === curId}" data-ng-repeat='logContext in contextlogs.logs'
                                    data-ng-bind-html="logContext"></li>
                            </ul>
                            <code data-ng-show='contextlogs.isLoadingLogs'>数据加载中...</code>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
