<div class="main">
    <div class="page-header">
        <div>
            <h1 class="pull-left">日志查询</h1>
        </div>
    </div>
    <section class="search-log">
        <div class="main-container">
            <div class="main-container-body">
                    <form class="row" name="staticForm" data-ng-submit="getLog()">
                        <div class="form-group col-md-2">
                            <label>集群名 <span class="text-danger">* </span></label>
                            <select class="form-control input-sm"
                                    data-ng-options=" cluster.id as cluster.name for cluster in clusters"
                                    data-ng-model="clusterId" data-required="required"></select>
                        </div>

                        <div class="form-group col-md-2">
                            <label>应用名 <span class="text-danger">* </span></label>
                            <select class="form-control input-sm"
                                    data-ng-options=" option.aliase as option.name for option in options"
                                    data-ng-model="appName" data-required="required" ng-change="getNodePorts(appName,clusterId)">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label style="display: block">实例名</label>

                            <isteven-multi-select
                                    input-model="inputNodesInfo"
                                    output-model="nodeId"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    helper-elements="all none filter"
                                    max-height="200px"
                                    translation="multiConfig"
                                    max-labels="1"
                            >
                            </isteven-multi-select>

                        </div>
                        <!--<div class="form-group">-->
                        <!--<label>实例名</label>-->
                        <!--<input type="text" class="form-control input-sm" data-ng-model="searchData.instanceName">-->
                        <!--</div>-->
                        <div class="form-group col-md-3">
                            <label>关键字</label>
                            <input type="text" class="form-control input-sm" data-ng-model="logSearchKey">
                        </div>

                        <div class="col-md-12">
                            <div class="form-group" style=" width: 150px; display: inline-block;">
                                <label>查询时间范围</label>
                                <select class="form-control input-sm" data-ng-model="timeRange">
                                    <option value="">3分钟</option>
                                    <option value="10">10分钟</option>
                                    <option value="30">30分钟</option>
                                    <option value="60">1小时</option>
                                    <option value="1440">1天</option>
                                    <option value="other">精确时间</option>
                                </select>
                            </div>
                            <div  data-ng-show="timeRange === 'other'" style="display: inline-block;">
                                <div style="display: inline-block; margin-right: 20px; margin-left: 20px;">
                                    <label style="display: block">起始日期 <span class="text-danger">* </span></label>
                                    <datetimepicker
                                            min-date="minDate" hour-step="hourStep"
                                            minute-step="minuteStep" ng-model="gte" show-meridian="showMeridian"
                                            date-format="yyyy-MM-dd" date-options="dateOptions"
                                            readonly-date="false"
                                            show-spinners="false"
                                            readonly-time="false"
                                            current-text="今天"
                                            clear-text="清除"
                                            close-text="关闭"
                                            mousewheel="false"
                                            date-disabled="isDisableGteDate(date, mode)">
                                    </datetimepicker>
                                </div>
                                <div style="display: inline-block;">
                                    <label style="display: block">截止日期 <span class="text-danger">* </span></label>
                                    <datetimepicker
                                            min-date="minDate" hour-step="hourStep"
                                            minute-step="minuteStep" ng-model="lte" show-meridian="showMeridian"
                                            date-format="yyyy-MM-dd" date-options="dateOptions"
                                            readonly-date="false"
                                            show-spinners="false"
                                            readonly-time="false"
                                            current-text="今天"
                                            clear-text="清除"
                                            close-text="关闭"
                                            mousewheel="false"
                                            date-disabled="isDisablelteDate(date, mode)">
                                    </datetimepicker>
                                </div>
                            </div>
                            <div style="display: inline-block; margin-left: 20px;">
                                <label></label>
                                <button type="submit" data-ng-disabled="staticForm.$invalid"
                                        class="btn btn-primary btn-sm" style=" width: 150px;">查询
                                </button>

                                <button type="button" ng-disabled="!clusterlogs.logs.length" ng-hide="showContextUI"
                                        class="btn btn-sm"  data-toggle="modal"
                                        data-target="#downloadLogsModal" data-demo-disable>导出
                                </button>

                                <button type="button" ng-disabled="!clusterlogs.logs.length" ng-show="showContextUI"
                                        class="btn btn-sm" data-toggle="modal"
                                        data-target="#downloadLogsModal" data-demo-disable>导出上下文
                                </button>
                            </div>
                        </div>
                    </form>
                <hr>
                    <div ng-hide="showContextUI">
                        <div class="log-screen">
                            <ul class="list-unstyled" data-infinite-scroll="clusterlogs.getlogs()"
                                data-infinite-scroll-distance='0'
                                data-infinite-scroll-disabled='clusterlogs.isLoadingLogs'
                                data-infinite-scroll-parent='true'>
                                <li><a ng-click="getContextLog(clusterlogs.logInfo[$index],clusterlogs.logsId[$index])" href="#"
                                       data-ng-repeat='log in clusterlogs.logs'
                                       data-ng-bind-html="log"></a></li>
                            </ul>
                            <code data-ng-show='clusterlogs.isLoadingLogs'>数据加载中...</code>
                            <code data-ng-show='clusterlogs.logs.length == 0 && clusterlogs.isComplete'>未查询到符合条件的日志</code>
                        </div>
                    </div>

                    <div ng-show="showContextUI">
                        <div class="log-screen selected-log-list" id="contextLog">
                            <a href="#" ng-click="returnLos()" class="btn btn-primary btn-sm hide-selected"
                               style="position: absolute;"><span
                                    class="glyphicon glyphicon-menu-left"></span></a>

                            <ul class="list-unstyled" >
                                <li id="{/contextlogs.logsId[$index]/}" data-ng-class="{'active': contextlogs.logsId[$index] === curId}" data-ng-repeat='logContext in contextlogs.logs'
                                    data-ng-bind-html="logContext"></li>
                            </ul>
                            <code data-ng-show='contextlogs.isLoadingLogs'>数据加载中...</code>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <div class="modal fade" id="downloadLogsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>日志导出</h4>
                    <div class="delete-cluster">
                        <ul>
                            <li ng-hide="showContextUI">当前查询出的日志总数: {/clusterlogs.logSize/} 条</li>
                            <li ng-show="showContextUI">当前查询出的日志总数: {/contextlogs.logSize/} 条</li>
                            <li>导出日志的条数目前限制为一万条,超过的话请缩小查询范围</li>

                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-hide="showContextUI"
                            data-ng-click="downloadSearchLogs()" data-demo-disable>确定
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="showContextUI"
                            data-ng-click="downloadContextLogs()" data-demo-disable>确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
