<section class="main-section" id="content">
    <header layout="row" layout-align="end start">
        <div class="info" flex>
            <h2>{/ nodeDetailsCtrl.node.name /}</h2>
            <dl>
                <dt>主机类型</dt>
                <dd data-ng-if="nodeDetailsCtrl.node.role">{/nodeDetailsCtrl.node.role.toUpperCase()/}</dd>
                <dd data-ng-if="!nodeDetailsCtrl.node.role">未确定</dd>
                <dt>主机状态</dt>
                <dd>
                    <i class="{/nodeStatusCls[nodeDetailsCtrl.node.status]/}" aria-hidden="true"></i>
                    <md-tooltip md-direction="top">
                        {/nodeDetailsCtrl.NODE_STATUS_NAME[nodeDetailsCtrl.node.status]/}
                    </md-tooltip>
                </dd>
                <dt>IP 地址</dt>
                <dd>{/ nodeDetailsCtrl.node.ip /}</dd>
                <dt>CPU</dt>
                <dd>{/ nodeDetailsCtrl.node.cpuNumber/}<span
                        data-ng-show="nodeDetailsCtrl.node.cpuNumber!=='未知'"
                        data-ng-if="nodeDetailsCtrl.node.cpuNumber">核</span></dd>
                <dt>内存</dt>
                <dd>{/ nodeDetailsCtrl.unitConversion.convertMem(nodeDetailsCtrl.node.memTotal).num
                    /}{/nodeDetailsCtrl.unitConversion.convertMem(nodeDetailsCtrl.node.memTotal).unit/}
                </dd>
            </dl>
            <dl>
                <dt>所属集群</dt>
                <dd><a data-ui-sref="cluster.detail.nodes({clusterId:nodeDetailsCtrl.node.cluster.id})">{/
                    nodeDetailsCtrl.node.cluster.name /}</a></dd>
                <dt>系统版本</dt>
                <dd>{/ nodeDetailsCtrl.node.osVersion /}</dd>
                <dt>Agent 版本</dt>
                <dd>{/ nodeDetailsCtrl.node.agentVersion /}</dd>
            </dl>
            <dl>
                <dt>创建时间</dt>
                <dd>{/ nodeDetailsCtrl.node.created_at /}</dd>
                <dt>更新时间</dt>
                <dd>{/ nodeDetailsCtrl.node.updated_at /}</dd>
            </dl>
            <dl data-ng-if="nodeDetailsCtrl.node.node_labels.length">
                <dt>主机标签</dt>
                <dd>
                    <span data-ng-repeat="index in nodeDetailsCtrl.node.node_labels"
                          class="node-label">{/ index.label.name/}</span>
                </dd>
            </dl>
        </div>
        <div layout-align="end center" class="operation">
            <md-button class="md-fab md-mini" aria-label="编辑主机"
                       data-ui-sref="cluster.updatenode({nodeId: nodeDetailsCtrl.node.id, clusterId: nodeDetailsCtrl.node.cluster.id, name: nodeDetailsCtrl.node.name})"
                       data-demo-disable
                       data-dm-permit-click="1"
                       data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                       data-dm-permit-msg="nodeDetailsCtrl.FRONTEND_MSG.no_group_admin">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    编辑主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="删除主机"
                       data-ng-click="nodeDetailsCtrl.deleNode(nodeDetailsCtrl.node.id, $event)"
                       data-demo-disable
                       data-dm-permit-click="1"
                       data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                       data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    删除主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="上一台主机"
                       data-ng-click="$state.go('cluster.nodedetails', {clusterId: nodeDetailsCtrl.node.cluster.id, nodeId: nodeDetailsCtrl.preNodeId}, {reload: true})"
                       data-ng-disabled="nodeDetailsCtrl.disablePreNav">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    上一台主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="下一台主机"
                       data-ng-click=" $state.go('cluster.nodedetails', {clusterId: nodeDetailsCtrl.node.cluster.id, nodeId: nodeDetailsCtrl.nextNodeId}, {reload: true})"
                       data-ng-disabled="nodeDetailsCtrl.disableNextNav">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    下一台主机
                </md-tooltip>
            </md-button>
        </div>
    </header>
    <!--点击加载更多组件-->
            <div class="homepage_bottom main-content">
                <div class="homepage_module" id="homepage_module"
                     data-ng-class="{showDropDown: nodeDetailsCtrl.showMore}">
                    <ul layout="row" layout-align="start start" layout-wrap>
                        <li flex="10" data-ng-repeat="service in nodeDetailsCtrl.services">
                <span class="{/serviceStatusCls[service.status || 'uninstalled']/}">
                <md-tooltip md-direction="top">
                    {/serviceStatName[ service.status || 'uninstalled']/}
                </md-tooltip>
                    <button class="btn"
                            data-ng-show="service.status!=='terminated'"
                            data-ng-click="nodeDetailsCtrl.repairService(service.name, 'restart')" data-demo-disable
                            data-dm-permit-click="1"
                            data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                            data-dm-permit-msg="FRONTEND_MSG.no_group_admin"
                            data-ng-if="service.name === 'docker'">重启</button>
                    <md-menu data-ng-if="service.name !== 'docker' && service.status == nodeDetailsCtrl.SERVICES_STATUS.failed &&
                        [nodeDetailsCtrl.NODE_STATUS.running, nodeDetailsCtrl.NODE_STATUS.failed, nodeDetailsCtrl.NODE_STATUS.abnormal].indexOf(nodeDetailsCtrl.node.status) >= 0">
                        <button class="btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                data-demo-disable
                                data-dm-permit-click="1"
                                data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                                data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                            修复
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button
                                        data-ng-click="nodeDetailsCtrl.repairService(service.name, 'restart')">重启</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button
                                        data-ng-click="nodeDetailsCtrl.repairService(service.name, 'reset')">重置</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </span>
                            <h5>{/getServiceLabel(service.name)/}</h5>
                            <p>{/service.version/}</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-folding-v" data-ng-show="nodeDetailsCtrl.services.length > 10">
                    <a href="#"><i class="fa"
                                   data-ng-class="{'fa-chevron-down': !nodeDetailsCtrl.showMore, 'fa-chevron-up': nodeDetailsCtrl.showMore }"
                                   data-ng-click="nodeDetailsCtrl.showMore = !nodeDetailsCtrl.showMore"></i></a>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-cpu-chart"></div>
                    </div>
                    <div flex flex-offset="5" layout-padding>
                        <div id="node-memory-chart"></div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-disk-chart"></div>
                    </div>
                    <div flex flex-offset="5" layout-padding>
                        <div id="node-diskio-chart"></div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-netio-chart"></div>
                    </div>
                </div>
            </div>
</section>
