<section class="main-section" id="content">
    <header layout="row" layout-align="end start">
        <div class="info" flex>
            <h2>{/ nodeDetailsCtrl.node.name /}</h2>
            <dl>
                <dt>主机类型</dt>
                <dd>{/nodeDetailsCtrl.node.role/}</dd>
                <dt>主机状态</dt>
                <dd>
                    <i class="{/nodeDetailsCtrl.nodeStatusCls[nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].status]/}" aria-hidden="true"></i>
                    <md-tooltip md-direction="top">
                        {/nodeDetailsCtrl.statName[nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].status]/}
                    </md-tooltip>
                </dd>
                <dt>IP 地址</dt>
                <dd>{/ nodeDetailsCtrl.node.ip /}</dd>
                <dt>CPU</dt>
                <dd>{/ nodeDetailsCtrl.nodeInfo.cpuNumber/}<span data-ng-show="nodeDetailsCtrl.nodeInfo.cpuNumber!=='未知'"
                                                 data-ng-if="nodeDetailsCtrl.nodeInfo.cpuNumber">核</span></dd>
                <dt>内存</dt>
                <dd>{/ nodeDetailsCtrl.unitConversion.convertMem(nodeDetailsCtrl.nodeInfo.memTotal).num
                    /}{/nodeDetailsCtrl.unitConversion.convertMem(nodeDetailsCtrl.nodeInfo.memTotal).unit/}
                </dd>
            </dl>
            <dl>
                <dt>所属集群</dt>
                <dd><a data-ui-sref="cluster.detail.nodes({clusterId:node.cluster.id})">{/ nodeDetailsCtrl.node.cluster.name /}</a></dd>
                <dt>系统版本</dt>
                <dd>{/ nodeDetailsCtrl.nodeInfo.osVersion /}</dd>
                <dt>Agent 版本</dt>
                <dd>{/ nodeDetailsCtrl.nodeInfo.agentVersion /}</dd>
            </dl>
            <dl>
                <dt>创建时间</dt>
                <dd>{/ nodeDetailsCtrl.node.created_at /}</dd>
                <dt>更新时间</dt>
                <dd>{/ nodeDetailsCtrl.node.updated_at /}</dd>
            </dl>
            <dl data-ng-if="nodeDetailsCtrl.selectedLabels && nodeDetailsCtrl.selectedLabels.length>0">
                <dt>主机标签</dt>
                <dd>
                    <span data-ng-repeat="label in nodeDetailsCtrl.selectedLabels" class="node-label">{/ label.name/}</span>
                </dd>
            </dl>
        </div>
        <div layout-align="end center" class="operation">
            <md-button class="md-fab md-mini" aria-label="编辑主机"
                       data-ui-sref="cluster.updatenode({nodeId: nodeDetailsCtrl.node.id, clusterId: nodeDetailsCtrl.node.cluster.id, name: nodeDetailsCtrl.node.name})"
                       data-demo-disable
                       data-dm-permit-click="1"
                       data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                       data-dm-permit-msg="nodeDetailsCtrl.FRONTEND_MSG.no_group_admin">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    编辑主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="删除主机" data-ng-click="nodeDetailsCtrl.deleNode(node.id, $event)"
                       data-demo-disable
                       data-dm-permit-click="1"
                       data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                       data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    删除主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="上一台主机" data-ng-click="nodeDetailsCtrl.goPreNode()"
                       data-ng-disabled="nodeDetailsCtrl.disablePreNav">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    上一台主机
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="下一台主机" data-ng-click="nodeDetailsCtrl.goNextNode()"
                       data-ng-disabled="nodeDetailsCtrl.disableNextNav">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                    下一台主机
                </md-tooltip>
            </md-button>
        </div>
    </header>
    <!--点击加载更多组件-->
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="主机监控">
            <div class="homepage_bottom main-content">
                <div class="homepage_module" id="homepage_module" data-ng-class="{showDropDown: nodeDetailsCtrl.showMore}">
                    <ul layout="row" layout-align="start start" layout-wrap>
                        <li flex="10" data-ng-repeat="service in nodeDetailsCtrl.services">
                <span class="{/serviceStatusCls[nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].services[service].status || 'uninstalled']/}">
                <md-tooltip md-direction="top">
                    {/serviceStatName[nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].services[service].status || 'uninstalled']/}
                </md-tooltip>
                    <button class="btn"
                            data-ng-show="nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].status!=='terminated'"
                            data-ng-click="nodeDetailsCtrl.repairService(service, 'restart')" data-demo-disable
                            data-dm-permit-click="1"
                            data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                            data-dm-permit-msg="FRONTEND_MSG.no_group_admin"
                            data-ng-if="service === 'docker'">重启</button>
                    <md-menu data-ng-if="service !== 'docker' && nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].services[service].status=='failed' &&
                        ['running', 'failed', 'abnormal'].indexOf(nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].status) >= 0">
                        <button class="btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                data-demo-disable
                                data-dm-permit-click="1"
                                data-dm-role="nodeDetailsCtrl.node.cluster.group_role"
                                data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                            修复
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button data-ng-click="nodeDetailsCtrl.repairService(service, 'restart')">重启</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-click="nodeDetailsCtrl.repairService(service, 'reset')">重置</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </span>
                            <h5>{/getServiceLabel(service)/}</h5>
                            <p>{/nodeDetailsCtrl.statusMgr.nodes[nodeDetailsCtrl.node.id].services[service].version/}</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-folding-v" data-ng-show="nodeDetailsCtrl.services.length > 10">
                    <a href="#"><i class="fa" data-ng-class="{'fa-chevron-down': !nodeDetailsCtrl.showMore, 'fa-chevron-up': nodeDetailsCtrl.showMore }"
                                   data-ng-click="nodeDetailsCtrl.showMore = !nodeDetailsCtrl.showMore"></i></a>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-cpu-chart"></div>
                    </div>
                    <div flex flex-offset="5" layout-padding>
                        <div id="node-memory-chart"></div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-disk-chart"></div>
                    </div>
                    <div flex flex-offset="5" layout-padding>
                        <div id="node-diskio-chart"></div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" layout-margin class="homepage_view">
                    <div flex layout-padding>
                        <div id="node-netio-chart"></div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="主机应用">
            <md-content class="md-padding main-tab-content">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>应用名称</th>
                            <th md-column>实例</th>
                            <th md-column>状态</th>
                            <th md-column>CPU</th>
                            <th md-column>内存</th>
                            <th md-column>创建时间</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="app in nodeDetailsCtrl.appList | orderBy: '-startTime'">
                            <td md-cell>{/nodeDetailsCtrl.appsNameMap[app.appname]/}</td>
                            <td md-cell>{/app.instance/}</td>
                            <td md-cell>运行中</td>
                            <td md-cell>{/app.cpuUsed * 100/} %</td>
                            <td md-cell>{/app.memoryUsed/} MB</td>
                            <td md-cell>{/app.startTime / 1000000 | date: 'yyyy-MM-dd HH:mm'/}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div class="alert alert-warning text-center" data-ng-show="!nodeDetailsCtrl.appList">
                    未查询到主机下的应用
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</section>
