<md-dialog aria-label="weight form">
    <form name="canaryForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>修改权重</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="formCtrl.cancel()"
                           aria-label="cancel">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 600px; max-height: 400px; min-height: 100px;">
            <div layout-margin
                 layout-padding data-ng-repeat="canary in formCtrl.canaryObj">
                <div flex="100" layout="row">
                    <div flex="15">灰度版本:{/canary.Version/}</div>
                    <div flex></div>
                    <div flex="15">当前版本:{/canary.CurVersion/}</div>
                </div>
                <div flex="100">
                        <md-slider-container layout="row" layout-align="start center">
                            <div flex="10">{/canary.Weight/} %</div>
                            <md-slider flex="70" flex-offset="5" min="0" max="100" ng-model="canary.Weight" aria-label="red"
                                       id="red-slider" name="weight{/$index/}">
                            </md-slider>
                            <div flex="10" flex-offset="5">{/100 - canary.Weight/} %</div>
                        </md-slider-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="formCtrl.cancel()" aria-label="cancel">
                取消
            </md-button>
            <md-button data-ng-disabled="canaryForm.$invalidd" data-ng-click="formCtrl.ok()"
                       aria-label="ok" style="margin-right:20px;">
                确认
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


