<div>
    <form class="form-inline search-container col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="warningListCtrl.searchKeyWord"
                   name="searchKeyWord"
                   placeholder="输入应用名称进行搜索" my-enter="warningListCtrl.doSearch(warningListCtrl.searchKeyWord)">
        </div>
        <button type="submit" ng-click="warningListCtrl.doSearch(warningListCtrl.searchKeyWord)"
                class="btn btn-info">搜索
        </button>
    </form>

    <button class="btn btn-success col-md-2 col-md-offset-6" type="button" data-ui-sref="policyWarningCreate">创建新规则
    </button>

</div>
<table ng-table="warningListCtrl.warningListTable" template-pagination="/views/common/ngTablePage.html"
       class="table table-striped" ng-table-columns-binding="boundCols">
    <tbody>
    <tr ng-repeat="item in warningListCtrl.warningList">
        <td data-title="'应用名称'" sortable="'appname'">
            {/item.appname/}
        </td>
        <td data-title="'告警规则'">
            {/warningListCtrl.WARNING_TYPE[item.metric]/} / {/warningListCtrl.WARNING_RULE[item.operator]/}
            / {/item.threshold/}
            <span data-ng-if="item.metric === 'MemoryUsed'">MB</span>
            <span data-ng-if="item.metric === 'CpuUsedCores'">%</span>
            <span data-ng-if="item.metric === 'DiskIOReadBytesRate' || item.metric === 'DiskIOWriteBytesRate' ||
            item.metric === 'NetworkReceviedByteRate' || item.metric === 'NetworkSentByteRate'">KB/s</span>
        </td>
        <td data-title="'监控周期'">{/item.duration/} 分钟
        </td>
        <td data-title="'连续达到阈值'">{/item.times/} 次</td>
        <td data-title="'联系人'" sortable="'emails'">
            {/item.emails/}
        </td>
        <td data-title="'通知'">
            <input type="checkbox" ng-true-value="true"
                   ng-false-value="false" data-ng-model="item.enabled"
                   data-ng-change="warningListCtrl.switchNotice(item)"> 是
        </td>
        <td data-title="'更新时间'" sortable="'updated'">
            {/item.updated | date:"yyyy-MM-dd HH:mm" : "UTC"/}
        </td>
        <td data-title="'操作'">
            <button type="button"
                    class="btn btn-default btn-xs" data-demo-disable
                    data-ui-sref="policyWarningUpdate({task_id: item.id})">更新
            </button>
            <button type="button"
                    class="btn btn-danger btn-xs" data-ng-click="warningListCtrl.deleteTask(item.id)"
                    data-demo-disable>
                删除
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center" data-ng-show="!warningListCtrl.warningList.length">
    未查询到监控数据
</div>
