<div class="main-container">
    <section class="main-section">
	<header layout="row" layout-align="end start">
            <div layout-align="end center" class="operation">
		Basic Info
            </div>
	</header>

        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">Name</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="appName"
                                   aria-label="appName"
                                   data-ng-model="createAppCtrl.form.appName"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine">
                            <small>name must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
		<div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">Image</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="image" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.container.docker.image"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.image.$error.required && !staticForm.image.$pristine">
                            <small>Image must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">CPUs</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="cpus" aria-label="cpu"
                                   data-ng-model="createAppCtrl.form.cpus"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.cpus.$error.required && !staticForm.cpus.$pristine">
                            <small>CPUs must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">Memory</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="memory" aria-label="memory"
                                   data-ng-model="createAppCtrl.form.mem"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.memory.$error.required && !staticForm.memory.$pristine">
                            <small>Memory must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
		<!--<div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">Disk</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="disk" aria-label="disk"
                                   data-ng-model="createAppCtrl.form.disk"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.disk.$error.required && !staticForm.disk.$pristine">
                            <small>Disk must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
		</div>-->

		<div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">Network</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="network" aria-label="network"
                                   data-ng-model="createAppCtrl.form.container.docker.network"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.network.$error.required && !staticForm.network.$pristine">
                            <small>Network must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

		<div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">Instances</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="instances" aria-label="Number of containers"
                                   data-ng-model="createAppCtrl.form.instances"
                                   data-min="1"
                                   data-required="required">
                        </div>
			<p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine">
                            <small>instances must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

		<!--<div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">Command</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="command" aria-label="command"
                                   data-ng-model="createAppCtrl.form.cmd">
                        </div>
                    </div>
                    <div flex></div>
		</div>-->

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ui-sref="app.health()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="create"
                                   >Next
                        </md-button>
                    </div>
		    <div flex-offset="30">
                        <md-button class="md-raised md-accent" data-ng-disabled="staticForm.$invalid"
				data-ng-click="createAppCtrl.createApp()">Create</md-button>
		    </div>
                </div>

            </form>
        </div>
    </section>
</div>
