<div class="main-container-body">
    <div class="tab-content">
        <div class="tab-pane active" id="version">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Build Number</th>
                        <th>分支</th>
                        <th>Tag/Commit</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="image in imageDetailVersionCtrl.projectImages">
                        <td>
                            {/image.Id/}
                            <span class="label label-info" data-ng-show="image.latest">latest</span>
                        </td>
                        <td>{/image.Branch/}</td>
                        <td>{/image.Commit/}</td>
                        <td>{/image.Created_at * 1000 | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
                        <td>
                            <button class="btn btn-default btn-xs">拷贝pull命令</button>
                            <button class="btn btn-default btn-xs">部署镜像</button>
                            <button class="btn btn-default btn-xs" ng-click="imageDetailVersionCtrl.openLogModal(image.Number)">日志</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>