<div class="main-container-body">
    <div class="tab-content">
        <div class="tab-pane active" id="version">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Build Number</th>
                        <th>镜像地址</th>
                        <th>状态</th>
                        <th>分支/Tag</th>
                        <th>Commit</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="image in imageDetailVersionCtrl.projectImages | orderBy: image.number">
                        <td>{/image.number/}</td>
                        <td>{/image.image/}</td>
                        <td>
                             <span data-ng-class="{'text-danger': image.status == 'failure' || image.status == 'error', 'text-success': image.status == 'success',
                        'text-info': image.status == 'running' || image.status == 'pending'}">
                            <i class="fa" data-ng-class="{'fa-times-circle': image.status == 'failure' || image.status == 'error', 'fa-check-circle': image.status == 'success',
                            'fa-spinner': image.status == 'running' || image.status == 'pending', 'fa-spin': image.status == 'running' || image.status == 'pending'}"></i>
                            {/imageDetailVersionCtrl.IMAGE_STATUS[image.status]/}
                        </span>
                        </td>
                        <td>{/image.branch/}</td>
                        <td>{/image.commit | limitTo: 7/}</td>
                        <td>{/image.timestamp * 1000 | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
                        <td>
                            <span ng-show="false" id="imageUrl{/$index/}">docker pull {/image.image/}</span>
                            <button class="btn btn-default btn-xs" data-clipboard-target="imageUrl{/$index/}" dm-copy>
                                拷贝pull命令
                            </button>
                            <button class="btn btn-default btn-xs" data-ng-show="image.status == 'success'"
                                    data-ng-click="imageDetailVersionCtrl.goToCreateApp(image.image)">部署镜像
                            </button>
                            <button class="btn btn-default btn-xs"
                                    ng-click="imageDetailVersionCtrl.openLogModal(image.number)">日志
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>