<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>新建项目</h2>
                <dl>
                    <dt>
                    代码构建是一种软件开发实践，在软件开发过程中每天都会发生很多次构建。如果每次构建都能通过自动化的构建（包括编译、打包、自动化测试、发布）来验证，从而通过自动化系统尽快地发现集成错误，会大大减轻开发运维团队的工作，提高软件开发的效率。</dt></dl>
            </div>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">项目名称</label>
                    <div flex="50" layout="column">
                        <div flex="none"
                             data-ng-class="{ 'has-error' : staticForm.projectName.$invalid && !staticForm.projectName.$pristine}">
                            <input type="text" class="form-input" data-required="required" name="projectName"
                                   data-samename data-name-list="imageCreateCtrl.projectsNameList"
                                   data-ng-model="imageCreateCtrl.form.name">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.projectName.$error.required && !staticForm.projectName.$pristine">
                            <small>项目名称不能为空</small>
                        </p>
                    </div>

                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">代码地址</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" data-required="required" name="codeUri"
                                   data-ng-model="imageCreateCtrl.form.repoUri">
                        </div>
                        <p class="help-info-bottom" data-ng-if="!IS_OFF_FLAG" ng-cloak>您需要手动填写代码仓库 HTTPS/SSH 地址，现支持
                            Github、Bitbucket、Coding、Gitlab 私有代码仓库构建您需要手动添加部署公钥，具体操作请
                            <a href="http://doc.shurenyun.com/function/create_img.html"
                               target="_blank">查看手册</a></p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">镜像名称</label>
                    <div flex="50" layout="column">
                        <div flex="none"
                             data-ng-class="{ 'has-error' : staticForm.image.$invalid && !staticForm.image.$pristine}">
                            <input type="text" class="form-input" data-required="required" name="image" data-samename
                                   data-name-list="imageCreateCtrl.projectsImagesNameList"
                                   data-ng-model="imageCreateCtrl.form.imageName"
                                   data-ng-pattern="/[a-z0-9](?:-*[a-z0-9])*(?:[._][a-z0-9](?:-*[a-z0-9])*)*/">
                            <p class="error-info help-info-bottom"
                               data-ng-show="staticForm.image.$error.required && !staticForm.image.$pristine">
                                <small>镜像名称不能为空</small>
                            </p>
                            <p class="error-info help-info-bottom"
                               data-ng-show="staticForm.image.$error.samename">
                                <small>镜像名称已存在</small>
                            </p>
                            <p class="error-info help-info-bottom"
                               data-ng-show="staticForm.image.$error.pattern && !staticForm.image.$pristine">
                                <small>镜像名称名称不规范</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">分支名称</label>
                    <div flex="50" layout="column">
                        <div flex="none"
                             data-ng-class="{ 'has-error' : staticForm.branchName.$invalid && !staticForm.branchName.$pristine}">
                            <input type="text" class="form-input" data-required="required" name="branchName"
                                   data-ng-model="imageCreateCtrl.form.branch">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.branchName.$error.required && !staticForm.branchName.$pristine">
                            <small>分支名称不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">项目说明</label>
                    <div flex="50" layout="column"
                         data-ng-class="{ 'has-error' : staticForm.description.$invalid && !staticForm.description.$pristine}">
                        <textarea class="form-control" rows="3" data-ng-model="imageCreateCtrl.form.description"
                                  name="description" ng-maxlength="256"></textarea>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.description.$error.maxlength && !staticForm.description.$pristine">
                            <small>说明字数不能超过256个字符</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-switch">
                    <label flex="15">自动构建</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <md-switch data-ng-model="imageCreateCtrl.form.active"
                                       aria-label="active-switch"></md-switch>
                        </div>
                        <p class="help-info-bottom">按照设置的频率去检查是否有满足触发规则的行为发生，有就自动构建镜像。</p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-select"
                     data-ng-show="imageCreateCtrl.form.active">
                    <label flex="15">自动构建时间</label>
                    <div flex="50">
                        <md-input-container>
                            <md-select data-ng-model="imageCreateCtrl.form.period" aria-label="period-select"
                                       ng-required="imageCreateCtrl.form.active">
                                <md-option ng-value="period.value" ng-repeat="period in imageCreateCtrl.periodList">{/
                                    period.name /}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-checkbox"
                     data-ng-show="imageCreateCtrl.form.active">
                    <label flex="15">触发规则</label>
                    <div flex="50" layout="column">
                        <div layout="row">
                            <md-checkbox flex="30" data-ng-model="imageCreateCtrl.tag"
                                         ng-change="imageCreateCtrl.triggerRules(imageCreateCtrl.tag)">
                                Tag 更新
                            </md-checkbox>
                            <md-checkbox flex="30" data-ng-model="imageCreateCtrl.branch"
                                         ng-change="imageCreateCtrl.triggerRules(imageCreateCtrl.branch)">
                                代码分支更新
                            </md-checkbox>
                        </div>
                        <p class="help-info-bottom">当代码仓库发生上边的操作时会触发镜像构建。</p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary"
                                   ng-disabled="staticForm.$invalid || (imageCreateCtrl.form.active && imageCreateCtrl.triggerCount == 0)"
                                   data-ng-click="imageCreateCtrl.createProject(imageCreateCtrl.form)">开始创建
                        </md-button>
                        <md-button data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>
            </form>
        </div>

        <footer></footer>
        <section>

        </section>
    </section>
</div>
