<h3 ng-if="licenceDetailCtrl.licenceInfo.validation">当前数人云软件已经授权，您可以放心使用！</h3>
<p ng-if="licenceDetailCtrl.licenceInfo.validation">有效时间：<strong class="text-success">
    {/licenceDetailCtrl.licenceInfo.end_time * 1000 | date:"yyyy-MM-dd"/}</strong></p>
<div class="alert-box">
    <div layout="row" layout-align="start center">
        <h3 style="margin-bottom: 0;">当前数人云软件
            <span class="text-danger" ng-if="!licenceDetailCtrl.licenceInfo.validation">未授权</span>
            <span class="text-success" ng-if="licenceDetailCtrl.licenceInfo.validation">已授权</span>
            ，您可以：</h3>
        <md-button class="md-raised md-primary" ng-click="licenceDetailCtrl.openLicenceModal($event)"
                   ng-if="!licenceDetailCtrl.licenceInfo.validation">已有授权码</md-button>
        <md-button class="md-raised" ng-click="licenceDetailCtrl.openApplyModal($event)"
                   ng-if="!licenceDetailCtrl.licenceInfo.validation">还没有授权码？点击申请</md-button>
        <md-button class="md-raised md-primary" ng-click="licenceDetailCtrl.openLicenceModal($event)"
                   ng-if="licenceDetailCtrl.licenceInfo.validation">更新授权码</md-button>
        <md-button class="md-raised" ng-click="licenceDetailCtrl.openApplyModal($event)"
                   ng-if="licenceDetailCtrl.licenceInfo.validation">授权码快过期？点击申请</md-button>
    </div>
</div>
