<div class="main-container-body server-detail app-config">
    <div class="form-horizontal">
        <div>
            <dl>
                <dt>镜像地址：</dt>
                <dd>{/config.ImageURI/}</dd>
            </dl>
            <dl>
                <dt>镜像版本：</dt>
                <dd>{/config.Imageversion/}</dd>
            </dl>
            <dl>
                <dt>容器规格：</dt>
                <dd>CPU: {/config.ContainerCpuSize/} 内存: {/config.ContainerMemSize/}MB</dd>
            </dl>
            <dl>
                <dt>容器个数：</dt>
                <dd>{/config.ContainerNum/}</dd>
            </dl>
            <dl ng-repeat="volumeInfo in config.ContainerVolumesInfo" ng-show="config.ContainerVolumesInfo.length">
                <dt>挂载目录：</dt>
                <dd>容器挂载目录:{/volumeInfo.HostPath/}</dd>
                <dd>数据挂载目录:{/volumeInfo.ContainerPath/}</dd>
            </dl>
            <h4 ng-show="config.ContainerPortsInfo.length"><span>应用地址</span></h4>
            <table class="table table-striped table-bordered" ng-show="config.ContainerPortsInfo.length">
                <thead>
                <tr>
                    <th>端口</th>
                    <th>服务地址类型</th>
                    <th>URI</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="portInfo in config.ContainerPortsInfo">
                    <td>{/portInfo.Port/}</td>
                    <td>{/portType[portInfo.Type]/}</td>
                    <td>{/portInfo.Uri/}</td>
                </tr>
                </tbody>
            </table>
            <h4 ng-show="config.Envs.length"><span>环境变量</span></h4>
            <table class="table table-striped table-bordered" ng-show="config.Envs">
                <thead>
                <tr>
                    <th>KEY</th>
                    <th>VALUE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="envInfo  in config.Envs">
                    <td>{/envInfo.key/}</td>
                    <td>{/envInfo.value/}</td>
                </tr>
                </tbody>
            </table>
            <h4 ng-show="config.Cmd"><span>启动命令</span></h4>
            <dl ng-show="config.Cmd">
                <dt>启动命令：</dt>
                <dd>{/config.Cmd/}</dd>
            </dl>
        </div>
    </div>
</div>