<div class="main-container-body server-detail app-config">
    <div class="form-horizontal">
        <div>
            <dl>
                <dt>镜像地址：</dt>
                <dd>{/config.imageURI/}</dd>
            </dl>
            <dl>
                <dt>镜像版本：</dt>
                <dd>{/config.imageversion/}</dd>
            </dl>
            <dl>
                <dt>容器规格：</dt>
                <dd>CPU: {/config.containerCpuSize/} 内存: {/config.containerMemSize/}MB</dd>
            </dl>
            <dl>
                <dt>容器个数：</dt>
                <dd ng-show="config.taskNum">{/config.taskNum/}/{/config.containerNum/}<span ng-show="config.unique"> (每台主机只能运行一个当前容器应用)</span></dd>
                <dd ng-show="!config.taskNum">{/config.containerNum/}<span ng-show="config.unique"> (每台主机只能运行一个当前容器应用)</span></dd>
            </dl>
            <dl>
                <dt>应用模式：</dt>
                <dd>{/networkText[config.network]/}</dd>
            </dl>
            <dl ng-show="config.iplist">
                <dt>所在主机地址：</dt>
                <dd><span ng-repeat="ip in config.iplist">{/ip/} &nbsp; </span></dd>
            </dl>
            <h4 ng-show="config.containerVolumesInfo.length"><span>挂载目录</span></h4>
            <table class="table table-striped table-bordered" ng-show="config.containerVolumesInfo.length">
                <thead>
                <tr>
                    <th>数据目录</th>
                    <th>容器目录</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="volumeInfo in config.containerVolumesInfo">
                    <td>{/volumeInfo.hostPath/}</td>
                    <td>{/volumeInfo.containerPath/}</td>
                </tr>
                </tbody>
            </table>
            <h4 ng-show="config.containerPortsInfo.length"><span>应用地址</span></h4>
            <table class="table table-striped table-bordered" ng-show="config.containerPortsInfo.length">
                <thead>
                <tr>
                    <th>应用端口</th>
                    <th>类型</th>
                    <th>协议</th>
                    <th>地址</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="portInfo in config.containerPortsInfo">
                    <td>{/portInfo.appPort/}</td>
                    <td>{/portType[portInfo.type]/}</td>
                    <td>{/protocolType[portInfo.protocol]/}</td>
                    <td>
                        <p ng-show="portInfo.protocol === 1 && portInfo.type === 1" ng-repeat="proxyNode in proxyNodes">{/proxyNode.ip/}:{/portInfo.mapPort/}</p>
                        <p ng-show="portInfo.protocol === 1 && portInfo.type === 2 && portInfo.isUri === 2" ng-repeat="gateWay in gateWays">{/gateWay.ip/}:{/portInfo.mapPort/}</p>
                        <p ng-show="portInfo.protocol === 1 && portInfo.type === 2 && portInfo.isUri === 1">{/portInfo.uri/}</p>
                        <p ng-show="portInfo.protocol === 2 && portInfo.type === 1"  ng-repeat="proxyNode in proxyNodes">http://{/proxyNode.ip/}:{/portInfo.mapPort/}</p>
                        <p ng-show="portInfo.protocol === 2 && portInfo.type === 2 && portInfo.isUri === 1">http://{/portInfo.uri/}</p>
                        <p ng-show="portInfo.protocol === 2 && portInfo.type === 2 && portInfo.isUri === 2" ng-repeat="gateWay in gateWays">http://{/gateWay.ip/}:{/portInfo.mapPort/}</p>
                        <p ng-show="portInfo.protocol === 1 && portInfo.type === 2 && !portInfo.isUri "  ng-repeat="gateWay in gateWays">{/gateWay.ip/}:{/portInfo.mapPort/}</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <h4 ng-show="config.envs.length"><span>环境变量</span></h4>
            <table class="table table-striped table-bordered" ng-show="config.envs">
                <thead>
                <tr>
                    <th>KEY</th>
                    <th>VALUE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="envInfo  in config.envs">
                    <td>{/envInfo.key/}</td>
                    <td>{/envInfo.value/}</td>
                </tr>
                </tbody>
            </table>
            <h4 ng-show="config.cmd"><span>启动命令</span></h4>
            <dl ng-show="config.cmd">
                <dt>启动命令：</dt>
                <dd>{/config.cmd/}</dd>
            </dl>
        </div>
    </div>
</div>