<div class="main-container-body">
    <ul id="timeline">
        <li class="work" ng-repeat="event in events">
            <div class="relative">
                <span class="date">{/event.timestamp/}</span>
                <span class="circle"></span>
            </div>
            <div class="content">
                <p>
                    <span ng-show="event.appName">应用名称：<em>{/event.appName/}</em></span>
                    <span ng-show="event.taskId">实例名称：<em>{/event.taskId/}</em></span>
                    <span ng-show="event.currentType">事件类型：<em>{/currentTypeText[event.currentType]/}</em></span>
                    <span ng-show="event.eventType">事件结果：<em>{/eventTypeText[event.eventType]/}</em></span>
                </p>
            </div>
        </li>
    </ul>
    <uib-pagination total-items="totalItems" items-per-page="pageLength" ng-model="currentPage"
                    ng-change="pageChanged(currentPage)" data-ng-show="showPagination" previous-text="上一页"
                    next-text="下一页" max-size="5" rotate="false" boundary-links="true"
                    first-text="首页" last-text="最后一页"></uib-pagination>
</div>