<div class="main-container-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>实例名称</th>
            <th>状态</th>
            <th>启动时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instance in instances">
            <td>{/instance.instancdId/}</td>
            <td>{/appstate[instance.instancdStatus]/}</td>
            <td data-ng-hide="instance.hideStartTime">{/instance.startTime | date:"yyyy-MM-dd HH:mm:ss"/}</td>
            <td data-ng-show="instance.hideStartTime"></td>
        </tr>
        </tbody>
    </table>
</div>