<div class="page-header">
    <h1>应用管理</h1>
    <small>应用管理功能主要负责部署应用和管理应用的生命周期。<br>可以添加、删除、启动、停止应用，还可以弹性扩展应用实例数量。<br><a
            href="http://doc.shurenyun.com/practice/wordpress.html" target="_blank">如何搭建 Wordpress 个人博客</a></small>
    <a data-ui-sref="app.createapp" class="btn btn-success" data-demo-disable="left">新建应用</a>
</div>
<section>
    <div class="main-container">
        <div class="main-container-body">
            <div class="input-group col-xs-4 search-container">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchKeyWord" name="searchKeyWord"
                           placeholder="输入应用名称进行搜索" my-enter="doSearch(searchKeyWord)">
                    <div class="input-group-addon" ng-click="doSearch(searchKeyWord)"><i class="icon icon-search"></i>搜索
                    </div>
                </div><!-- /input-group -->
            </div>
            <table ng-table="appListTable" template-pagination="/views/common/ngTablePage.html"
                   class="table table-striped" ng-table-columns-binding="boundCols">
                <tbody>
                <tr ng-repeat="app in applist">
                    <td data-title="'应用名称'" sortable="'name'"><a href="#"
                                                                 data-ui-sref="app.appdetail.config({appId:app.appId})">{/app.appName/}</a>
                    </td>
                    <td data-title="'当前状态'">{/appstate[appListStatus[app.appId].status]/}</td>
                    <td data-title="'更新时间'" sortable="'update'">{/app.update | date:"yyyy-MM-dd HH:mm:ss"/}</td>
                    <td data-title="'所属集群'" sortable="'clusterId'"><a href="#"
                                                                      data-ui-sref="cluster.clusterdetails.nodes({clusterId:app.clusterId})">{/clusterNameMap[app.clusterId]/}</a>
                    </td>
                    <td data-title="'容器个数'" sortable="'containerNum'"><span
                            ng-show="appListStatus[app.appId].tasks && appListStatus[app.appId].tasks != app.containerNum">{/appListStatus[app.appId].tasks/}/{/app.containerNum/}</span>
                        <span ng-show="appListStatus[app.appId].tasks == app.containerNum || !appListStatus[app.appId].tasks">{/app.containerNum/}</span>
                    </td>
                    <td data-title="'操作'">
                        <button type="button"
                                data-ng-disabled="appListStatus[app.appId].status == '1' || appListStatus[app.appId].status=='3' || appListStatus[app.appId].status=='4'|| appListStatus[app.appId].status=='5' || !appListStatus[app.appId].status"
                                data-ng-click="upContainNum(app.appId, app.containerNum, app.appName)"
                                class="btn btn-default btn-xs" data-demo-disable>扩展
                        </button>
                        <button type="button"
                                data-ng-disabled="appListStatus[app.appId].status == '1' || appListStatus[app.appId].status=='3' || appListStatus[app.appId].status=='4'|| appListStatus[app.appId].status=='5' || !appListStatus[app.appId].status"
                                class="btn btn-default btn-xs"
                                data-ng-click="stopApp(app.appId, app.appName)"
                                data-ng-show="appListStatus[app.appId].status!='3'" data-demo-disable>停止
                        </button>
                        <button type="button"
                                data-ng-disabled="appListStatus[app.appId].status == '1' || appListStatus[app.appId].status=='2' || appListStatus[app.appId].status=='4'|| appListStatus[app.appId].status=='5' || !appListStatus[app.appId].status"
                                class="btn btn-default btn-xs"
                                data-ng-click="startApp(app.appId, app.appName)"
                                data-ng-show="appListStatus[app.appId].status == '3'" data-demo-disable>启动
                        </button>
                        <button type="button" class="btn btn-default btn-xs"
                                data-ng-click="undoApp(app.appId, app.appName)"
                                data-ng-show="appListStatus[app.appId].status == '6'" data-demo-disable>撤销
                        </button>
                        <button type="button"
                                data-ng-disabled="appListStatus[app.appId].status == '5'"
                                data-ng-click="deleteApp(app.appId, app.appName)" class="btn btn-default btn-xs" data-demo-disable>删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
