<form class="form-horizontal" name="dirForm" data-ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">挂载路径配置</h3><span>(挂载是双向的，文件和目录均可挂载)</span>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-2 control-label">主机路径</label>

            <div class="col-md-5"
                 data-ng-class="{ 'has-error' : dirForm.dateDir.$invalid && !dirForm.dateDir.$pristine}">
                <input type="text" name="dateDir" class="form-control"
                       data-ng-model="dirInfo.hostPath" data-required="required" ng-pattern="/^[^\u4e00-\u9fa5]*$/">
            </div>

            <div data-ng-class="{ 'has-error' : dirForm.dateDir.$invalid && !dirForm.dateDir.$pristine}">
                <p data-ng-show="dirForm.dateDir.$error.required && !dirForm.dateDir.$pristine"
                   class="help-block">数据目录必须有数据</p>
                <p data-ng-show="dirForm.dateDir.$error.pattern && !dirForm.dateDir.$pristine"
                   class="help-block">路径不能包含中文</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">容器路径</label>

            <div class="col-md-5"
                 data-ng-class="{ 'has-error' : dirForm.containerDir.$invalid && !dirForm.containerDir.$pristine}">
                <input type="text" name="containerDir" class="form-control"
                       data-ng-model="dirInfo.containerPath" data-required="required"
                       ng-pattern="/^[^\u4e00-\u9fa5]*$/">
            </div>

            <div data-ng-class="{ 'has-error' : dirForm.containerDir.$invalid && !dirForm.containerDir.$pristine}">
                <p data-ng-show="dirForm.containerDir.$error.required  && !dirForm.containerDir.$pristine"
                   class="help-block">容器目录必须有数据</p>
                <p data-ng-show="dirForm.containerDir.$error.pattern && !dirForm.containerDir.$pristine"
                   class="help-block">路径不能包含中文</p>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="dirForm.$invalid" style="width: 150px;">
            添 加
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()" style="width: 75px;">取 消</button>
    </div>
</form>