<div class="modal-header">
    <h3 class="modal-title">应用地址配置</h3>
</div>
<div class="modal-body" id="createPortModule">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">应用端口</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="inputEmail3" placeholder="端口号"
                               data-toggle="tooltip" data-placement="bottom" data-trigger="focus"
                               title="Tooltip on bottom" name="curPort" min="1" max="65535"
                               data-ng-model="portInfo.appPort">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">协议</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" value="1"
                                   data-ng-model="portInfo.protocol" ng-change="changeProtocol()"> TCP
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2"
                                   data-ng-model="portInfo.protocol" ng-change="changeProtocol()"> HTTP
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">类型</label>
                    <div class="col-sm-8">
                        <label class="radio-inline" ng-show="proxyNodes.length">
                            <input type="radio" value="1" data-ng-model="portInfo.type"
                                   ng-change="changeType(portInfo.type)"> 对内
                        </label>
                        <label class="radio-inline" ng-show="gateWays.length">
                            <input type="radio" value="2" data-ng-model="portInfo.type"
                                   ng-change="changeType(portInfo.type)"> 对外
                        </label>
                    </div>
                </div>
                <hr ng-show="portInfo.type && portInfo.protocol">
                <div class="form-group" data-ng-show="portInfo.type === '2' && portInfo.protocol === '2'">
                    <label class="col-sm-3 control-label"> </label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" ng-model="portInfo.isUri" value="1" ng-change="isURI(portInfo.isUri)">
                            有域名
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="portInfo.isUri" value="2" ng-change="isURI(portInfo.isUri)">
                            无域名
                        </label>
                    </div>
                </div>

                <div data-ng-show="portInfo.type === '2' && portInfo.isUri === '1' && portInfo.protocol === '2'">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">域名</label>
                        <div class="col-sm-6" ng-class="{'has-error' : uriOccupied(portInfo)}">
                            <input type="text" class="form-control" placeholder="域名地址" data-ng-model="portInfo.uri">
                        </div>
                        <span ng-show="uriOccupied(portInfo)" class="text-danger"
                              style="display: inline-block; margin-top: 10px;"> 域名被占用</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">映射端口</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" placeholder="端口号" data-ng-model="portInfo.mapPort"
                                   ng-disabled="true">
                        </div>
                    </div>
                </div>

                <div data-ng-show="(portInfo.protocol === '1' && portInfo.type === '1' && !portInfo.isUri) || (portInfo.protocol === '2' && portInfo.type === '1' )">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">代理节点</label>
                        <div class="col-sm-8">
                            <p ng-show="!proxyNodes.length" class="form-control-static">无节点 <span
                                    class="text-danger">(请在集群中添加代理节点)</span></p>

                            <p class="form-control-static"><span class="ip" ng-repeat="proxyNode in proxyNodes">{/proxyNode.ip/}</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error' : invalidPort(portInfo)}">
                        <label class="col-sm-3 control-label">映射端口</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" min="1" max="65535"
                                   data-ng-model="portInfo.mapPort">
                        </div>
                        <span ng-show="invalidPort(portInfo)" class="text-danger"
                              style="display: inline-block; margin-top: 10px;"> 端口被占用</span>
                    </div>
                </div>

                <div data-ng-show=" (portInfo.type === '2' && portInfo.isUri !== '1') || (portInfo.type === '2' && portInfo.protocol === '1')">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">网关节点</label>
                        <div class="col-sm-8">
                            <p ng-show="!gateWays.length" class="form-control-static"
                               style="word-wrap: break-word; ">
                                无节点 <span class="text-danger">(请在集群中添加网关节点)</span></p>

                            <p class="form-control-static" style="word-wrap: break-word; ">
                                <span class="ip" ng-repeat="gateWay in gateWays">{/gateWay.ip/}</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error' : invalidPort(portInfo)}">
                        <label class="col-sm-3 control-label">映射端口</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" min="1" max="65535"
                                   data-ng-model="portInfo.mapPort">
                        </div>
                        <span ng-show="invalidPort(portInfo)" class="text-danger"
                              style="display: inline-block; margin-top: 10px;"> 端口被占用</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">

            <div class="alert alert-info" role="alert" ng-class="{'alert-danger' : invalidPort(portInfo)}">
                <h5>不可用端口</h5>
                <hr>
                <div>
                    <strong>数人云保留端口: </strong><br> <span class="portrange">5000 ~ 5100</span><span class="portrange">10000 ~ 20000</span><span
                        class="portrange">31000 ~ 32000</span><br><br>
                </div>

                <div ng-show="portInfo.type == 1">
                    <strong>对内占用端口: </strong><br> <span ng-repeat="innerPort in innerPorts "
                                                        class="port">{/innerPort/} </span><br><br>
                </div>

                <div ng-show="portInfo.type == 2">
                    <strong>对外占用端口: </strong><br> <span ng-repeat="outPort in outerPorts"
                                                        class="port">{/outPort/} </span>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button"
            data-ng-disabled="isAddPortDisable(portInfo) || invalidPort(portInfo) || uriOccupied(portInfo)"
            data-ng-click="ok()" style="width: 150px;">添 加
    </button>
    <button class="btn btn-default" type="button" ng-click="cancel()" style="width: 75px;">取 消</button>
</div>
