<div class="page-header">
    <div>
        <h1 class="pull-left">新建应用</h1>
    </div>
</div>
<section>
    <div class="main-container new-app">
        <div class="main-container-body">
            <form class="form-horizontal" name="staticForm" data-ng-submit="deployApp()">
                <div class="form-group">
                    <label class="col-md-2 control-label">应用名称</label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.appName.$invalid && !staticForm.appName.$pristine}">
                        <input type="text" class="form-control" name="appName" ng-model="deployinfo.appName"
                               data-required="required"
                               ng-pattern="/^(([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])\\.)*([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])$/"
                               data-ng-maxlength="64" samename>
                    </div>
                    <div data-ng-class="{ 'has-error' : staticForm.appName.$invalid && !staticForm.appName.$pristine}">
                        <p data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine"
                           class="help-block">应用名不能为空</p>

                        <p data-ng-show="staticForm.appName.$error.pattern && !staticForm.appName.$pristine"
                           class="help-block">应用名称不符合 Marathon 命名规则</p>

                        <p data-ng-show="staticForm.appName.$error.samename && !staticForm.appName.$pristine"
                           class="help-block">应用名已存在</p>

                        <p data-ng-show="staticForm.appName.$error.maxlength && !staticForm.appName.$pristine"
                           class="help-block">最大长度 64 个字符</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">选择集群</label>

                    <div class="col-md-5">
                        <select class="form-control"
                                data-ng-options=" cluster.id as cluster.name disable when cluster.status != 'running' for cluster in clusters"
                                data-ng-model="clusterid" data-required="required"
                                ng-change="getNode(clusterid)">
                            <option value="">--- 选择应用将要运行在哪个集群上 ---</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">镜像地址</label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.imageurl.$invalid && !staticForm.imageurl.$pristine}">
                        <input type="text" class="form-control" name="imageurl" data-ng-model="deployinfo.imageURI"
                               data-required="required">
                    </div>
                    <div data-ng-class="{ 'has-error' : staticForm.imageurl.$invalid && !staticForm.imageurl.$pristine}">
                        <p data-ng-show="staticForm.imageurl.$error.required && !staticForm.imageurl.$pristine"
                           class="help-block">镜像地址不能为空</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">镜像版本</label>

                    <div class="col-md-5">
                        <input type="text" class="form-control" data-ng-model="imageversion" data-required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">应用类型</label>

                    <div class="col-md-5">
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="radio" value="1" data-required="required">
                            无状态应用
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" ng-model="radio" value="2" data-required="required">
                            有状态应用
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-show="radio === '2'">
                    <label class="col-md-2 control-label">主机选择</label>

                    <div class="col-md-5">
                        <select class="form-control"
                                data-ng-options=" nodeOk as nodeOk.name for nodeOk in nodesOk"
                                data-ng-model="nodeInfo" ng-change="getNodeOkIp(nodeInfo)"
                                ng-required="radio === '2'"></select>
                    </div>
                </div>

                <div class="form-group" ng-show="radio === '2'">
                    <label class="col-md-2 control-label">容器目录</label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.containerDir.$invalid && !staticForm.containerDir.$pristine}">
                        <input type="text" name="containerDir" class="form-control" placeholder="容器挂载目录"
                               data-ng-model="containerDir" ng-required="radio === '2'">
                    </div>

                    <div data-ng-class="{ 'has-error' : staticForm.containerDir.$invalid && !staticForm.containerDir.$pristine}">
                        <p data-ng-show="staticForm.containerDir.$error.required  && !staticForm.containerDir.$pristine"
                           class="help-block">容器目录必须有数据</p>
                    </div>
                </div>

                <div class="form-group" ng-show="radio === '2'">
                    <label class="col-md-2 control-label">数据目录</label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.dateDir.$invalid && !staticForm.dateDir.$pristine}">
                        <input type="text" name="dateDir" class="form-control" placeholder="数据挂载目录"
                               data-ng-model="dateDir" ng-required="radio === '2'">
                    </div>

                    <div data-ng-class="{ 'has-error' : staticForm.dateDir.$invalid && !staticForm.dateDir.$pristine}">
                        <p data-ng-show="staticForm.dateDir.$error.required && !staticForm.dateDir.$pristine"
                           class="help-block">数据目录必须有数据</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">容器规格</label>

                    <div class="col-md-2">
                        <slider ng-model="cpuSize" slider-tooltip="shows" handle="{/ cpuOptions.handle /}"
                                min="cpuOptions.min" step="cpuOptions.step" max="cpuOptions.max"></slider>
                        <p>CPU 共享: 1.0 现为:{/cpuSize/}</p>
                    </div>


                    <div class="col-md-2">
                        <slider ng-model="memSize" slider-tooltip="shows" scale="logarithmic"
                                handle="{/ memOptions.handle /}" min="memOptions.min" step="memOptions.step"
                                max="memOptions.max"></slider>
                        <p>内存最大值: 4096MB 现为:{/memSize/}MB</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">容器个数</label>

                    <div class="col-md-2"
                         data-ng-class="{ 'has-error' : staticForm.containerNum.$invalid && !staticForm.containerNum.$pristine }">
                        <input type="number" class="form-control" name="containerNum" data-ng-model="containerNum"
                               min="1" data-required="required">
                    </div>
                    <div data-ng-class="{ 'has-error' : staticForm.containerNum.$invalid && !staticForm.containerNum.$pristine }">
                        <p data-ng-show="staticForm.containerNum.$error.min && !staticForm.containerNum.$pristine"
                           class="help-block">容器个数必须大于 1 </p>

                        <p data-ng-show="staticForm.containerNum.$error.required && !staticForm.containerNum.$pristine"
                           class="help-block">容器个数不能为空 </p>
                    </div>
                </div>

                <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample" class="col-md-offset-2 ad-set">高级设置 <span class="caret"></span></a>

                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <div class="form-group" data-ng-repeat="choice in dynamicData.createPort">
                            <label class="col-md-2 control-label" data-ng-show="$first">端口号</label>

                            <div class="col-md-2"
                                 data-ng-class="{'col-md-offset-2': !$first,'has-error' : staticForm['portNum'+$index].$invalid}">
                                <input type="number" name="portNum{/$index/}" data-ng-model="choice.value" name=""
                                       class="form-control"
                                       placeholder="端口" min="1" max="65535" ng-required="choice.key || choice.uri">
                            </div>
                            <div class="col-md-2"
                                 data-ng-class="{ 'has-error' : staticForm['portType'+$index].$invalid}">
                                <select class="form-control" name="portType{/$index/}" data-ng-model="choice.key"
                                        ng-required="choice.uri || choice.value" ng-change="clearUri($index)">
                                    <option value="">选择类型</option>
                                    <option value="1">　对内 TCP</option>
                                    <option value="2">　对外 TCP</option>
                                    <option value="3">　对外标准 HTTP</option>
                                    <option value="4">　对内 HTTP</option>
                                    <option value="5">　对外 HTTP</option>
                                </select>
                            </div>

                            <div class="col-md-2" data-ng-show="choice.key === '2' || choice.key === '3' || choice.key === '5'"
                                 data-ng-class="{ 'has-error' : staticForm['portUri'+$index].$invalid}">
                                <input type="text" data-ng-model="choice.uri" name="portUri{/$index/}"
                                       class="form-control" placeholder="域名"
                                       ng-required="choice.key === '2' || choice.key === '3' || choice.key === '5'">
                            </div>

                            <button type="button" class="btn btn-default btn-xs" data-ng-show="$last"
                                    data-ng-click="dynamicData.removeChoice('createPort')">-
                            </button>
                            <button type="button" class="btn btn-default btn-xs" data-ng-show="$last"
                                    data-ng-click="dynamicData.addNewChoice('createPort')">+
                            </button>
                        </div>
                        <div class="form-group" data-ng-repeat="choice in dynamicData.createEnv">
                            <label class="col-md-2 control-label" data-ng-show="$first">
                                环境变量
                                <small>自定义环境变量</small>
                            </label>

                            <div class="col-md-3"
                                 data-ng-class="{'col-md-offset-3' : !$first,'has-error' : staticForm['envKey'+$index].$invalid}">
                                <input type="text" data-ng-model="choice.key" name="envKey{/$index/}"
                                       class="form-control"
                                       placeholder="Key --- PATH" ng-required="choice.value">
                            </div>
                            <div class="col-md-3"
                                 data-ng-class="{'has-error' : staticForm['envValue'+$index].$invalid}">
                                <input type="text" data-ng-model="choice.value" name="envValue{/$index/}"
                                       class="form-control"
                                       placeholder="Value" ng-required="choice.key">
                            </div>
                            <button type="button" class="btn btn-default btn-xs" data-ng-show="$last"
                                    data-ng-click="dynamicData.removeChoice('createEnv')">-
                            </button>
                            <button type="button" class="btn btn-default btn-xs" data-ng-show="$last"
                                    data-ng-click="dynamicData.addNewChoice('createEnv')">+
                            </button>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">启动命令</label>

                            <div class="col-md-4">
                                <input type="text" data-ng-model="cmdInput" name="" class="form-control"
                                       placeholder="输入需要的命令行">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" data-ng-disabled="staticForm.$invalid"> 创 建
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
