<div class="modal-header">
    <h3 class="modal-title">更改容器数量</h3>
</div>
<form class="form-horizontal" name="staticForm" data-ng-submit="ok()">
    <div class="modal-body">
        <div class="form-inline">
            <input type="number" class="form-control" data-ng-model="containerNum" min="1">
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="staticForm.$invalid" data-demo-disable>
            确定
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    </div>
</form>