<form class="form-horizontal" name="staticForm" data-ng-submit="dialogOk(appInfo.name)">
    <h3>版本更新</h3>

    <div data-ng-class="{ 'has-error' : staticForm.iamgeurl.$invalid && !staticForm.iamgeurl.$pristine}">

        <label>镜像地址:</label>
        <input type="text" class="form-control" name="iamgeurl" data-ng-model="updateImageInfo.imagesURL"
               placeholder="输入镜像地址" data-required="required">

        <p data-ng-show="staticForm.iamgeurl.$error.required && !staticForm.iamgeurl.$pristine" class="help-block">
            镜像地址不能为空</p>
    </div>

    <div data-ng-class="{ 'has-error' : staticForm.imageversion.$invalid && !staticForm.imageversion.$pristine}">
        <label>镜像版本:</label>
        <input type="text" class="form-control" name="imageversion" data-ng-model="updateImageInfo.imagesVersion"
               placeholder="输入镜像版本"
               data-required="required">

        <p data-ng-show="staticForm.imageversion.$error.required && !staticForm.imageversion.$pristine"
           class="help-block">
            镜像版本不能为空</p>
    </div>

    <br>

    <input type="submit" value="确定" class="btn btn-primary" data-ng-disabled="staticForm.$invalid">
    <input type="button" value="取消" class="btn btn-default" data-ng-click="closeThisDialog()">
</form>
