<div>
    <button type="button" data-ng-click="createInvitationCodes()">创建邀请码</button><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户名</th>
                <th>邀请码</th>
                <th>上次登录</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in users">
                <td>{/user.email/}</td>
                <td>{/user.invitation_code/}</td>
                <td>{/user.last_login/}</td>
            </tr>
        </tbody>
    </table>
</div>
