<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>请填写您的授权码</h2>
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <div flex layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" data-ng-model="inputLicenceCtrl.licence">
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="inputLicenceCtrl.openApplyModal()">
                申请授权码
            </md-button>
            <span flex></span>
            <md-button ng-click="inputLicenceCtrl.cancel()" aria-label="cancel">
                取消
            </md-button>

            <md-button ng-click="inputLicenceCtrl.ok()" style="margin-right:20px;">
                授权
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>