<div class="main-container">
    <section class="main-section">
        <header layout="row" layout-align="start center">
            <h2 flex data-ng-if="createRegistryCtrl.target==='create'">新建仓库</h2>
            <h2 flex data-ng-if="createRegistryCtrl.target==='update'">编辑仓库</h2>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">仓库地址</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" name="address"
                                   aria-label="address"
                                   data-ng-model="createRegistryCtrl.form.address"
                                   data-required="required"
                                   data-ng-pattern="/^\S*$/"
                                   data-ng-trim="true"
                                   data-ng-disabled="createRegistryCtrl.target==='update'">
                        </div>
                        <p class="help-info-bottom" data-ng-if="createRegistryCtrl.target!=='update'">
                            <small>只需填写域名或IP地址，不包含协议(如https://)。</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">用户名</label>
                    <div flex="50" layout="column">
                        <input type="text" class="form-input" name="username"
                               aria-label="username"
                               data-ng-model="createRegistryCtrl.form.username"
                               data-required="required"
                               data-ng-pattern="/^\S*$/"
                               data-ng-trim="true">
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">密码</label>
                    <div flex="50" layout="column">
                        <input type="password" class="form-input" name="password"
                               aria-label="password"
                               data-ng-model="createRegistryCtrl.form.password"
                               data-required="required"
                               data-ng-pattern="/^\S*$/"
                               data-ng-trim="true">
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="createRegistryCtrl.createRegistry($event)"
                                   data-ng-disabled="staticForm.$invalid" aria-label="create"
                                   data-ng-if="createRegistryCtrl.target==='create'">创 建
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-click="createRegistryCtrl.updateRegistry()"
                                   data-ng-disabled="staticForm.$invalid"
                                   data-ng-if="createRegistryCtrl.target==='update'"
                                   aria-label="update">更 新
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
