<div class="app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>应用目录</h2>
            </div>
        </header>
        <div class="main-content">
            <div layout="row" layout-wrap>
                <md-card flex="18" data-ng-repeat="repository in repoListCtrl.repositories">
                    <img data-ng-if="!IS_OFF_LINE" ng-src="{/repoListCtrl.repoImageBaseUrl/}{/repository.name/}.png" class="md-card-image" alt="Washed Out">
                    <img data-ng-if="IS_OFF_LINE" ng-src="{/repoListCtrl.OFF_LINE_IMAGE_URL/}{/repository.name/}.png" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{/repository.name/}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{/repository.description/}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" data-ui-sref="repository.detail({projectName: repository.projectName, repositoryName:repository.name})">部署</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </section>
</div>