<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>应用部署</h2>
            </div>
        </header>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="基本信息">
                    <md-content class="md-padding main-tab-content">
                        <form name="staticForm">
                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">应用名称</label>
                                <div flex="50" layout="column">
                                    <div flex="none">
                                        <input type="text" class="form-input" data-required="required"
                                               data-ng-model="repoDetailCtrl.form.app.appName">
                                    </div>
                                </div>
                                <div flex></div>
                            </div>

                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">应用版本</label>
                                <div flex="50" layout="column">
                                    <md-input-container>
                                        <md-select ng-model="repoDetailCtrl.form.app.imageVersion" aria-label="tag"
                                                   data-required="required">
                                            <md-option ng-repeat="tag in repoDetailCtrl.tags" ng-value="tag.version">
                                                {/tag.version/}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex></div>
                            </div>

                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">选择集群</label>
                                <div flex="50" layout="column">
                                    <md-input-container>
                                        <md-select data-ng-model="repoDetailCtrl.form.app.clusterId"
                                                   aria-label="cluster"
                                                   data-required="required">
                                            <md-option ng-repeat="cluster in repoDetailCtrl.clusters"
                                                       ng-value="cluster.id">
                                                {/cluster.name/}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex></div>
                            </div>

                            <!-- 容器规格 -->
                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">容器规格</label>

                                <div flex="50" layout="column">
                                    <div layout="row">
                                        <md-slider-container flex layout="row" layout-align="start center">
                                            <span flex="15">CPU 权重</span>
                                            <md-slider flex-offset="5" flex class="md-primary" md-discrete step="0.1"
                                                       min="0.1" max="1"
                                                       ng-model="repoDetailCtrl.form.app.cpus" aria-label="cpu"
                                                       id="cpu-slider">
                                            </md-slider>
                                        </md-slider-container>
                                    </div>
                                </div>
                                <div flex><span style="font-size: 36px;">
                                                {/repoDetailCtrl.form.app.cpus/}   </span></div>
                            </div>

                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15"></label>

                                <div flex="50" layout="column">
                                    <div layout="row">
                                        <md-slider-container flex layout="row" layout-align="start center">
                                            <span flex="15">内存大小</span>
                                            <md-slider flex-offset="5" flex class="md-warn"
                                                       ng-model="repoDetailCtrl.form.app.mem"
                                                       min="16" max="2048"
                                                       aria-label="mem" id="mem-slider">
                                            </md-slider>
                                        </md-slider-container>
                                    </div>
                                </div>
                                <div flex>
                                    <span style="font-size: 36px;">
                                                {/repoDetailCtrl.form.app.mem/}
                                            <sub>MB</sub>
                                        </span>
                                </div>
                            </div>

                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">容器个数</label>
                                <div flex="10" layout="column">
                                    <input type="number" name="instances" aria-label="instances"
                                           data-ng-model="repoDetailCtrl.form.app.instances"
                                           data-min="1"
                                           data-required="required">
                                    <p class="error-info help-info-bottom"
                                       data-ng-show="staticForm.instances.$error.min && !staticForm.instances.$pristine">
                                        <small>容器个数不小于 1</small>
                                    </p>

                                    <p class="error-info help-info-bottom"
                                       data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine">
                                        <small>容器个数不能为空</small>
                                    </p>
                                </div>
                                <div flex></div>
                            </div>

                            <div layout="row" layout-align="end start" class="form-group form-group-input"
                                 data-ng-show="repoDetailCtrl.questions.length">
                                <label flex="15">配置</label>
                                <div flex="50" layout="column">
                                    <dynamic-field field-data="fieldData"
                                                   ng-repeat="fieldData in repoDetailCtrl.questions">
                                    </dynamic-field>
                                </div>
                                <div flex></div>
                            </div>

                            <div layout="row" class="form-footer-button">
                                <div flex-offset="15" layout="row" layout-align="end end">
                                    <md-button class="md-raised md-primary"
                                               ng-disabled="staticForm.$invalid" data-demo-disable
                                               data-ng-click="repoDetailCtrl.deploy()">
                                        确认
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="详情">
                    <md-content class="main-tab-content">
                        <div class="alert alert-warning text-center" data-ng-if="!repoDetailCtrl.markdown">
                            暂无详情
                        </div>
                        <div btf-markdown="repoDetailCtrl.markdown">
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>
