<div class="main-container">
    <section class="main-section">
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">商品名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="appName"
                                   aria-label="appName"
                                   data-ng-model="createAppCtrl.form.name"
                                   data-required="required"
                                   data-ng-pattern="/^\S*$/"
                                   data-ng-trim="true"
                                   data-samename
                                   data-name-list="createAppCtrl.appNames"
                                   app-name-limit>
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine">
                            <small>商品名称不能为空</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.pattern && !staticForm.appName.$pristine">
                            <small>商品名称不能包含空白符号</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.samename">
                            <small>商品名称已存在</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.appNameLimit && !staticForm.appName.$pristine">
                            <small>最大长度48个字符(汉字占3个字符)</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
		<div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">商品图片</label>
                    <div flex="50" layout="column">
                        <div flex>
				<lf-ng-md-file-input lf-files='files' multiple preview> </lf-ng-md-file-input>
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageName.$error.required && !staticForm.imageName.$pristine">
                            <small>镜像地址不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">商品描述</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageName" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageName"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageName.$error.required && !staticForm.imageName.$pristine">
                            <small>镜像地址不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">商品价格</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageVersion" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageVersion"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageVersion.$error.required && !staticForm.imageVersion.$pristine">
                            <small>价格不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">商品产地</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="instances" aria-label="Number of containers"
                                   data-ng-model="createAppCtrl.form.instances"
                                   data-min="1"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.min && !staticForm.instances.$pristine">
                            <small>产地不能为空</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine">
                            <small>容器个数不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="createAppCtrl.createApp()"
                                   data-ng-disabled="staticForm.$invalid" data-demo-disable aria-label="create"
                                   >创 建
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
