FRONTEND_APIURL=http://devforward.dataman-inc.net
FRONTEND_STREAMING=ws://devstreaming.dataman-inc.net
FRONTEND_MARKET=http://devwww.dataman-inc.net
FRONTEND_ENVIRONMENT=dev
FRONTEND_IMAGE_BASE_URL=FRONTEND_IMAGE_BASE_URL
FRONTEND_GROUP_URL=10.3.20.51
FRONTEND_DEMO_URL=123.59.44.221
FRONTEND_DEMO_USER=demo@shurenyun.com
FRONTEND_BODY_DOMAIN=dataman-inc.net
FRONTEND_OFFLINE=false
FRONTEND_LICENCEON=false
FRONTEND_LOCAL_DM_HOST=LOCAL_DM_HOST
FRONTEND_AGENT_URL=AGENT_URL
NGINX_USER=nginx
NGINX_WORKER_PROCESSES=4
NGINX_WORKER_CONNECTIONS=10240
CONF_DASHBOARD_SERVERNAME=devdashboard.dataman-inc.net
CONF_DASHBOARD_LISTEN_PORT=80
