<div class="main-container app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>新建日志告警策略</h2>
            </div>
        </header>
        <div class="main-content">
            <form name="logwarningForm">
                <div layout="row" layout-align="end start" class="form-group form-group-input"
                     data-ng-if="createLogWarningCtrl.target === 'update'">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" aria-label="updateapp"
                                   data-ng-model="createLogWarningCtrl.form.appname" data-ng-disabled="true">
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-select"
                     data-ng-if="createLogWarningCtrl.target === 'create'">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <md-select data-ng-model="createLogWarningCtrl.app"
                                       data-required="required" aria-label="createapp">
                                <md-option ng-repeat="app in createLogWarningCtrl.apps" ng-value="app">{/app.name/}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">监控关键字</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" name="keyword"
                                   placeholder="多个关键字用 , 分隔"
                                   data-ng-model="createLogWarningCtrl.form.keyword"
                                   data-required="required">
                        </div>
                    </div>
                    <div flex></div>
                </div>
                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">监控周期</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input" name="interval"
                                   data-ng-model="createLogWarningCtrl.form.interval"
                                   data-required="required" integer
                                   max="255" min="1">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="logwarningForm.interval.$error.max && !logwarningForm.interval.$pristine">
                            <small>最大值不得超过 255</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="logwarningForm.interval.$error.min && !logwarningForm.interval.$pristine">
                            <small>最小值不得低于 1</small>
                        </p>
                    </div>
                    <div flex><span class="form-input-addon">分钟</span></div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">出现次数</label>
                    <div flex="50" layout="column">
                        <div flex="25">
                            <input type="number" class="form-input" name="gtnum"
                                   data-ng-model="createLogWarningCtrl.form.gtnum" min="0" integer
                                   data-required="required">
                        </div>
                    </div>
                    <div flex><span class="form-input-addon">次数</span></div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">告警联系人</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" name="emails"
                                   data-required="required" data-ng-model="createLogWarningCtrl.form.emails">
                        </div>
                        <p class="help-info-bottom">mail1@123.com, mail2@123.com, ...</p>
                    </div>
                    <div flex></div>
                </div>

                <!--应用扩缩-->
                <div layout="row" layout-align="end start" class="form-group form-group-radio">
                    <label flex="15">是否扩缩</label>
                    <div flex="15" layout="column">
                        <md-radio-group ng-model="createLogWarningCtrl.form.scaling" layout="row">
                            <md-radio-button data-ng-value="true" flex> 是</md-radio-button>
                            <md-radio-button data-ng-value="false" flex> 否</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div flex></div>
                </div>
                <!--实例数-->
                <div layout="row" layout-align="end start" class="form-group form-group-input"
                     data-ng-if="createLogWarningCtrl.form.scaling">
                    <label flex="15">实例数</label>
                    <div flex="50" layout="column">
                        <div layout="row">
                            <input type="number" class="form-input"
                                   name="maxInstance" aria-label="max"
                                   ng-min="Math.max(createLogWarningCtrl.form.mins || 0, 0)"
                                   ng-required="createLogWarningCtrl.form.scaling"
                                   data-ng-model="createLogWarningCtrl.form.maxs" flex placeholder="最大值">
                            <input type="number" class="form-input"
                                   name="minInstance" aria-label="mix" ng-max="createLogWarningCtrl.form.maxs"
                                   ng-required="createLogWarningCtrl.form.scaling" min="0"
                                   data-ng-model="createLogWarningCtrl.form.mins" flex flex-offset="5"
                                   placeholder="最小值">
                        </div>
                        <p ng-messages="logwarningForm.maxInstance.$error" ng-if="logwarningForm.maxInstance.$dirty"
                           class="help-info-bottom error-info">
                            <small ng-message="min">实例数必须大于 0 并且最大值不能小于最小值</small>
                            <small ng-message="required">最大实例数不能为空</small>
                        </p>
                        <p ng-messages="logwarningForm.minInstance.$error" ng-if="logwarningForm.minInstance.$dirty"
                           class="help-info-bottom error-info">
                            <small ng-message="max">最小值不能大于最大值</small>
                            <small ng-message="min">实例数必须大于 0</small>
                            <small ng-message="required">最小实例数不能为空</small>
                        </p>
                        <p class="help-info-bottom">
                            <small>*选择自动扩缩,达到条件应用实例会扩展至最大实例数,随后若无告警信息发生则每分钟缩减一个实例，直至最小实例个数。</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15" layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary"
                                    data-demo-disable
                                   data-ng-if="createLogWarningCtrl.target === 'create'"
                                   data-ng-click="createLogWarningCtrl.submit()"
                                   data-ng-disabled="logwarningForm.$invalid">创 建</md-button>
                        <md-button class="md-raised md-primary"
                                    data-demo-disable
                                   data-ng-if="createLogWarningCtrl.target === 'update'"
                                   data-ng-click="createLogWarningCtrl.submit()"
                                   data-ng-disabled="logwarningForm.$invalid">更 新</md-button>
                    </div>
                    <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                </div>
            </form>
        </div>

        <footer></footer>
        <section>
        </section>
    </section>
</div>