<div class="main-content app-layout" id="dashboard"
     ng-repeat="(clusterId, cluster) in dashboardCtrl.clusterList track by clusterId">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2><a href="#" data-ui-sref="cluster.clusterdetails.nodes({clusterId:clusterId})">{/cluster.name/}</a>
                </h2>
                <dl>
                    <dt><i class="fa fa-heartbeat "></i> 正常主机</dt>
                    <dd class="text-success">{/dashboardCtrl.statusMgr.nodeStatusCount[clusterId].running || 0/}</dd>
                    <dt><i class="fa fa-chain-broken"></i> 失联主机</dt>
                    <dd class="text-danger">{/dashboardCtrl.statusMgr.nodeStatusCount[clusterId].terminated || 0/}</dd>
                    <dt><i class="fa fa-exclamation-triangle "></i>预警主机</dt>
                    <dd class="text-warning">{/dashboardCtrl.statusMgr.nodeStatusCount[clusterId].abnormal || 0/}</dd>
                    <dt><i class="fa fa-bomb "></i>异常主机</dt>
                    <dd class="text-danger">{/dashboardCtrl.statusMgr.nodeStatusCount[clusterId].failed || 0/}</dd>
                    <dt><i class="fa fa-cog "></i> 其他主机</dt>
                    <dd class="text-info">
                        {/(dashboardCtrl.statusMgr.nodeStatusCount[clusterId].installing+dashboardCtrl.statusMgr.nodeStatusCount[clusterId].upgrading+dashboardCtrl.statusMgr.nodeStatusCount[clusterId].initing+dashboardCtrl.statusMgr.nodeStatusCount[clusterId].repairing)
                        || 0/}
                    </dd>

                </dl>
            </div>
        </header>
        <div class="main-content" id="dasboard" layout="row" layout-align="start start">
            <div flex="50" layout="row" layout-align="start center" class="cluster-charts-panel">
                <div flex="40">
                    <div class="charts-panel">
                        <piechart chart-used="cluster.masMetrics.cpuPercent" chart-total="100" radius="[57, 67]"
                                  use-color="#00BCD4" show-text="CPU占用" font-size="24" text-color="#596679"
                                  error-code="dashboardCtrl.errorCode">
                        </piechart>
                    </div>
                    <div class="info-panel" data-ng-if="cluster.masMetrics.cpuPercent">
                        CPU 占用量<br>
                        <div class="cluster-piechart-num" ng-show="cluster.masMetrics.cpuTotal">
                            {/cluster.masMetrics.cpuShare.toFixed(2)/}
                            / {/cluster.masMetrics.cpuTotal/}
                        </div>
                    </div>
                </div>
                <div flex="40">
                    <div class="charts-panel">
                        <piechart chart-used="cluster.masMetrics.memUsed" chart-total="cluster.masMetrics.memTotal"
                                  radius="[57, 67]"
                                  use-color="#00BCD4" show-text="内存占用" text-color="#596679"
                                  error-code="dashboardCtrl.errorCode"
                                  font-size="24">
                        </piechart>
                    </div>
                    <div class="info-panel" data-ng-if="cluster.masMetrics.memUsed">
                        内存占用量<br>
                        <div class="cluster-piechart-num" ng-show="cluster.masMetrics.memTotal">
                            {/cluster.masMetrics.memUsed/}
                            / {/cluster.masMetrics.memTotal | currency: '' :0/} MB
                        </div>
                    </div>
                </div>
            </div>
            <div flex="40">
                <div class="fold-panel mCustomScrollbar" data-ng-class="{'dropShow':dashboardCtrl.dropStatus}"
                     data-mcs-theme="dark">
                    <div ng-repeat="appMon in cluster.appMonitors" class="appGroup">
                        <dl layout="row" layout-align="start center" class="app-charts-panel">
                            <dt class="app-header">{/appMon.appName/}</dt>
                            <dd flex="30">
                                <div class="charts-panel">
                                    <piechart chart-used="appMon.appCpuUsed" chart-total="appMon.appCpuShare"
                                              radius="[34, 40]"
                                              use-color="#009688" show-text="CPU使用" font-size="16" text-color="#596679"
                                              error-code="dashboardCtrl.errorCode"
                                              status="appMon.status">
                                    </piechart>
                                </div>
                            </dd>
                            <dd flex="30">
                                <div class="charts-panel">
                                    <piechart chart-used="appMon.appMemUsed" chart-total="appMon.appMemShare"
                                              radius="[34, 40]"
                                              use-color="#009688" show-text="内存使用" font-size="16" text-color="#596679"
                                              error-code="dashboardCtrl.errorCode"
                                              status="appMon.status">
                                    </piechart>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="btn-folding-v" data-ng-if="cluster.appMonitors.length > 2">
                    <a href="#" data-ng-click="dashboardCtrl.dropShow()"><i class="fa"
                                                                            data-ng-class="{'fa-chevron-down':!dashboardCtrl.dropStatus, 'fa-chevron-up': dashboardCtrl.dropStatus}"></i></a>
                </div>
            </div>
        </div>
        <section>
        </section>
    </section>

</div>