<div class="main-container">
    <section class="main-section">
	<header layout="row" layout-align="end start">
            <div layout-align="end center" class="operation">
		Basic Info
            </div>
        </header>

        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">CPUs</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="cpus" aria-label="cpu"
                                   data-ng-model="updateAppCtrl.form.cpus"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.cpus.$error.required && !staticForm.cpus.$pristine">
                            <small>CPUs must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">Memory</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="memory" aria-label="memory"
                                   data-ng-model="updateAppCtrl.form.mem"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.memory.$error.required && !staticForm.memory.$pristine">
                            <small>Memory must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
		<div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">Disk</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="disk" aria-label="disk"
                                   data-ng-model="updateAppCtrl.form.disk"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.disk.$error.required && !staticForm.disk.$pristine">
                            <small>Disk must not be empty</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="updateAppCtrl.stategy()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="next"
                                   >Next
                        </md-button>
                    </div>
		    <div flex-offset="30">
                        <md-button class="md-raised md-primary" data-ng-disabled="staticForm.$invalid"
				data-ng-click="updateAppCtrl.cancel()">Cancel</md-button>
		    </div>
                </div>

            </form>
        </div>
    </section>
</div>
