<div class="page-header">
    <div>
        <h1 class="pull-left" data-ng-if="createWarningCtrl.target === 'create'">新建告警策略</h1>
        <h1 class="pull-left" data-ng-if="createWarningCtrl.target === 'update'">更新告警策略</h1>
    </div>
</div>
<section>
    <div class="main-container new-app">
        <div class="main-container-body">
            <form class="form-horizontal" name="warningForm">
                <div class="form-group" data-ng-if="createWarningCtrl.target === 'update'">
                    <label class="col-md-2 control-label">应用名称</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="appName"
                               data-ng-model="createWarningCtrl.form.appname" data-ng-disabled="true">
                    </div>
                </div>
                <div class="form-group" data-ng-if="createWarningCtrl.target === 'create'">
                    <label class="col-md-2 control-label">应用名称</label>
                    <div class="col-md-5">

                        <select class="form-control"
                                data-ng-options="app as app.name for app in createWarningCtrl.apps"
                                data-ng-model="createWarningCtrl.app"
                                data-required="required">
                            <option value="">---请选择应用---</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">告警规则</label>
                    <div class="col-md-2">
                        <select class="form-control"
                                data-ng-options="rule.label as rule.name for rule in createWarningCtrl.selectRules"
                                data-ng-model="createWarningCtrl.form.metric"
                                data-required="required">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" data-ng-model="createWarningCtrl.form.operator"
                                data-ng-options="size.label as size.name for size in createWarningCtrl.selectSize"
                                data-required="required">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group" data-ng-if="createWarningCtrl.form.metric === 'MemoryUsed'"
                             data-ng-class="{ 'has-error' : warningForm.memused.$invalid && !warningForm.memused.$pristine}">
                            <input type="text" class="form-control" placeholder="数值"
                                   data-ng-model="createWarningCtrl.form.threshold" name="memused"
                                   ng-required="createWarningCtrl.form.metric === 'MemUsed'">
                            <span class="input-group-addon" id="memused">Mb</span>
                        </div>
                        <div class="input-group" data-ng-if="createWarningCtrl.form.metric === 'CpuUsedCores'"
                             data-ng-class="{ 'has-error' : warningForm.cpuused.$invalid && !warningForm.cpuused.$pristine}">
                            <input type="text" class="form-control" placeholder="数值"
                                   data-ng-model="createWarningCtrl.form.threshold" name="cpuused"
                                   ng-required="createWarningCtrl.form.metric === 'CpuUsed'">
                            <span class="input-group-addon" id="cpuused">%</span>
                        </div>
                        <div class="input-group"
                             data-ng-if="createWarningCtrl.form.metric === 'DiskIOReadBytesRate' || createWarningCtrl.form.metric === 'DiskIOWriteBytesRate'"
                             data-ng-class="{ 'has-error' : warningForm.diskused.$invalid && !warningForm.diskused.$pristine}">
                            <input type="text" class="form-control" placeholder="数值"
                                   data-ng-model="createWarningCtrl.form.threshold" name="diskused"
                                   ng-required="createWarningCtrl.form.metric === 'DiskUsed'">
                            <span class="input-group-addon" id="diskused">Kb/s</span>
                        </div>
                        <div class="input-group"
                             data-ng-if="createWarningCtrl.form.metric === 'NetworkReceviedByteRate' || createWarningCtrl.form.metric === 'NetworkSentByteRate'"
                             data-ng-class="{ 'has-error' : warningForm.netused.$invalid && !warningForm.netused.$pristine}">
                            <input type="text" class="form-control" placeholder="数值"
                                   data-ng-model="createWarningCtrl.form.threshold" name="netused"
                                   ng-required="createWarningCtrl.form.metric === 'NetUsed'">
                            <span class="input-group-addon" id="netused">Kb/s</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">监控周期</label>
                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : warningForm.duration.$invalid && !warningForm.duration.$pristine}">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="数值"
                                   aria-describedby="basic-addon2" data-ng-model="createWarningCtrl.form.duration"
                                   data-required="required" name="duration" max="255">
                            <span class="input-group-addon" id="duration">分钟</span>
                        </div>
                    </div>

                    <div data-ng-class="{ 'has-error' : warningForm.duration.$invalid && !warningForm.duration.$pristine}">
                        <p data-ng-show="warningForm.duration.$error.max && !warningForm.duration.$pristine"
                           class="help-block">最大值不得超过 255</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">连续达到阈值</label>
                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : warningForm.times.$invalid && !warningForm.times.$pristine}">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="数值"
                                   aria-describedby="basic-addon2" data-ng-model="createWarningCtrl.form.times"
                                   data-required="required" name="times" max="255">
                            <span class="input-group-addon" id="times">次</span>
                        </div>
                    </div>

                    <div data-ng-class="{ 'has-error' : warningForm.times.$invalid && !warningForm.times.$pristine}">
                        <p data-ng-show="warningForm.times.$error.max && !warningForm.times.$pristine"
                           class="help-block">最大值不得超过 255</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">告警联系人</label>
                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : warningForm.emails.$invalid && !warningForm.emails.$pristine}">
                        <input type="text" class="form-control" placeholder="mail1@123.com; mail2@123.com, ..."
                               name="emails"
                               data-required="required" data-ng-model="createWarningCtrl.form.emails">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5" data-ng-if="createWarningCtrl.target === 'create'">
                        <button type="submit" class="btn btn-primary btn-block"
                                data-ng-click="createWarningCtrl.create()"
                                data-ng-disabled="warningForm.$invalid">创 建
                        </button>
                    </div>

                    <div class="col-md-offset-2 col-md-5" data-ng-if="createWarningCtrl.target === 'update'">
                        <button type="submit" class="btn btn-primary btn-block"
                                data-ng-click="createWarningCtrl.update()"
                                data-ng-disabled="warningForm.$invalid">更 新
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>