<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>镜像地址</th>
            <th md-column>权重</th>
            <th md-column>实例个数</th>
            <th md-column>状态</th>
            <th md-column>更新时间</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="canary in canaryCtrl.canaryList">
            <td md-cell>
                {/canary.Image/}:{/canary.Version/}
            </td>
            <td md-cell>
                {/canary.Weight/} %
            </td>
            <td md-cell>
                <span data-ng-if="canaryCtrl.canaryStatus[canary.Vid].tasks && canaryCtrl.canaryStatus[canary.Vid].tasks != canaryCtrl.canaryStatus[canary.Vid].instances">
                    {/canaryCtrl.canaryStatus[canary.Vid].tasks/}/{/canaryCtrl.canaryStatus[canary.Vid].instances/}
                </span>
                <span data-ng-if="canaryCtrl.canaryStatus[canary.Vid].tasks == canaryCtrl.canaryStatus[canary.Vid].instances">
                    {/canaryCtrl.canaryStatus[canary.Vid].instances/}
                </span>
            </td>
            <td md-cell>
                {/canaryCtrl.CANARY_STATUS[canaryCtrl.canaryStatus[canary.Vid].status]/}
            </td>
            <td md-cell>
                {/canary.Updated | date:"yyyy-MM-dd HH:mm:ss"/}
            </td>
            <td md-cell>
                <md-button aria-label="start" class="md-button md-raised"
                           data-ng-if="canaryCtrl.canaryStatus[canary.Vid].status == '3'"
                           data-ng-click="canaryCtrl.start(canary.Cid, canary.Aid, canary.Vid)"
                           data-demo-disable>
                    启动
                </md-button>

                <md-button aria-label="stop" class="md-button md-raised"
                           data-ng-if="canaryCtrl.canaryStatus[canary.Vid].status != '3'"
                           data-ng-click="canaryCtrl.stop(canary.Cid, canary.Aid, canary.Vid)"
                           data-demo-disable>
                    停止
                </md-button>

                <md-menu md-offset="0 -5">
                    <md-button aria-label="appListMenu" class="md-button md-raised"
                               ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="upContainer"
                                       data-ng-click="canaryCtrl.upContainer($event, canary.Instances, canary.Cid, canary.Aid, canary.Vid)"
                                       data-demo-disable>扩展
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="weight"
                                       data-ng-click="canaryCtrl.changeWeight($event, canaryCtrl.canaryList)"
                                       data-demo-disable>权重
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="delete"
                                       data-ng-click="canaryCtrl.del(canary.Cid, canary.Aid, canary.Vid)"
                                       data-demo-disable>删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="!canaryCtrl.canaryList.length">
        未查询到灰度版本
    </div>
</md-table-container>