<div class="main-container app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>{/detailAppCtrl.appInfo.name/}</h2>
                <dl>
                    <dt>最近更新时间</dt>
                    <dd>{/detailAppCtrl.appInfo.update | date:"yyyy-MM-dd HH:mm:ss"/}</dd>
                    <dt>应用状态</dt>
                    <dd>
                        {/APP_STATUS[detailAppCtrl.appStatus.status]/}
                        <span class="text-danger" data-ng-if="detailAppCtrl.appStatus.lastfailure">({/APP_FAIL_RESULT[detailAppCtrl.appStatus.lastfailure]/})</span>
                    </dd>
                </dl>
                <dl>
                    <dt>健康</dt>
                    <dd>{/detailAppCtrl.appInfo.health/}</dd>
                    <dt>不健康</dt>
                    <dd>{/detailAppCtrl.appInfo.unhealth/}</dd>
                    <dt>未知</dt>
                    <dd>{/detailAppCtrl.appInfo.unknown/}</dd>
                </dl>
            </div>
            <div layout-align="end center" class="operation">
                <md-fab-speed-dial md-open="false" md-direction="left"
                                   class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-mini">
                            <md-tooltip md-direction="top">更多操作</md-tooltip>
                            <i class="fa fa-ellipsis-h"></i>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="start" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-disabled="detailAppCtrl.appStatus.status != '3'"
                                   data-ng-click="detailAppCtrl.start(detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id)">
                            <md-tooltip md-direction="top">启动</md-tooltip>
                            <i class="fa fa-play"></i>
                        </md-button>
                        <md-button aria-label="stop" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-disabled="detailAppCtrl.appStatus.status != '2'"
                                   data-ng-click="detailAppCtrl.stop(detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id)">
                            <md-tooltip md-direction="top">停止</md-tooltip>
                            <i class="fa fa-stop"></i>
                        </md-button>
                        <md-button aria-label="delete" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-disabled="detailAppCtrl.appStatus.status == 'undefined' || detailAppCtrl.appStatus.status == '5'"
                                   data-ng-click="detailAppCtrl.delete(detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id)">
                            <md-tooltip md-direction="top">删除</md-tooltip>
                            <i class="fa fa-trash"></i>
                        </md-button>
                        <md-button aria-label="undo" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-disabled="detailAppCtrl.appStatus.status != '6'"
                                   data-ng-click="detailAppCtrl.undo(detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id)">
                            <md-tooltip md-direction="top">撤销</md-tooltip>
                            <i class="fa fa-arrow-left"></i>
                        </md-button>
                        <md-button aria-label="upcontainer" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-click="detailAppCtrl.upContainerModal($event, detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id, detailAppCtrl.appInfo.instances)"
                                   data-ng-disabled="(detailAppCtrl.appStatus.status != '2' && detailAppCtrl.appStatus.status != '3') || detailAppCtrl.appInfo.canary">
                            <md-tooltip md-direction="top">扩展</md-tooltip>
                            <i class="fa fa-expand"></i>
                        </md-button>
                        <md-button aria-label="undo" class="md-fab md-raised md-mini" data-demo-disable
                                   ng-disabled="detailAppCtrl.appStatus.status != '9'"
                                   data-ng-click="detailAppCtrl.redeploy(detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id)">
                            <md-tooltip md-direction="top">恢复</md-tooltip>
                            <i class="fa fa-medkit"></i>
                        </md-button>
                        <md-button aria-label="update" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ui-sref="app.update({cluster_id:detailAppCtrl.appInfo.cid, app_id: detailAppCtrl.appInfo.id})"
                                   data-ng-disabled="detailAppCtrl.appInfo.canary || (detailAppCtrl.appStatus.status != '2' && detailAppCtrl.appStatus.status != '3') ">
                            <md-tooltip md-direction="top">更新</md-tooltip>
                            <i class="fa fa-repeat"></i>
                        </md-button>
                        <!--<md-button aria-label="canary" class="md-fab md-raised md-mini" data-demo-disable
                                   data-ng-click="detailAppCtrl.createCanary($event, detailAppCtrl.appInfo.cid, detailAppCtrl.appInfo.id, detailAppCtrl.appInfo)"
                                   data-ng-disabled=" detailAppCtrl.appStatus.status != '2' || !detailAppCtrl.appInfo.ports.length || detailAppCtrl.appInfo.canary">
                            <md-tooltip md-direction="top">新建灰度</md-tooltip>
                            <i class="fa fa-adjust"></i>
                        </md-button>-->
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </header>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="配置" dm-tab-sref="app.detail.config"></md-tab>
                <md-tab label="版本" dm-tab-sref="app.detail.version"></md-tab>
                <md-tab label="监控" dm-tab-sref="app.detail.monitoring"></md-tab>
                <md-tab label="实例" dm-tab-sref="app.detail.instance"></md-tab>
                <md-tab label="事件" dm-tab-sref="app.detail.event"></md-tab>
                <md-tab label="Debug" dm-tab-sref="app.detail.debug"></md-tab>
                <!--<md-tab label="灰度发布" dm-tab-sref="app.detail.canary"></md-tab>-->
            </md-tabs>
            <md-content class="md-padding main-tab-content" ui-view>
            </md-content>
    </section>
</div>