<div class="main-container">
    <div class="main-container-body">
        <div class="row">
            <div class="main-container-body col-md-4 col-md-offset-1">
                <div flex="50" layout="row" layout-align="start center" class="cluster-charts-panel">
                    <div flex="40">
                        <div class="charts-panel">
                            <piechart chart-used="monitorAppCtrl.cpuUsedCores"
                                      chart-total="monitorAppCtrl.cpuShareCores" radius="[57, 67]"
                                      use-color="#00BCD4" show-text="CPU占用" font-size="24" text-color="#596679"
                                      error-code="monitorAppCtrl.errorCode" status="appStatus.status">
                            </piechart>
                        </div>
                        <div class="info-panel">
                            CPU 占用量<br>
                            <div class="cluster-piechart-num">{/monitorAppCtrl.cpuUsedCores.toFixed(2)/}
                                / {/monitorAppCtrl.cpuShareCores.toFixed(2)/}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container-body col-md-4 col-md-offset-3">
                <div flex="50" layout="row" layout-align="start center" class="cluster-charts-panel">
                    <div flex="40">
                        <div class="charts-panel">
                            <piechart chart-used="monitorAppCtrl.memoryUsed" chart-total="monitorAppCtrl.memoryTotal"
                                      radius="[57, 67]"
                                      use-color="#00BCD4" show-text="CPU占用" font-size="24" text-color="#596679"
                                      error-code="monitorAppCtrl.errorCode" status="appStatus.status">
                            </piechart>
                        </div>
                        <div class="info-panel">
                            内存占用量<br>
                            <div class="cluster-piechart-num">{/monitorAppCtrl.memoryUsed.toFixed(2)/}
                                / {/monitorAppCtrl.memoryTotal.toFixed(2)/}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>实例</th>
                    <th>CPU用量</th>
                    <th>内存用量 (MB)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, appMonitor) in monitorAppCtrl.appMonitors">
                    <td>{/appMonitor.app.appId/}</td>
                    <td style="width: 30%;">
                        <uib-progressbar class="progress-striped active" id="instanceCpu" type="info"
                                         max="appMonitor.cpuShareCores" value="appMonitor.cpuUsedCores"><span>{/appMonitor.cpuUsedCores.toFixed(2)/} / {/appMonitor.cpuShareCores/}</span>
                        </uib-progressbar>
                    </td>
                    <td style="width: 30%;">
                        <uib-progressbar class="progress-striped active" id="instanceMem" type="success"
                                         max="appMonitor.memoryTotal" value="appMonitor.memoryUsed"><span>{/appMonitor.memoryUsed/} / {/appMonitor.memoryTotal/}</span>
                        </uib-progressbar>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-if="monitorAppCtrl.withGrafana !== 'GF_BASE_URL'" ng-repeat="metricUrl in appIframeUrls">
            <iframe ng-src="{/metricUrl/}"
                    width="100%" height="250" frameborder="0" scrolling="no" style="overflow:hidden">
            </iframe>
        </div>
    </div>
</div>
