<div layout="row" layout-align="end start">

    <div flex="40" layout="row">

        <div flex layout="column" layout-align="start center" class="cluster-charts-panel">
            <div flex="40">
                <div class="charts-panel">
                    <piechart chart-used="monitorAppCtrl.cpuUsedCores"
                              chart-total="monitorAppCtrl.cpuShareCores" radius="[57, 67]"
                              use-color="#00BCD4" show-text="CPU占用" font-size="24" text-color="#596679"
                              error-code="monitorAppCtrl.errorCode" status="detailAppCtrl.appStatus.status">
                    </piechart>
                </div>
                <div class="info-panel">
                    CPU 占用量<br>
                    <div class="cluster-piechart-num">{/monitorAppCtrl.cpuUsedCores.toFixed(2)/}
                        / {/monitorAppCtrl.cpuShareCores.toFixed(2)/}
                    </div>
                </div>
            </div>
        </div>

        <div flex layout="column" layout-align="start center" class="cluster-charts-panel">
            <div flex="40">
                <div class="charts-panel">
                    <piechart chart-used="monitorAppCtrl.memoryUsed" chart-total="monitorAppCtrl.memoryTotal"
                              radius="[57, 67]"
                              use-color="#00BCD4" show-text="内存占用" font-size="24" text-color="#596679"
                              error-code="monitorAppCtrl.errorCode" status="detailAppCtrl.appStatus.status">
                    </piechart>
                </div>
                <div class="info-panel">
                    内存占用量<br>
                    <div class="cluster-piechart-num">{/monitorAppCtrl.memoryUsed.toFixed(2)/}
                        / {/monitorAppCtrl.memoryTotal.toFixed(2)/}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex="55" flex-offset="5">
        <table class="table">
            <thead>
            <tr>
                <th>容器</th>
                <th>CPU 使用量</th>
                <th>内存使用量</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, appMonitor) in monitorAppCtrl.appMonitors">
                <td>{/appMonitor.app.appId/}</td>
                <td style="width: 30%;">
                    <uib-progressbar class="progress-striped active" id="instanceCpu" type="info"
                                     max="appMonitor.cpuShareCores" value="appMonitor.cpuUsedCores"><span>{/appMonitor.cpuUsedCores.toFixed(2)/} / {/appMonitor.cpuShareCores/}</span>
                    </uib-progressbar>
                </td>
                <td style="width: 30%;">
                    <uib-progressbar class="progress-striped active" id="instanceMem" type="success"
                                     max="appMonitor.memoryTotal" value="appMonitor.memoryUsed"><span>{/appMonitor.memoryUsed/} / {/appMonitor.memoryTotal/}</span>
                    </uib-progressbar>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="req-rate-chart" style="width:100%;height:250px;"></div>
<div data-ng-if="monitorAppCtrl.withGrafana !== 'GF_BASE_URL'" ng-repeat="metricUrl in monitorAppCtrl.appIframeUrls">
    <iframe ng-src="{/metricUrl/}"
            width="100%" height="250" frameborder="0" scrolling="no" style="overflow:hidden">
    </iframe>
</div>
