<div class="page-header">
    <h1>构建镜像</h1>
    <a data-ui-sref="imageCreate" class="btn btn-success" data-demo-disable="left">新建项目</a>
</div>

<section>
    <div class="main-container">
        <div class="main-container-body">
            <table ng-table="imageHomeCtrl.imageListTable" template-pagination="/views/common/ngTablePage.html"
                   class="table table-striped" ng-table-columns-binding="boundCols">
                <tbody>
                <tr ng-repeat="project in imageHomeCtrl.projects">
                    <td data-title="'项目名称'"><a href="#"
                                               data-ui-sref="imageDetail.version({projectId: project.id})">{/project.name/}</a>
                    </td>
                    <td data-title="'状态'">
                        <span data-ng-class="{'text-danger': project.status == 3, 'text-success': project.status == 1,
                        'text-info': project.status == 2}">
                            <i class="fa" data-ng-class="{'fa-times-circle': project.status == 3, 'fa-check-circle': project.status == 1,
                            'fa-spinner': project.status == 2, 'fa-spin': project.status == 2}"></i>
                            正常
                        </span>
                    </td>
                    <td data-title="'镜像名称'" sortable="'name'">{/project.repoUri | filterVersion: 'url'/}</td>
                    <td data-title="'最近构建时间'" sortable="'updated'">{/project.updated * 1000 | date: 'yyyy-MM-dd HH:mm:ss'
                        /}
                    </td>
                    <td data-title="'最新版本'">{/project.repoUri | filterVersion: 'version'/}</td>
                    <td data-title="'操作'">
                        <button class="btn btn-default btn-xs"
                                data-ui-sref="appcreate({url:project.repoUri,version: 'latest'})">部署
                        </button>
                        <button class="btn btn-danger btn-xs" data-ng-click="imageHomeCtrl.deleteProject(project.id)">
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="alert alert-warning text-center" data-ng-show="imageHomeCtrl.showNothtingAlert">
                未查询到应用数据
            </div>
        </div>
    </div>
</section>
