<div data-ng-if="appsTableCtrl.groups.length !== 0 && appsTableCtrl.targets === 'group'||appsTableCtrl.targets ==='my'">
    <form class="form-inline search-container" name="searchForm" data-ng-if="appsTableCtrl.targets ==='group'">
        <div class="form-group">
            <select class="form-control"
                    data-ng-model="appsTableCtrl.searchForm.groupId"
                    data-ng-options="group.id as group.name for group in appsTableCtrl.groups"
                    data-required="required"
                    data-ng-change="appsTableCtrl.groupChange()">
                <option value="">--- 选择搜索的用户组 ---</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    data-ng-model="appsTableCtrl.searchForm.clusterId"
                    data-ng-options="cluster.id as cluster.name for cluster in appsTableCtrl.clusters"
                    data-required="required">
                <option value="">--- 选择搜索的集群 ---</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="输入应用名称进行搜索"
                   data-ng-model="appsTableCtrl.searchForm.keywords">
        </div>
        <button type="submit" class="btn btn-info" data-ng-click="appsTableCtrl.search()"
                data-ng-disabled="searchForm.$invalid">搜索
        </button>
    </form>
    <md-toolbar class="md-table-toolbar md-default" data-ng-if="appsTableCtrl.targets ==='my'">
        <div class="md-toolbar-tools">
            <form flex name="filter.form">
                <input type="text" ng-model="appsTableCtrl.filter" placeholder="搜索"
                       my-enter="appsTableCtrl.table.doSearch(appsTableCtrl.filter)">
            </form>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="appsTableCtrl.table.query.order"
                   md-on-reorder="appsTableCtrl.table.getOrder">
            <tr md-row>
                <th md-column md-order-by="name"><span>应用名称</span></th>
                <th md-column><span>当前状态</span></th>
                <th md-column md-order-by="updated">更新时间</th>
                <th md-column>所属集群</th>
                <th md-column data-ng-if="appsTableCtrl.targets === 'group'">所属用户</th>
                <th md-column md-order-by="instances">容器个数</th>
                <th md-column>健康状态</th>
                <th md-column>操作</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="app in appsTableCtrl.applist">
                <td md-cell><a href="#"
                               data-ui-sref="app.detail({cluster_id: app.cid ,app_id: app.id})">{/app.name/}</a></td>
                <td md-cell>
                    {/APP_STATUS[appsTableCtrl.appListStatus[app.id].status]/}
                    <p class="text-danger" data-ng-if="appsTableCtrl.appListStatus[app.id].lastfailure">
                        ({/APP_FAIL_RESULT[appsTableCtrl.appListStatus[app.id].lastfailure]/})</p>
                </td>
                <td md-cell>{/app.update | date:"yyyy-MM-dd HH:mm:ss"/}</td>
                <td md-cell>
                    <a href="#" data-ui-sref="cluster.detail.nodes({clusterId:app.cid})"
                       ng-class="{'danger': groupAppsCtrl.appListStatus[app.id].status == '10'}">
                        <img data-ng-src="../pics/ico-applist-cluster-failed.png" width="16"
                             ng-show="appsTableCtrl.clusterInforMap[app.cid].status == 'failed'">
                        {/appsTableCtrl.clusterInforMap[app.cid].name/}
                    </a>
                </td>
                <td md-cell data-ng-if="appsTableCtrl.targets === 'group'">
                    {/appsTableCtrl.groupUserMap[app.uid]/}
                </td>
                <td md-cell>
                    <span ng-show="appsTableCtrl.appListStatus[app.id].tasks != undefined && appsTableCtrl.appListStatus[app.id].tasks != appsTableCtrl.appListStatus[app.id].instances">{/appsTableCtrl.appListStatus[app.id].tasks/}/{/appsTableCtrl.appListStatus[app.id].instances/}</span>
                    <span ng-show="appsTableCtrl.appListStatus[app.id].tasks == appsTableCtrl.appListStatus[app.id].instances">{/appsTableCtrl.appListStatus[app.id].instances/}</span>
                    <!--<span data-ng-if="app.canary">(灰度实例: {/app.canaryInstances/})</span>-->
                </td>
                <td md-cell>
                    <div>
                        <md-tooltip md-direction="top">
                            <span>{/app.health/}健康</span>
                            <span>{/app.unhealth/}不健康</span>
                            <span>{/app.unknown/}未知</span>
                        </md-tooltip>
                        <div class="appHealthBar" health="app.health" unhealth="app.unhealth" unknown="app.unknown" healthy-bar></div>
                    </div>

                </td>
                <td md-cell>
                    <md-button aria-label="strp" class="md-button md-raised"
                               data-ng-disabled="appsTableCtrl.appListStatus[app.id].status != '2'"
                               data-ng-click="listappctrl.stop(app.cid, app.id)"
                               data-ng-if="appsTableCtrl.appListStatus[app.id].status!='3'" data-demo-disable>停止
                    </md-button>
                    <md-button aria-label="start" class="md-button md-raised"
                               data-ng-disabled="appsTableCtrl.appListStatus[app.id].status != '3'"
                               data-ng-click="listappctrl.start(app.cid, app.id)"
                               data-ng-if="appsTableCtrl.appListStatus[app.id].status == '3'" data-demo-disable>启动
                    </md-button>
                    <md-menu md-offset="0 -5">
                        <md-button aria-label="appListMenu" class="md-button md-raised"
                                   ng-click="$mdOpenMenu($event)">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="upContainer"
                                           ng-disabled="(appsTableCtrl.appListStatus[app.id].status != '2' && appsTableCtrl.appListStatus[app.id].status != '3')||app.canary"
                                           data-ng-click="listappctrl.upContainerModal($event, app.cid, app.id, app.instances)"
                                           data-demo-disable>扩展
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="undo"
                                           data-ng-disabled="myAppsCtrl.appListStatus[app.id].status != '6'"
                                           data-ng-click="listappctrl.undo(app.cid, app.id)"
                                           data-demo-disable>撤销
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="delete"
                                           ng-disabled="appsTableCtrl.appListStatus[app.id].status == '5' || appsTableCtrl.appListStatus[app.id].status == 'undefined'"
                                           data-ng-click="listappctrl.delete(app.cid, app.id, appsTableCtrl.targets)"
                                           data-demo-disable>删除
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="redeploy"
                                           ng-disabled="appsTableCtrl.appListStatus[app.id].status != '9'"
                                           data-ng-click="listappctrl.redeploy(app.cid, app.id)"
                                           data-demo-disable>恢复
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="update"
                                           data-ng-disabled="app.canary || (appsTableCtrl.appListStatus[app.id].status != '2' && appsTableCtrl.appListStatus[app.id].status != '3')"
                                           data-ui-sref="app.update({cluster_id: app.cid, app_id: app.id})">
                                    更新
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="alert"
                                           data-ng-disabled="appsTableCtrl.appListStatus[app.id].status != '2'"
                                           data-ui-sref="policy.tab.appwarning.warninglist({page:1, per_page:20, appalias: app.alias, keywords: app.name})">
                                    告警策略
                                </md-button>
                            </md-menu-item>
                            <!--<md-menu-item>
                                <md-button aria-label="canary"
                                           data-ng-click="listappctrl.createCanary($event, app.cid, app.id, app)"
                                           data-ng-disabled="appsTableCtrl.appListStatus[app.id].status !='2' || !app.ports.length || app.canary"
                                           data-demo-disable>
                                    新建灰度
                                </md-button>
                            </md-menu-item>-->
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-warning text-center" data-ng-if="!appsTableCtrl.applist.length">
            未查询到应用数据
        </div>
    </md-table-container>

    <md-table-pagination
            md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}" md-limit="appsTableCtrl.table.query.limit"
            md-limit-options="[20, 50, 100]"
            md-page="appsTableCtrl.table.query.page" md-total="{/appsTableCtrl.count/}"
            md-on-paginate="appsTableCtrl.table.getPage" md-page-select></md-table-pagination>
    <div class="alert alert-warning text-center" data-ng-show="appsTableCtrl.showNothtingAlert">
        未查询到应用数据
    </div>
</div>
<div data-ng-if="appsTableCtrl.targets ==='group' && appsTableCtrl.group.length === 0">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info">
                <p>数人云 DCOS，是一款部署在公有云或者私有云（IDC）之上的应用运维软件，旨在帮助用户在云端快速建立并稳定运维一个高性能生产环境。 </p>
                <p>通过数人云，用户可以快速整合不同环境下的主机资源，部署海量应用。通过领先的 Mesos 和 Docker
                    技术，数人云可以为用户的业务系统带来高可用的服务质量，快速的性能伸缩，高效的资源利用以及便捷的可视化管理和监控；同时，数人云保证用户的服务资源和数据完全为用户私有可控。 </p>
                <p class="text-center">
                    <br>
                    <a data-ui-sref="user.groups" class="btn btn-success" data-demo-disable>新建用户组</a>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</div>
