<div class="page-header">
    <h1>新闻动态</h1>
</div>
<section>
    <div class="main-container" ng-repeat="cluster in clusterList track by $index">
        <div class="main-container-body">
            <span>{/cluster.name/}</span> - <span>{/cluster.id/}</span>
            <pir-chart cpu-value="30" mem-value="60"></pir-chart>
            <div data-ng-show="cluster.amounts">
                <ul class="cluster-service-status-number">
                    <li class="running" data-ng-show="cluster.amounts.running">
                      <a>正常主机 <span>{/cluster.amounts.running/}</span></a>
                    </li>
                    <li class="terminated" data-ng-show="cluster.amounts.terminated">
                      <a>失联主机 <span>{/cluster.amounts.terminated/}</span></a>
                    </li>
                    <li class="failed" data-ng-show="cluster.amounts.failed">
                      <a>报警主机 <span>{/cluster.amounts.failed/}</span></a>
                    </li>
                    <li class="installing" data-ng-show="cluster.amounts.installing">
                      <a>初始化主机 <span>{/cluster.amounts.installing/}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>