<div class="page-header">
    <h1>新闻动态</h1>
</div>
<section>
    <div data-ng-show="cluster.nodes.length" class="main-container" ng-repeat="cluster in clusterList">
        <div class="main-container-body">
            <span>{/cluster.name/}</span> - <span>{/cluster.id/}</span>
            <div data-ng-show="cluster.amounts">
                <ul class="cluster-service-status-number">
                    <li class="running" data-ng-show="cluster.amounts.running">
                      <a>正常主机 <span>{/cluster.amounts.running/}</span></a>
                    </li>
                    <li class="terminated" data-ng-show="cluster.amounts.terminated">
                      <a>失联主机 <span>{/cluster.amounts.terminated/}</span></a>
                    </li>
                    <li class="failed" data-ng-show="cluster.amounts.failed">
                      <a>报警主机 <span>{/cluster.amounts.failed/}</span></a>
                    </li>
                    <li class="installing" data-ng-show="cluster.amounts.installing">
                      <a>初始化主机 <span>{/cluster.amounts.installing/}</span></a>
                    </li>
                </ul>
            </div>

            <div>
                <piechart chart-used="cluster.masMetrics.cpuPercent" chart-total="100" radius="[65, 75]"
                          use-color="#68d1f2" show-text="CPU占用">
                </piechart>

                <piechart chart-used="cluster.masMetrics.memUsed" chart-total="cluster.masMetrics.memTotal" radius="[65, 75]"
                          use-color="#ff9494" show-text="内存占用">
                </piechart>
            </div>

           <div ng-repeat="appMon in cluster.appMonitors">
                <span>{/appMon.appName/}</span>
                <piechart chart-used="appMon.appCpuUsed" chart-total="appMon.appCpuShare" radius="[45, 55]"
                            use-color="#68d1f2" show-text="CPU使用">
                </piechart>
                <piechart chart-used="appMon.appMemUsed" chart-total="appMon.appMemShare" radius="[45, 55]"
                            use-color="#ff9494" show-text="内存使用">
                </piechart>
            </div>
        </div>
    </div>
</section>