<div class="main-container-body">
    <button class="btn btn-success" type="button"
            ng-click="listGroupCtrl.isCollapsed = !listGroupCtrl.isCollapsed" data-demo-disable>创建用户组</button>
    <div id="create-usergroup-panel" uib-collapse="listGroupCtrl.isCollapsed">
        <div class="well well-sm">
            <form class="form-inline" name="staticForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户组名称"
                           data-ng-model="listGroupCtrl.createGroupForm.name" data-required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户组描述"
                           data-ng-model="listGroupCtrl.createGroupForm.description">
                </div>
                <button type="submit" class="btn btn-success"
                        data-ng-click="listGroupCtrl.createGroup()">创建</button>
                <button type="submit" class="btn btn-default"
                        ng-click="listGroupCtrl.isCollapsed = !listGroupCtrl.isCollapsed">取消</button>
            </form>
        </div>
    </div>
    <hr>
    <table ng-table="listGroupCtrl.groupListTable" template-pagination="/views/common/ngTablePage.html"
           class="table usergroup-tablelist" ng-table-columns-binding="boundCols">
        <tbody>
            <tr ng-repeat-start="group in listGroupCtrl.grouplist">
                <td data-title="'用户组'" sortable="'name'">
                    <h5>{/group.name/}</h5>
                    <p><em data-ng-show="group.role.id != 1">{/group.owner.email/}</em></p>
                    <p>{/group.description/}</p>
                </td>
                <td data-title="'角色'">{/listGroupCtrl.roleMapping[group.role.name]/}</td>
                <td data-title="'用户数量'">{/group.user_count/}</td>
                <td data-title="'建立时间'" sortable="'created_at'">{/group.created_at | date:"yyyy-MM-dd HH:mm:ss"/}</td>
                <td data-title="'操作'">
                    <button class="btn btn-default btn-xs" type="button"
                            data-ng-click="listGroupCtrl.collapseManagePanel(group.id)"
                            data-ng-show="group.role.id == 1" data-demo-disable>管理用户</button>
                    <button class="btn btn-danger btn-xs" type="button"
                            data-ng-click="listGroupCtrl.deleteGroup(group.id)"
                            data-ng-show="group.role.id == 1" data-demo-disable>删除用户组</button>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-ng-click="listGroupCtrl.leaveGroup(group.id)"
                            data-ng-show="group.role.id != 1 && group.status == 'normal'" data-demo-disable>离开用户组
                    </button>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-ng-click="listGroupCtrl.joinInvitedGroup(group.id)"
                            data-ng-show="group.role.id != 1 && group.status == 'not_join'" data-demo-disable>加入
                    </button>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-ng-click="listGroupCtrl.leaveGroup(group.id)"
                            data-ng-show="group.role.id != 1 && group.status == 'not_join'" data-demo-disable>放弃
                    </button>
                </td>
            </tr>
            <tr data-ng-show="group.role.id == 1"
                uib-collapse="listGroupCtrl.isCollapsedGroupMapping[group.id]" ng-repeat-end>
                <td colspan="5">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 btn-show-invite" data-ng-show="!listGroupCtrl.isOpenInvite[group.id]"
                             data-ng-click="listGroupCtrl.isOpenInvite[group.id]=!listGroupCtrl.isOpenInvite[group.id]">
                            <div class="well well-sm text-center usergroup-user-card">
                                <span><i class="fa fa-plus"></i> 邀请用户</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6" data-ng-show="listGroupCtrl.isOpenInvite[group.id]">
                            <div class="well well-sm">
                                <div class="input-group">
                                    <span class="input-group-addon">邀请用户</span>
                                    <input type="text" class="form-control" placeholder="mail1, mail2, ..."
                                            data-ng-model="listGroupCtrl.inviteForm.emails">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button"
                                                data-ng-click="listGroupCtrl.sendInvitation(group.id)"> 添加 </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3" data-ng-repeat="user in listGroupCtrl.groupUserMapping[group.id]">
                            <div class="well well-sm usergroup-user-card">
                                <h5>{/user.user.email/}</h5>
                                <div>
                                    <time>{/user.created_at | date:"yyyy-MM-dd HH:mm:ss"/}</time>
                                    <span class="label label-warning" data-ng-show="user.status=='not_join'">待加入</span>
                                </div>
                                <button class="btn btn-danger btn-xs"
                                        data-ng-click="listGroupCtrl.deleteGroupUser(group.id, user.user.id)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-show="showNothtingAlert">
        未查询到应用数据
    </div>
</div>
