<div class="modal-header">
<h3 class="modal-title">Docker 参数配置</h3>
</div>

<div class="modal-body">
<form class="form-horizontal" name="dockerForm">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-3">KEY</label>
            <div class="col-md-7"
                 data-ng-class="{ 'has-error' : dockerForm.dockerKey.$invalid && !dockerForm.dockerKey.$pristine}">
                <input type="text" class="form-control"
                    data-ng-model="formCtrl.form.key"
                    name="dockerKey"
                    data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                <p data-ng-show="dockerForm.dockerKey.$error.pattern && !dockerForm.dockerKey.$pristine"
                   class="help-block">环境变量 Key 不能包含中文</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">VALUE</label>
            <div class="col-md-7"
                 data-ng-class="{ 'has-error' : dockerForm.dockerValue.$invalid && !dockerForm.dockerValue.$pristine}">
                <input type="text" class="form-control"
                    data-ng-model="formCtrl.form.value"
                    name="dockerValue"
                    data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                <p data-ng-show="dockerForm.dockerValue.$error.pattern && !dockerForm.dockerValue.$pristine"
                   class="help-block">环境变量 Value 不能包含中文</p>
            </div>
        </div>
    </div>
</form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
      type="button"
      data-dismiss="modal"
      data-ng-disabled="dockerForm.$invalid"
            data-ng-click="formCtrl.ok()">
        添加
  </button>
  <button class="btn btn-default"
      type="button"
      data-ng-click="formCtrl.cancel()">取消</button>
</div>
