<div id="createSelectImage">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">

        <uib-tabset justified="true">
            <uib-tab heading="数人推荐镜像">
                <div role="tabpanel" class="tab-pane active">
                    <span data-ng-repeat="datamanImage in selectImageCtrl.datamanImages">
                        <a class="btn btn-info" ng-href="{/datamanImage.url/}" target="_blank">
                            <i class="fa fa-file-text-o"></i>
                        </a>
                        <label class="btn btn-default" ng-model="selectImageCtrl.image"
                               uib-btn-radio="datamanImage">{/datamanImage.name/}</label>
                    </span>
                </div>
            </uib-tab>
            <uib-tab heading="用户镜像列表(默认选择最新版本)">
                <div role="tabpanel" class="tab-pane active">
                    <span data-ng-repeat="image in selectImageCtrl.imageList">
                        <label class="btn btn-default" ng-model="selectImageCtrl.image" uib-btn-radio="image">{/image.imageName/}</label>
                    </span>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="selectImageCtrl.cancel()">取消</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="!selectImageCtrl.image"
                data-ng-click="selectImageCtrl.ok(selectImageCtrl.image)">确认
        </button>
    </div>
</div>
