<div class="modal-header">
    <h3 class="modal-title">日志目录配置</h3>
</div>

<div class="modal-body">
<form class="form-horizontal" name="logPathForm">

  <div class="form-group">
      <label class="col-md-3 control-label">路径</label>

      <div class="col-md-7"
           data-ng-class="{ 'has-error' : logPathForm.path.$invalid && !logPathForm.path.$pristine}">
          <input type="text" name="path" class="form-control"
                 data-ng-model="formCtrl.path"
                 data-required="required"
                 data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
      </div>

      <div data-ng-class="{ 'has-error' : logPathForm.path.$invalid && !logPathForm.path.$pristine}">
          <p data-ng-show="logPathForm.path.$error.required && !logPathForm.path.$pristine"
             class="help-block">不能为空</p>
          <p data-ng-show="logPathForm.path.$error.pattern && !logPathForm.path.$pristine"
             class="help-block">路径不能包含中文</p>
      </div>
  </div>
</form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" style="width: 150px;"
      data-dismiss="modal"
      data-ng-disabled="logPathForm.$invalid"
      data-ng-click="formCtrl.ok()">
      添 加
  </button>
  <button class="btn btn-default" style="width: 75px;"
      data-ng-click="formCtrl.cancel()">取 消</button>
</div>