<div class="modal-header">
    <h3 class="modal-title">应用地址配置</h3>
</div>
<div class="modal-body" id="createPortModule">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">应用端口</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="inputEmail3" placeholder="端口号"
                               data-toggle="tooltip" data-placement="bottom" data-trigger="focus"
                               title="Tooltip on bottom" name="curPort" min="1" max="65535"
                               data-ng-model="createAppPortCtrl.portInfo.appPort">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">协议</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" ng-value="1"
                                   data-ng-model="createAppPortCtrl.portInfo.protocol"
                                   ng-change="createAppPortCtrl.changeProtocol()"> TCP
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-value="2"
                                   data-ng-model="createAppPortCtrl.portInfo.protocol"
                                   ng-change="createAppPortCtrl.changeProtocol()"> HTTP
                        </label>
                    </div>
                </div>
                <hr ng-show="createAppPortCtrl.portInfo.protocol">

                <div>
                    <div class="form-group" ng-class="{'has-error' : createAppPortCtrl.invalidPort()}">
                        <label class="col-sm-3 control-label">映射端口</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" min="1" max="65535"
                                   data-ng-model="createAppPortCtrl.portInfo.mapPort">
                        </div>
                        <span ng-show="createAppPortCtrl.invalidPort()" class="text-danger"
                              style="display: inline-block; margin-top: 10px;"> 端口被占用</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">

            <div class="alert alert-info" role="alert" ng-class="{'alert-danger' : createAppPortCtrl.invalidPort()}">
                <h5>不可用端口</h5>
                <hr>
                <div>
                    <strong>数人云保留端口: </strong><br> <span>1 ~ 1024( 80 443 端口除外)</span><br><span class="portrange">5000 ~ 5100</span><span class="portrange">10000 ~ 20000</span><span
                        class="portrange">31000 ~ 32000</span><br><br>
                </div>

                <div ng-if="createAppPortCtrl.portInfo.type == 2 && createAppPortCtrl.outerPorts.length">
                    <strong>占用端口: </strong><br> <span ng-repeat="outPort in createAppPortCtrl.outerPorts"
                                                        class="port">{/outPort/} </span>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button"
            data-ng-disabled="createAppPortCtrl.isAddPortDisable(createAppPortCtrl.portInfo) || createAppPortCtrl.invalidPort(createAppPortCtrl.portInfo) || uriOccupied(createAppPortCtrl.portInfo)"
            data-ng-click="createAppPortCtrl.ok()" style="width: 150px;">添 加
    </button>
    <button class="btn btn-default" type="button" ng-click="createAppPortCtrl.cancel()" style="width: 75px;">取 消
    </button>
</div>
