<div>
    <form class="form-inline search-container col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="logWarningListCtrl.searchKeyWord"
                   name="searchKeyWord"
                   placeholder="输入应用名称进行搜索" my-enter="logWarningListCtrl.doSearch(logWarningListCtrl.searchKeyWord)">
        </div>
        <button type="submit" ng-click="logWarningListCtrl.doSearch(logWarningListCtrl.searchKeyWord)"
                class="btn btn-info">搜索
        </button>
    </form>

    <button class="btn btn-success col-md-2 col-md-offset-6" type="button" data-ui-sref="policyLogWarningCreate">创建新规则
    </button>

</div>
<table ng-table="logWarningListCtrl.logListTable" template-pagination="/views/common/ngTablePage.html"
       class="table table-striped" ng-table-columns-binding="boundCols">
    <tbody>
    <tr ng-repeat="item in logWarningListCtrl.logWarningList">
        <td data-title="'ID'" sortable="'id'">
            {/item.id/}
        </td>
        <td data-title="'应用名称'" sortable="'appname'">
            {/item.appname/}
        </td>
        <td data-title="'监控关键字'" sortable="'keyword'">
            {/item.keyword/}
        </td>
        <td data-title="'监控周期'">
            {/item.ival/} 分钟
        </td>
        <td data-title="'出现次数'" sortable="'gtnum'">
            {/item.gtnum/} 次
        </td>
        <td data-title="'联系人'" sortable="'emails'">
            {/item.emails/}
        </td>
        <td data-title="'创建时间'" sortable="'createtime'">
            {/item.createtime | date: 'yyyy-MM-dd HH:mm'/}
        </td>
        <td data-title="'操作'">
            <button type="button"
                    class="btn btn-danger btn-xs" data-ng-click="logWarningListCtrl.deleteLogPolicy(item.id)"
                    data-demo-disable>
                删除
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center" data-ng-show="!logWarningListCtrl.logWarningList.length">
    未查询到日志告警数据
</div>
