
    <md-button class="md-raised md-primary" aria-label="Crete user" data-ui-sref="createuser">
	新建用户
    </md-button>
<md-table-container>
    <table md-table>
        <thead md-head md-order="listUserCtrl.table.query.order"
               md-on-reorder="listUserCtrl.table.getOrder">
        <tr md-row>
            <th md-column md-order-by="status">用户状态</th>
            <th md-column md-order-by="name">用户名称</th>
            <th md-column md-order-by="type">用户类型</th>
            <th md-column md-order-by="type">邮箱</th>
            <th md-column md-order-by="updated">创建时间</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="user" ng-repeat="user in listUserCtrl.users">
            <td md-cell>
                {/listUserCtrl.USER_STATUS[user.status]/}
            </td>
            <td md-cell>{/user.name/}</td>
            <td md-cell>{/listUserCtrl.USER_TYPE[user.is_superuser]/}</td>
            <td md-cell>{/user.email/}</td>
            <td md-cell>{/user.created_at/}</td> 
            <td md-cell>
                <md-button aria-label="strp" class="md-button md-raised"
                           data-ng-click="listUserCtrl.enableUser(user.id)"
                           data-ng-show="user.status == 'frozen'" >启用
                </md-button>
                <md-button aria-label="start" class="md-button md-raised"
                           data-ng-click="listUserCtrl.disableUser(user.id)"
                           data-ng-show="user.status == 'running'">冻结
                </md-button>
                <md-button aria-label="start" class="md-button md-raised" data-ng-click="$state.go('updateuser', {user_id: user.id})">
                          编辑
                </md-button>
                <md-button aria-label="start" class="md-button md-raised" data-ng-click="$state.go('resetuserpwd', {user_id: user.id})">
                          重置密码  
                </md-button>
                <!--<md-button aria-label="start" class="md-button md-raised"
					      data-ng-click="listUserCtrl.deleteUser($event, user.id)"
                          data-ng-if="!user.is_superuser">
                          删除  
			  </md-button>-->

	    </td> 
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-show="!listUserCtrl.users.length">
        未查询到用户
    </div>
</md-table-container>

<md-table-pagination
        md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}" md-limit="listUserCtrl.table.query.limit"
        md-limit-options="[20, 50, 100]"
        md-page="listUserCtrl.table.query.page" md-total="{/listUserCtrl.count/}"
        md-on-paginate="listUserCtrl.table.getPage" md-page-select></md-table-pagination>