<div class="main-container">
    <section class="main-section">
       <header layout="row" layout-align="start center">
            <h2 flex>重置密码</h2>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">密码</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="password" aria-label="password"
                                   data-ng-model="resetPwdCtrl.form.password"
                                   data-required="required"
                                   data-dm-password>
                        </div>
                        <p class="error-info help-info-bottom"
			   data-ng-show="staticForm.password.$error.dmPassword && staticForm.password.$dirty">
			   <span>密码只能包含英文字母、数字、标点符号且必须包含大写字母，长度为8-16位。</span>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.password.$error.required && !staticForm.password.$pristine">
                            <small>密码不能为空</small>
                        </p>
                    </div>
                </div>
                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="resetPwdCtrl.resetPwd()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="reset"
                                   >重置
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
