<div class="main-container">
    <section class="main-section">
       <header layout="row" layout-align="start center">
            <h2 flex>编辑用户</h2>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">用户名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="name"
                                   aria-label="name"
                                   data-ng-model="updateUserCtrl.form.name"
                                 data-ng-disabled="true">
                        </div>
                    </div>
                    <div flex></div>
                </div>
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">邮箱</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="email" class="form-input" name="email"
                                   aria-label="email"
                                   data-ng-model="updateUserCtrl.form.email"
                                   data-required="required"
                                   data-ng-trim="true">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.email.$error.required && !staticForm.email.$pristine">
                            <small>邮箱不能为空</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.email.$error.pattern && !staticForm.email.$pristine">
                            <small>邮箱不能包含空白符号</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.email.$error.email && !staticForm.email.$pristine">
                            <small>邮箱格式错误</small>
                        </p>
                        <p data-ng-show="staticForm.name.$pristine" class="error-info help-info-bottom">
                            <small>{/ staticForm.message_error_info.email /}</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="updateUserCtrl.updateUser()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="update"
                                   >修改
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
