<div class="main-container">
    <section class="main-section">
        <header layout="row" layout-align="start center">
            <h2 flex data-ng-if="createAppCtrl.target==='create'">新建应用</h2>
            <h2 flex data-ng-if="createAppCtrl.target==='update'">应用更新</h2>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="appName"
                                   aria-label="appName"
                                   data-ng-model="createAppCtrl.form.name"
                                   data-required="required"
                                   data-ng-pattern="/^\S*$/"
                                   data-ng-maxlength="16"
                                   data-ng-trim="true"
                                   data-samename
                                   data-name-list="createAppCtrl.appNames"
                                   data-ng-disabled="createAppCtrl.target==='update'">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine">
                            <small>应用名称不能为空</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.pattern && !staticForm.appName.$pristine">
                            <small>应用名称不能包含空白符号</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.samename">
                            <small>应用名已存在</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.maxlength && !staticForm.appName.$pristine">
                            <small>最大长度 16 个字符</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-select"
                     data-ng-if="createAppCtrl.target==='create'">
                    <label flex="15">选择集群</label>
                    <div flex="50" layout="column">
                        <md-input-container>
                            <md-select data-ng-model="createAppCtrl.form.cluster_id" data-required="required"
                                       aria-label="selectCluster"
                                       data-ng-change="createAppCtrl.refresClusterData()">
                                <md-option ng-repeat="cluster in createAppCtrl.clusters" ng-value="cluster.id">
                                    {/cluster.name/}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input"
                     data-ng-if="createAppCtrl.target==='update'">
                    <label flex="15">所属集群</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="clusterName" aria-label="updateCluster"
                                   ng-model="createAppCtrl.clusterName" ng-disabled="true">
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">镜像地址</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageName" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageName"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageName.$error.required && !staticForm.imageName.$pristine">
                            <small>镜像地址不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-button class="md-icon-button md-accent" aria-label="openImageModal"
                                   data-ng-click="createAppCtrl.openImageModal($event)">
                            <i class="fa fa-plus"></i>
                        </md-button>
                    </div>
                </div>

                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">镜像版本</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageVersion" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageVersion"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageVersion.$error.required && !staticForm.imageVersion.$pristine">
                            <small>镜像版本不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-checkbox data-ng-model="createAppCtrl.form.forceImage">强制拉取镜像</md-checkbox>
                    </div>

                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15">网络模式</label>
                    <div flex="30" layout="column">
                        <div flex>
                            <md-radio-group ng-model="createAppCtrl.form.network" layout="row"
                                            data-required="required" aria-label="Network model"
                                            ng-change="createAppCtrl.networkChange(createAppCtrl.form.network)">
                                <md-radio-button value="BRIDGE" data-ng-disabled="createAppCtrl.isNetworkDisable"
                                                 class="md-accent" flex>网桥模式
                                </md-radio-button>
                                <md-radio-button value="HOST" data-ng-disabled="createAppCtrl.isNetworkDisable"
                                                 class="md-accent"
                                                 flex>HOST 模式
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15">容器规格</label>
                    <div flex="50" layout="column">
                        <div layout="row" layout-align="start center">
                            <div flex="15">
                                <span class="md-body-1">CPU 权重</span>
                            </div>
                            <md-slider flex md-discrete class="md-accent" data-ng-model="createAppCtrl.form.cpus"
                                       step="0.1" min="0.1"
                                       max="1" aria-label="cpus">
                            </md-slider>
                        </div>
                    </div>
                    <div flex style="font-size: 24px; margin-left: 12px;">{/createAppCtrl.form.cpus/}</div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15"></label>
                    <div flex="50" layout="column">
                        <div layout="row" layout-align="start center">
                            <div flex="15">
                                <span class="md-body-1">内存</span>
                            </div>
                            <md-slider flex class="md-accent" data-ng-model="createAppCtrl.form.mem" min="16" max="8192"
                                       aria-label="mem">
                            </md-slider>
                        </div>
                    </div>
                    <div flex style="font-size: 24px; margin-left: 12px;">{/createAppCtrl.form.mem | currency: ''
                        :0/} <span
                                style="font-size: 12px;">MB</span></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">容器个数</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="instances" aria-label="Number of containers"
                                   data-ng-model="createAppCtrl.form.instances"
                                   data-min="1"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.min && !staticForm.instances.$pristine">
                            <small>容器个数不小于 1</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine">
                            <small>容器个数不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-checkbox data-ng-model="createAppCtrl.single" aria-label="single of containers"
                                     data-ng-disabled="createAppCtrl.target==='update' || createAppCtrl.disableSingle">
                            1容器 : 1主机
                        </md-checkbox>
                    </div>
                </div>

                <div class="btn-folding-v">
                    <a href="#" data-ng-click="createAppCtrl.showAdvanceContent = !createAppCtrl.showAdvanceContent">
                        <md-tooltip md-direction="top" aria-label="advanced setting">高级设置</md-tooltip>
                        <i class="fa "
                           data-ng-class="{'fa-chevron-up': createAppCtrl.showAdvanceContent, 'fa-chevron-down': !createAppCtrl.showAdvanceContent}"></i>
                    </a>
                </div>
                <div data-ng-show="createAppCtrl.showAdvanceContent" class="check-element animate-show">
                    <div layout="row" layout-align="start center" class="form-group">
                        <label flex="15">选择主机</label>
                        <div flex="50" layout="column">
                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <isteven-multi-select
                                                input-model="createAppCtrl.multiSelect.labels"
                                                output-model="createAppCtrl.multiSelect.selectedLabels"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="tick"
                                                helper-elements="all none filter"
                                                max-height="200px"
                                                translation="createAppCtrl.multiSelect.config.label"
                                                on-item-click="createAppCtrl.tickItem(data)"
                                                on-select-all="createAppCtrl.tickAllLabels()"
                                                on-select-none="createAppCtrl.clearLabels()"
                                                max-labels="2" style="position: relative;"
                                        >
                                        </isteven-multi-select>
                                    </div>
                                    <div flex-offset="5" flex>
                                        <isteven-multi-select
                                                input-model="createAppCtrl.multiSelect.nodes"
                                                output-model="createAppCtrl.multiSelect.selectedNodes"
                                                button-label="ip"
                                                item-label="ip"
                                                tick-property="tick"
                                                helper-elements="all none filter"
                                                max-height="200px"
                                                translation="createAppCtrl.multiSelect.config.node"
                                                on-select-all="createAppCtrl.tickAllNodes()"
                                                on-select-none="createAppCtrl.clearNode()"
                                                max-labels="2" style="position: relative;"
                                        >
                                        </isteven-multi-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">挂载点</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('volumes')">
                                    <i class="fa fa-plus"></i>
                                    添加挂载路径
                                </md-button>
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="volume in createAppCtrl.form.volumes track by $index">
                                <ng-form name="volumes" layout="row" layout-align="start center">
                                    <input type="text" placeholder="主机路径" name="hostPath" flex="40"
                                           data-ng-model="volume.hostPath"
                                           data-required="required"
                                           data-ng-maxlength="256"
                                           data-ng-pattern="/^\/[\w//\-\.]*\w*[^\/]$/">
                                    <input type="text" placeholder="容器路径" flex-offset="5" flex="40" name="containerPath"
                                           data-ng-model="volume.containerPath" data-required="required"
                                           samename data-name-list="createAppCtrl.listPath" data-name-index="$index"
                                           data-ng-maxlength="256"
                                           data-ng-pattern="/^\/[\w//\-\.]*\w*[^\/]$/">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'volumes')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="volumes.containerPath.$error.samename"
                                   class="help-info-bottom error-info">
                                    容器路径已存在</p>
                                <p data-ng-if="volumes.hostPath.$error.required && !volumes.hostPath.$pristine"
                                   class="help-info-bottom error-info">主机路径不能为空</p>
                                <p data-ng-if="volumes.hostPath.$error.pattern && !volumes.hostPath.$pristine"
                                   class="help-info-bottom error-info">主机路径格式不正确(路径不能包含中文且必须为绝对路径)</p>
                                <p data-ng-if="volumes.containerPath.$error.required && !volumes.containerPath.$pristine"
                                   class="help-info-bottom error-info">容器路径不能为空</p>
                                <p data-ng-if="volumes.containerPath.$error.pattern && !volumes.containerPath.$pristine"
                                   class="help-info-bottom error-info">容器路径格式不正确(路径不能包含中文且必须为绝对路径)</p>
                                <p class="error-info help-info-bottom"
                                   data-ng-if="volumes.containerPath.$error.maxlength || volumes.hostPath.$error.maxlength">
                                    <small>路径长度不能超过256个字符</small>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">应用地址</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary" data-ng-click="createAppCtrl.addConfig('portMappings')"
                                           aria-label="add"><i class="fa fa-plus"></i> 添加应用地址
                                </md-button>
                                <p>
                                    <small>以下端口范围不能使用:1~1024 (除 80 443), 5000~5100, 6000~6999, 10000~20000,
                                        31000~32000
                                    </small>
                                    <br>
                                    <small>以下端口可能与 Chrome 冲突: 6665~6669</small>
                                    <br>
                                    <small data-ng-if="createAppCtrl.existPorts.outerPorts.length">以下端口已被占用:
                                        {/createAppCtrl.existPorts.outerPorts.toString()/}
                                    </small>
                                </p>
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="portmap in createAppCtrl.form.portMappings track by $index">
                                <ng-form name="portMappings" layout="row" layout-align="start center">
                                    <input type="number" placeholder="应用端口" flex="30" data-ng-model="portmap.appPort"
                                           data-required="required">
                                    <div flex-offset="5" flex="15">
                                        <md-input-container>
                                            <md-select ng-model="portmap.protocol" data-required="required"
                                                       aria-label="select protocol">
                                                <md-option
                                                        ng-repeat="(index,protocolType) in APP_PROTOCOL_TYPE"
                                                        ng-value="protocolType.value">
                                                    {/protocolType.name/}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <input type="number" placeholder="映射端口" flex-offset="5" flex="30" name="mapPort"
                                           data-ng-model="portmap.mapPort" data-required="required" min="1" max="65535"
                                           samename data-name-list="createAppCtrl.listAppPort" data-name-index="$index"
                                           app-port-vali="portmap.mapPort">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'portMappings')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="portMappings.mapPort.$error.max"
                                   class="help-info-bottom error-info">
                                    <small>映射端口最大值为 65535</small>
                                </p>
                                <p data-ng-if="portMappings.mapPort.$error.samename"
                                   class="help-info-bottom error-info">
                                    <small>映射端口已占用</small>
                                </p>
                                <p data-ng-if="portMappings.mapPort.$error.appPortVali"
                                   class="help-info-bottom error-info">
                                    <small>映射端口与规定端口范围不符</small>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">环境变量</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('envs')">
                                    <i class="fa fa-plus"></i>
                                    添加环境变量
                                </md-button>
                                自定义环境变量
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="env in createAppCtrl.form.envs track by $index">
                                <ng-form name="envs" layout="row" layout-align="start center">
                                    <input type="text" placeholder="KEY" flex="40"
                                           data-ng-model="env.key" data-required="required"
                                           name="envKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                           samename data-name-list="createAppCtrl.listEnvs" data-name-index="$index">
                                    <input type="text" placeholder="VALUE" flex-offset="5" flex="40"
                                           data-ng-model="env.value" data-required="required"
                                           name="envValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'envs')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="envs.envKey.$error.samename" class="help-info-bottom error-info">环境变量的
                                    KEY 重复</p>
                                <p data-ng-if="envs.envKey.$error.pattern && !envs.envKey.$pristine"
                                   class="help-info-bottom error-info">环境变量 Key 不能包含中文</p>
                                <p data-ng-if="envs.envValue.$error.pattern && !envs.envValue.$pristine"
                                   class="help-info-bottom error-info">环境变量 Value 不能包含中文</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">Docker 参数</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('parameters')">
                                    <i class="fa fa-plus"></i>
                                    添加 Docker 参数
                                </md-button>
                                自定义Docker 参数
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="docker in createAppCtrl.form.parameters track by $index">
                                <ng-form name="dockerForm" layout="row" layout-align="start center">
                                    <input type="text" placeholder="KEY" flex="40"
                                           data-ng-model="docker.key" data-required="required"
                                           name="dockerKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <input type="text" placeholder="VALUE" flex-offset="5" flex="40"
                                           data-ng-model="docker.value" data-required="required"
                                           name="dockerValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'parameters')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="dockerForm.dockerKey.$error.pattern && !dockerForm.dockerKey.$pristine"
                                   class="help-info-bottom">Docker参数的 Key 不能包含中文</p>
                                <p data-ng-if="dockerForm.dockerValue.$error.pattern && !dockerForm.dockerValue.$pristine"
                                   class="help-info-bottom">Docker参数的 Value 不能包含中文</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">日志目录</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('logPaths')">
                                    <i class="fa fa-plus"></i>
                                    添加日志目录
                                </md-button>
                                应用的日志文件目录，如'/var/log/app1.log'
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="logPath in createAppCtrl.form.logPaths track by $index">
                                <ng-form name="logPathForm" layout="row" layout-align="start center">
                                    <input type="text" flex="40" data-ng-model="createAppCtrl.form.logPaths[$index]"
                                           name="path" data-required="required"
                                           data-ng-pattern="/^\/[\w//\-\.]*\w*[^\/]$/"
                                           data-ng-maxlength="256"
                                           samename data-name-list="createAppCtrl.listLogPath" data-name-index="$index">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'logPaths')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="logPathForm.path.$error.samename" class="help-info-bottom error-info">
                                    日志目录路径已存在</p>
                                <p data-ng-if="logPathForm.path.$error.required && !logPathForm.path.$pristine"
                                   class="help-info-bottom error-info">不能为空</p>
                                <p data-ng-if="logPathForm.path.$error.pattern && !logPathForm.path.$pristine"
                                   class="help-info-bottom error-info">路径格式不正确(路径不能包含中文且必须为绝对路径)</p>
                                <p class="error-info help-info-bottom"
                                   data-ng-if="logPathForm.path.$error.maxlength">
                                    <small>路径长度不能超过256个字符</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--healthChecks-->
                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">健康检查</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('healthChecks')">
                                    <i class="fa fa-plus"></i>
                                    添加健康检查
                                </md-button>
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="healthCheck in createAppCtrl.form.healthChecks track by $index">
                                <h5>健康检查{/$index + 1/} - {/healthCheck.protocol/}</h5>
                                <ng-form name="healthCheckForm">
                                    <div layout="row" layout-align="start center" layout-padding>
                                        <div flex="10">协议</div>
                                        <div flex="30">
                                            <md-input-container>
                                                <md-select ng-model="healthCheck.protocol" data-required="required"
                                                           aria-label="select protocol">
                                                    <md-option
                                                            ng-repeat="(index,protocolType) in APP_PROTOCOL_TYPE"
                                                            ng-value="protocolType.name">
                                                        {/protocolType.name/}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div flex-offset="55" flex="5">
                                            <md-button class="md-icon-button md-accent" aria-label="delete"
                                                       data-ng-click="createAppCtrl.deleteConfig($index, 'healthChecks')">
                                                <i class="fa fa-trash"></i>
                                            </md-button>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="start center" layout-padding
                                         ng-if="healthCheck.protocol =='HTTP'">
                                        <div flex="65">
                                            <small>路径</small>
                                            <input type="text" name="healthPath" ng-model="healthCheck.path" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="(healthCheckForm.healthPath.$error.required && !healthCheckForm.healthPath.$pristine) && healthCheck.protocol =='HTTP' ">
                                                <small>路径不能为空</small>
                                            </p>
                                        </div>
                                        <div flex></div>
                                    </div>

                                    <div layout="row" layout-align="start center" layout-padding>
                                        <div flex="25">
                                            <small>宽限时间</small>
                                            <input type="number" min="0" name="gracePeriodSeconds" ng-model="healthCheck.gracePeriodSeconds" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.gracePeriodSeconds.$error.required && !healthCheckForm.gracePeriodSeconds.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                        </div>
                                        <span class="form-input-addon" flex="5">秒</span>
                                        <div flex-offset="5" flex="25">
                                            <small>检查间隔</small>
                                            <input type="number" min="0" name="intervalSeconds" ng-model="healthCheck.intervalSeconds" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.intervalSeconds.$error.required && !healthCheckForm.intervalSeconds.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                        </div>
                                        <span class="form-input-addon" flex="5">秒</span>
                                        <div flex-offset="5" flex="25">
                                            <small>检查超时</small>
                                            <input type="number" min="0" name="timeoutSeconds" ng-model="healthCheck.timeoutSeconds" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.timeoutSeconds.$error.required && !healthCheckForm.timeoutSeconds.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                        </div>
                                        <span class="form-input-addon" flex="5">秒</span>
                                    </div>
                                    <div layout="row" layout-align="start center" layout-padding>
                                        <div flex="30">
                                            <small>最多持续失败次数</small>
                                            <input type="number" min="0" name="maxConsecutiveFailures" ng-model="healthCheck.maxConsecutiveFailures" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.maxConsecutiveFailures.$error.required && !healthCheckForm.maxConsecutiveFailures.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                        </div>
                                        <div flex-offset="5" flex="30">
                                            <small ng-if="healthCheck.ifPortIndex">端口组索引</small>
                                            <input ng-if="healthCheck.ifPortIndex" type="number" name="portIndex" min="0" ng-model="healthCheck.portIndex" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.portIndex.$error.required && !healthCheckForm.portIndex.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                            <small ng-if="!healthCheck.ifPortIndex">端口号</small>
                                            <input ng-if="!healthCheck.ifPortIndex" name="port" type="number" min="0"  ng-model="healthCheck.port" data-required="required">
                                            <p class="error-info help-info-bottom"
                                               data-ng-if="healthCheckForm.port.$error.required && !healthCheckForm.port.$pristine">
                                                <small>不能为空且为非负数</small>
                                            </p>
                                        </div>
                                        <div flex="30" flex-offset="5">
                                            <small>端口类型</small>
                                            <md-input-container>
                                                <md-select ng-model="healthCheck.ifPortIndex"
                                                           aria-label="select protocol">
                                                    <md-option
                                                            ng-repeat="(index, protocolType) in createAppCtrl.portType"
                                                            ng-value="protocolType.value">
                                                        {/protocolType.name/}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="start start" ng-show="healthCheck.protocol =='HTTP'"
                                         layout-padding>
                                        <md-checkbox aria-label="ignoreHTTP" flex="5" type="checkbox"
                                                     ng-true-value="true" ng-false-value="false"
                                                     ng-model="healthCheck.ignoreHttp1xx">
                                        </md-checkbox>
                                        <p flex>忽略HTTP返回码100~199</p>
                                    </div>
                                </ng-form>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input">
                        <label flex="15">CMD</label>
                        <div flex="50" layout="column">
                            <input type="text" data-ng-model="createAppCtrl.form.cmd" placeholder="输入需要运行的命令">
                        </div>
                    </div>
                </div>
                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="createAppCtrl.createApp()"
                                   data-ng-disabled="staticForm.$invalid" data-demo-disable aria-label="create"
                                   data-ng-if="createAppCtrl.target==='create'">创 建
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-click="createAppCtrl.updateApp()"
                                   data-ng-disabled="staticForm.$invalid|| createAppCtrl.single || createAppCtrl.form.network === 'HOST'"
                                   data-demo-disable data-ng-if="createAppCtrl.target==='update'"
                                   aria-label="update">更 新
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
