<div class="main-container">
    <section class="main-section">
        <header layout="row" layout-align="start center">
            <h2 flex data-ng-if="createAppCtrl.target==='create'">新建应用</h2>
            <h2 flex data-ng-if="createAppCtrl.target==='update'">应用更新</h2>
        </header>

        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="appName"
                                   aria-label="appName"
                                   data-ng-model="createAppCtrl.form.name"
                                   data-required="required"
                                   data-ng-pattern="/^\S*$/"
                                   data-ng-maxlength="16"
                                   data-ng-trim="true"
                                   data-samename
                                   data-name-list="createAppCtrl.appNames"
                                   data-ng-disabled="createAppCtrl.target==='update'">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine">
                            <small>应用名称不能为空</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.pattern && !staticForm.appName.$pristine">
                            <small>应用名称不能包含空白符号</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.samename">
                            <small>应用名已存在</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.appName.$error.maxlength && !staticForm.appName.$pristine">
                            <small>最大长度 16 个字符</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-select"
                     data-ng-if="createAppCtrl.target==='create'">
                    <label flex="15">选择集群</label>
                    <div flex="50" layout="column">
                        <md-input-container>
                            <md-select data-ng-model="createAppCtrl.form.cluster_id" data-required="required"
                                       aria-label="selectCluster"
                                       data-ng-change="createAppCtrl.refresClusterData()">
                                <md-option ng-repeat="cluster in createAppCtrl.clusters" ng-value="cluster.id">
                                    {/cluster.name/}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input"
                     data-ng-if="createAppCtrl.target==='update'">
                    <label flex="15">所属集群</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="clusterName" aria-label="updateCluster"
                                   ng-model="createAppCtrl.clusterName" ng-disabled="true">
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">镜像地址</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageName" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageName"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageName.$error.required && !staticForm.imageName.$pristine">
                            <small>镜像地址不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-button class="md-icon-button md-accent" aria-label="openImageModal"
                                   data-ng-click="createAppCtrl.openImageModal($event)">
                            <i class="fa fa-plus"></i>
                        </md-button>
                    </div>
                </div>

                <div layout="row" layout-align="start center" class="form-group form-group-input">
                    <label flex="15">镜像版本</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="imageVersion" aria-label="imageName"
                                   data-ng-model="createAppCtrl.form.imageVersion"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.imageVersion.$error.required && !staticForm.imageVersion.$pristine">
                            <small>镜像版本不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-checkbox data-ng-model="createAppCtrl.form.forceImage">强制拉取镜像</md-checkbox>
                    </div>

                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15">网络模式</label>
                    <div flex="30" layout="column">
                        <div flex>
                            <md-radio-group ng-model="createAppCtrl.form.network" layout="row"
                                            data-required="required" aria-label="Network model">
                                <md-radio-button value="BRIDGE" data-ng-disabled="createAppCtrl.isNetworkDisable"
                                                 class="md-accent" flex>网桥模式
                                </md-radio-button>
                                <md-radio-button value="HOST" data-ng-disabled="createAppCtrl.isNetworkDisable" class="md-accent"
                                                 flex>HOST 模式
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15">容器规格</label>
                    <div flex="50" layout="column">
                        <div layout="row" layout-align="start center">
                            <div flex="15">
                                <span class="md-body-1">CPU 权重</span>
                            </div>
                            <md-slider flex md-discrete class="md-accent" data-ng-model="createAppCtrl.form.cpus"
                                       step="0.1" min="0.1"
                                       max="1" aria-label="cpus">
                            </md-slider>
                        </div>
                    </div>
                    <div flex style="font-size: 24px; margin-left: 12px;">{/createAppCtrl.form.cpus/}</div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15"></label>
                    <div flex="50" layout="column">
                        <div layout="row" layout-align="start center">
                            <div flex="15">
                                <span class="md-body-1">内存</span>
                            </div>
                            <md-slider flex class="md-accent" data-ng-model="createAppCtrl.form.mem" min="16" max="8192"
                                       aria-label="mem">
                            </md-slider>
                        </div>
                    </div>
                    <div flex style="font-size: 24px; margin-left: 12px;">{/createAppCtrl.form.mem/} <span style="font-size: 12px;">MB</span></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">容器个数</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"
                                   name="instances" aria-label="Number of containers"
                                   data-ng-model="createAppCtrl.form.instances"
                                   data-min="1"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.min && !staticForm.instances.$pristine">
                            <small>容器个数不小于 1</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine">
                            <small>容器个数不能为空</small>
                        </p>
                    </div>
                    <div flex flex-offset="5">
                        <md-checkbox data-ng-model="createAppCtrl.single" aria-label="single of containers"
                                     data-ng-disabled="createAppCtrl.target==='update'">1容器 : 1主机
                        </md-checkbox>
                    </div>
                </div>

                <!--<div layout="row" layout-align="end center" class="form-group form-group-switch"-->
                     <!--data-ng-if="createAppCtrl.target==='update'">-->
                    <!--<label flex="15">灰度发布</label>-->
                    <!--<div flex="50" layout="column">-->
                        <!--<div flex="none">-->
                            <!--<md-switch data-ng-model="createAppCtrl.form.canary" aria-label="canary-switch"></md-switch>-->
                        <!--</div>-->
                        <!--<p class="help-info-bottom">勾选灰度发布后,可在应用版本中调整灰度权重</p>-->
                    <!--</div>-->
                    <!--<div flex></div>-->
                <!--</div>-->

                <div class="btn-folding-v">
                    <a href="#" data-ng-click="createAppCtrl.showAdvanceContent = !createAppCtrl.showAdvanceContent">
                        <md-tooltip md-direction="top" aria-label="advanced setting" >高级设置</md-tooltip>
                        <i class="fa " data-ng-class="{'fa-chevron-up': createAppCtrl.showAdvanceContent, 'fa-chevron-down': !createAppCtrl.showAdvanceContent}"></i>
                    </a>
                </div>
                <div data-ng-show="createAppCtrl.showAdvanceContent" class="check-element animate-show">
                    <div layout="row" layout-align="start center" class="form-group">
                        <label flex="15">选择主机</label>
                        <div flex="50" layout="column">
                            <div flex>
                                <div layout="row">
                                    <div flex>
                                        <isteven-multi-select
                                                input-model="createAppCtrl.multiSelect.labels"
                                                output-model="createAppCtrl.multiSelect.selectedLabels"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="tick"
                                                helper-elements="all none filter"
                                                max-height="200px"
                                                translation="createAppCtrl.multiSelect.config.label"
                                                on-item-click="createAppCtrl.tickItem(data)"
                                                on-select-all="createAppCtrl.tickAllLabels()"
                                                on-select-none="createAppCtrl.clearLabels()"
                                                max-labels="2" style="position: relative;"
                                        >
                                        </isteven-multi-select>
                                    </div>
                                    <div flex-offset="5" flex>
                                        <isteven-multi-select
                                                input-model="createAppCtrl.multiSelect.nodes"
                                                output-model="createAppCtrl.multiSelect.selectedNodes"
                                                button-label="ip"
                                                item-label="ip"
                                                tick-property="tick"
                                                helper-elements="all none filter"
                                                max-height="200px"
                                                translation="createAppCtrl.multiSelect.config.node"
                                                on-select-all="createAppCtrl.tickAllNodes()"
                                                on-select-none="createAppCtrl.clearNode()"
                                                max-labels="2" style="position: relative;"
                                        >
                                        </isteven-multi-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">挂载点</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('volumes')">
                                    <i class="fa fa-plus"></i>
                                    添加挂载路径
                                </md-button>
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="volume in createAppCtrl.form.volumes track by $index">
                                <ng-form name="volumes" layout="row" layout-align="start center">
                                    <input type="text" placeholder="主机路径" flex="40" data-ng-model="volume.hostPath"
                                           data-required="required">
                                    <input type="text" placeholder="容器路径" flex-offset="5" flex="40" name="containerPath"
                                           data-ng-model="volume.containerPath" data-required="required"
                                           samename data-name-list="createAppCtrl.listPath" data-name-index="$index">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'volumes')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="volumes.containerPath.$error.samename" class="help-info-bottom error-info">
                                    容器路径已存在</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">应用地址</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary" data-ng-click="createAppCtrl.addConfig('portMappings')"
                                           aria-label="add"><i class="fa fa-plus"></i> 添加应用地址
                                </md-button>
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="portmap in createAppCtrl.form.portMappings track by $index">
                                <ng-form name="portMappings" layout="row" layout-align="start center">
                                    <input type="number" placeholder="应用端口" flex="30" data-ng-model="portmap.appPort"
                                           data-required="required">
                                    <div flex-offset="5" flex="15">
                                        <md-input-container>
                                            <md-select ng-model="portmap.protocol" data-required="required"
                                                       aria-label="select protocol">
                                                <md-option ng-repeat="(index,protocolType) in createAppCtrl.APP_PROTOCOL_TYPE"
                                                           ng-value="protocolType.value" ng-selected="index == 0">{/protocolType.name/}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <input type="number" placeholder="映射端口" flex-offset="5" flex="30" name="mapPort"
                                           data-ng-model="portmap.mapPort" data-required="required"
                                           samename data-name-list="createAppCtrl.listAppPort" data-name-index="$index">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'portMappings')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="portMappings.mapPort.$error.samename" class="help-info-bottom error-info">
                                    映射端口已占用</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">环境变量</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('envs')">
                                    <i class="fa fa-plus"></i>
                                    添加环境变量
                                </md-button>
                                自定义环境变量
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="env in createAppCtrl.form.envs track by $index">
                                <ng-form name="envs" layout="row" layout-align="start center">
                                    <input type="text" placeholder="KEY" flex="40"
                                           data-ng-model="env.key" data-required="required"
                                           name="envKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                           samename data-name-list="createAppCtrl.listEnvs" data-name-index="$index">
                                    <input type="text" placeholder="VALUE" flex-offset="5" flex="40"
                                           data-ng-model="env.value" data-required="required"
                                           name="envValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'envs')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="envs.envKey.$error.samename" class="help-info-bottom error-info">环境变量的 KEY 重复</p>
                                <p data-ng-if="envs.envKey.$error.pattern && !envs.envKey.$pristine"
                                   class="help-info-bottom error-info">环境变量 Key 不能包含中文</p>
                                <p data-ng-if="envs.envValue.$error.pattern && !envs.envValue.$pristine"
                                   class="help-info-bottom error-info">环境变量 Value 不能包含中文</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">Docker 参数</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('parameters')">
                                    <i class="fa fa-plus"></i>
                                    添加 Docker 参数
                                </md-button>
                                自定义Docker 参数
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="docker in createAppCtrl.form.parameters track by $index">
                                <ng-form name="dockerForm" layout="row" layout-align="start center">
                                    <input type="text" placeholder="KEY" flex="40"
                                           data-ng-model="docker.key" data-required="required"
                                           name="dockerKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <input type="text" placeholder="VALUE" flex-offset="5" flex="40"
                                           data-ng-model="docker.value" data-required="required"
                                           name="dockerValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'parameters')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="dockerForm.dockerKey.$error.pattern && !dockerForm.dockerKey.$pristine"
                                   class="help-info-bottom">Docker参数的 Key 不能包含中文</p>
                                <p data-ng-if="dockerForm.dockerValue.$error.pattern && !dockerForm.dockerValue.$pristine"
                                   class="help-info-bottom">Docker参数的 Value 不能包含中文</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                        <label flex="15">日志目录</label>
                        <div flex="60" layout="column">
                            <div flex>
                                <md-button class="md-primary"
                                           aria-label="Add mountpoints"
                                           data-ng-click="createAppCtrl.addConfig('logPaths')">
                                    <i class="fa fa-plus"></i>
                                    添加日志目录
                                </md-button>
                                应用的日志文件目录，如'/var/log/app1.log'
                            </div>
                            <div class="add-row-container"
                                 data-ng-repeat="logPath in createAppCtrl.form.logPaths track by $index">
                                <ng-form name="logPathForm" layout="row" layout-align="start center">
                                    <input type="text" flex="40" data-ng-model="createAppCtrl.form.logPaths[$index]"
                                           name="path" data-required="required"
                                           data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                           samename data-name-list="createAppCtrl.listLogPath" data-name-index="$index">
                                    <div flex-offset="5" flex>
                                        <md-button class="md-icon-button md-accent" aria-label="delete"
                                                   data-ng-click="createAppCtrl.deleteConfig($index, 'logPaths')">
                                            <i class="fa fa-trash"></i>
                                        </md-button>
                                    </div>
                                </ng-form>
                                <p data-ng-if="logPathForm.path.$error.samename" class="help-info-bottom error-info">日志目录路径已存在</p>
                                <p data-ng-if="logPathForm.path.$error.required && !logPathForm.path.$pristine"
                                   class="help-info-bottom error-info">不能为空</p>
                                <p data-ng-if="logPathForm.path.$error.pattern && !logPathForm.path.$pristine"
                                   class="help-info-bottom error-info">路径不能包含中文</p>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start start" class="form-group form-group-input">
                        <label flex="15">CMD</label>
                        <div flex="50" layout="column">
                            <input type="text" data-ng-model="createAppCtrl.form.cmd" placeholder="输入需要运行的命令">
                        </div>
                    </div>
                </div>
                <div layout="row" class="form-footer-button">
                    <div flex-offset="15">
                        <md-button class="md-raised md-primary" data-ng-click="createAppCtrl.createApp()"
                                   data-ng-disabled="staticForm.$invalid" data-demo-disable aria-label="create"
                                   data-ng-if="createAppCtrl.target==='create'">创 建
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-click="createAppCtrl.updateApp()"
                                   data-ng-disabled="staticForm.$invalid|| createAppCtrl.single || createAppCtrl.form.network === 'HOST'"
                                   data-demo-disable data-ng-if="createAppCtrl.target==='update'"
                                   aria-label="update">更 新
                        </md-button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
