<div>
    <form class="form-inline search-container col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="warningEventCtrl.searchKeyWord"
                   name="searchKeyWord"
                   placeholder="输入应用名称进行搜索" my-enter="warningEventCtrl.doSearch(warningEventCtrl.searchKeyWord)">
        </div>
        <button type="submit" ng-click="warningEventCtrl.doSearch(warningEventCtrl.searchKeyWord)"
                class="btn btn-info">搜索
        </button>
    </form>

    <button class="btn btn-success col-md-2 col-md-offset-6" type="button" data-ui-sref="policyWarningCreate">创建新规则
    </button>

</div>
<table ng-table="warningEventCtrl.warningListTable" template-pagination="/views/common/ngTablePage.html"
       class="table table-striped" ng-table-columns-binding="boundCols">
    <tbody>
    <tr ng-repeat="item in warningEventCtrl.warningEvents">
        <td data-title="'编号'" sortable="'number'">
            编号
        </td>
        <td data-title="'规则 ID'">
            规则 ID
        </td>
        <td data-title="'应用'">应用
        </td>
        <td data-title="'告警时间'">告警时间</td>
        <td data-title="'实例'">
            实例
        </td>
        <td data-title="'告警内容'">
            告警内容
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center" data-ng-show="!warningEventCtrl.warningEvents.length">
    未查询到监控事件
</div>
