<div class="modal-header">
    <h3 class="modal-title">日志</h3>
</div>

<form class="form-horizontal" name="volumesForm">
    <div class="modal-body">
        111111
        222222
        33333
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="volumesForm.$invalid" data-ng-click="formCtrl.ok()">
            确定
        </button>
        <button class="btn btn-default" type="button" data-ng-click="formCtrl.cancel()">取消</button>
    </div>
</form>