<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <form flex name="filter.form">
            <input type="text" ng-model="eventLogListCtrl.searchKeyWord" placeholder="输入应用名称进行搜索"
                   my-enter="eventLogListCtrl.table.doSearch(eventLogListCtrl.searchKeyWord)">
        </form>
    </div>
</md-toolbar>
<md-table-container>
    <table md-table>
        <thead md-head md-order="eventLogListCtrl.table.query.order"
               md-on-reorder="eventLogListCtrl.table.getOrder">
        <tr md-row>
            <th md-column md-order-by="jobid"><span>策略 ID</span></th>
            <th md-column md-order-by="appname"><span>应用名称</span></th>
            <th md-column>监控周期(分钟)</th>
            <th md-column md-order-by="exectime">时间</th>
            <th md-column md-order-by="keyword">关键字</th>
            <th md-column md-order-by="resultnum">出现次数</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="item in eventLogListCtrl.eventLogList">
            <td md-cell>{/item.jobid/}</td>
            <td md-cell>{/item.appname/}</td>
            <td md-cell>{/item.ival/}</td>
            <td md-cell>{/item.exectime | date: 'yyyy-MM-dd HH:mm'/}</td>
            <td md-cell>{/item.keyword/}</td>
            <td md-cell>{/item.resultnum/}</td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-show="!eventLogListCtrl.eventLogList.length">
        未查询到日志告警事件
    </div>
</md-table-container>
<md-table-pagination md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}"
                     md-limit="eventLogListCtrl.table.query.limit" md-limit-options="[20, 50, 100]"
                     md-page="eventLogListCtrl.table.query.page"
                     md-total="{/eventLogListCtrl.count/}" md-on-paginate="eventLogListCtrl.table.getPage"
                     md-page-select>
</md-table-pagination>
