<div>
    <form class="form-inline search-container col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="eventLogListCtrl.searchKeyWord"
                   name="searchKeyWord"
                   placeholder="输入应用名称进行搜索" my-enter="eventLogListCtrl.doSearch(eventLogListCtrl.searchKeyWord)">
        </div>
        <button type="submit" ng-click="eventLogListCtrl.doSearch(eventLogListCtrl.searchKeyWord)"
                class="btn btn-info">搜索
        </button>
    </form>
</div>
<table ng-table="eventLogListCtrl.eventLogListTable" template-pagination="/views/common/ngTablePage.html"
       class="table table-striped" ng-table-columns-binding="boundCols">
    <tbody>
    <tr ng-repeat="item in eventLogListCtrl.eventLogList">
        <td data-title="'策略 ID'" sortable="'jobid'">
            {/item.jobid/}
        </td>
        <td data-title="'应用名称'" sortable="'appname'">
            {/item.appname/}
        </td>
        <td data-title="'监控周期(分钟)'">
            {/item.ival/}
        </td>
        <td data-title="'时间'" sortable="'exectime'">
            {/item.exectime | date: 'yyyy-MM-dd HH:mm'/}
        </td>
        <td data-title="'关键字'" sortable="'keyword'">
            {/item.keyword/}
        </td>
        <td data-title="'出现次数'" sortable="'resultnum'">
            {/item.resultnum/}
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center" data-ng-show="!eventLogListCtrl.eventLogList.length">
    未查询到日志告警事件
</div>
