<div class="page-header">
    <div>
        <h1 class="pull-left">新建应用</h1>
        <small>
            <br>
            <br>
            <a href="http://v.youku.com/v_show/id_XMTM5MTI1NzY4MA" target="_blank">
                如何新建一个应用
            </a>
        </small>
    </div>
</div>
<ol class="breadcrumb">
  <li>
    <a data-ui-sref="app.applist">应用管理</a>
  </li>
  <li>
    新建应用
  </li>
</ol>
<section>
    <div class="main-container new-app">
        <div class="main-container-body">
            <form class="form-horizontal" name="staticForm" data-ng-submit="createAppCtrl.create()">
                <!-- 应用名称 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="text-danger">* </span>
                        应用名称
                    </label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.appName.$invalid && !staticForm.appName.$pristine}">
                        <input type="text" class="form-control" name="appName"
                               data-ng-model="createAppCtrl.form.name"
                               data-required="required"
                               data-ng-pattern="/^\S*$/"
                               data-ng-maxlength="16"
                               data-ng-trim="true"
                               data-samename
                               data-name-list="createAppCtrl.appNames">
                    </div>
                    <div data-ng-class="{ 'has-error' : staticForm.appName.$invalid && !staticForm.appName.$pristine}">
                        <p data-ng-show="staticForm.appName.$error.required && !staticForm.appName.$pristine"
                           class="help-block">应用名不能为空</p>

                        <p data-ng-show="staticForm.appName.$error.pattern && !staticForm.appName.$pristine"
                           class="help-block">应用名称不能包含空白符号</p>

                        <p data-ng-show="staticForm.appName.$error.samename"
                           class="help-block">应用名已存在</p>

                        <p data-ng-show="staticForm.appName.$error.maxlength && !staticForm.appName.$pristine"
                           class="help-block">最大长度 16 个字符</p>
                    </div>
                </div>

                <!-- 选择集群 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="text-danger">* </span>
                        选择集群
                    </label>
                    <div class="col-md-5">
                        <select class="form-control"
                                data-ng-model="createAppCtrl.form.cluster_id"
                                data-ng-options="cluster.id as cluster.name for cluster in createAppCtrl.clusters"
                                data-required="required"
                                data-ng-change="createAppCtrl.fetchClusterLabelsAndNodesIps()"
                                >
                            <option value="">--- 选择应用将要运行在哪个集群上 ---</option>
                            <option data-ng-repeat="cluster in createAppCtrl.clusters">{/cluster.name/}</option>
                        </select>
                    </div>
                </div>

                <!-- 镜像地址 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="text-danger">* </span>
                        镜像地址
                    </label>

                    <div class="col-md-5"
                         data-ng-class="{ 'has-error' : staticForm.imageName.$invalid && !staticForm.imageName.$pristine}">
                        <input type="text" class="form-control"
                            name="imageName"
                            data-ng-model="createAppCtrl.form.imageName"
                            data-required="required">
                    </div>
                    <div data-ng-class="{ 'has-error' : staticForm.imageName.$invalid && !staticForm.imageName.$pristine}">
                        <p data-ng-show="staticForm.imageName.$error.required && !staticForm.imageName.$pristine"
                           class="help-block">镜像地址不能为空</p>
                    </div>
                </div>

                <!-- 镜像版本 -->
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="text-danger">* </span>镜像版本</label>

                    <div class="col-md-5">
                        <input type="text" class="form-control"
                            name=imageVersion
                            data-ng-model="createAppCtrl.form.imageVersion"
                            data-required="required"
                            placeholder="版本号"
                        >
                        <!-- <label style="margin-top: 12px; font-weight: normal;" uib-popover="每次重启应用都会获取最新镜像"
                               popover-trigger="mouseenter" popover-placement="right">
                            <input type="checkbox" data-ng-model="forceImage">
                            强制拉取镜像
                        </label> -->
                    </div>

                    <div data-ng-class="{ 'has-error' : staticForm.imageVersion.$invalid && !staticForm.imageVersion.$pristine}">
                        <p data-ng-show="staticForm.imageVersion.$error.required && !staticForm.imageVersion.$pristine"
                           class="help-block">镜像版本不能为空</p>
                    </div>
                </div>

                <!-- 网络模式 -->
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="text-danger">* </span>网络模式</label>

                    <div class="col-md-5">
                        <label class="checkbox-inline">
                            <input type="radio"
                                ng-model="createAppCtrl.form.netWork"
                                value="BRIDGE"
                                data-required="required">
                            网桥模式
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio"
                                ng-model="createAppCtrl.form.netWork"
                                value="HOST"
                                data-required="required">
                            HOST 模式
                        </label>
                    </div>
                </div>

                <!-- 选择主机 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">选择主机</label>

                    <div class="col-md-2">
                        <isteven-multi-select
                                input-model="createAppCtrl.multiData.labels"
                                output-model="createAppCtrl.multiData.selectedLables"
                                button-label="name"
                                item-label="name"
                                tick-property="tick"
                                helper-elements="all none filter"
                                max-height="200px"
                                translation="createAppCtrl.multiData.config.label"
                                on-item-click="createAppCtrl.tickItem(data)"
                                on-select-all="createAppCtrl.tickAllLabels()"
                                on-select-none="createAppCtrl.tickNoLabel()"
                                max-labels="2"
                        >
                        </isteven-multi-select>
                    </div>
                    <div class="col-md-3">
                        <isteven-multi-select
                                input-model="createAppCtrl.multiData.nodes"
                                output-model="createAppCtrl.multiData.selectedNodes"
                                button-label="ip"
                                item-label="ip"
                                tick-property="tick"
                                helper-elements="all none filter"
                                max-height="200px"
                                translation="createAppCtrl.multiData.config.node"
                                on-select-all="createAppCtrl.tickAllNodes()"
                                on-select-none="createAppCtrl.tickNoItems()"
                                max-labels="2"
                        >
                        </isteven-multi-select>
                    </div>
                </div>

                <!-- 挂载点 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">挂载点</label>

                    <div class="col-md-5">
                        <button type="button" class="btn btn-info btn-sm"
                            data-toggle="modal" data-target="#app-volumes">
                            添加挂载路径
                        </button>

                        <table class="table table-striped table-bordered" data-ng-show="createAppCtrl.form.volumes.length">
                            <thead>
                            <tr>
                                <th>主机路径</th>
                                <th>容器路径</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="volume in createAppCtrl.form.volumes">
                                <td>hostPath: {/volume.hostPath/}</td>
                                <td>containerPath: {/volume.containerPath/}</td>
                                <td>
                                    <button type="button"
                                        data-ng-click="createAppCtrl.deleteConfig($index, 'volumes')"
                                        class="btn btn-default btn-xs">删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 容器规格 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="text-danger">* </span>
                        容器规格
                    </label>

                    <div class="col-md-5">
                        <rzslider
                                rz-slider-model="createAppCtrl.containerConfig.cpu.min"
                                rz-slider-options="createAppCtrl.containerConfig.cpu.options" style="width: 70%; float: left;"></rzslider>
                        <span style="display: inline-block; margin-top: 10px; margin-left: 12px;">
                            <strong style="font-size: 30px;">
                                {/createAppCtrl.form.cpus/}
                            </strong>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <rzslider
                                rz-slider-model="createAppCtrl.containerConfig.mem.min"
                                rz-slider-options="createAppCtrl.containerConfig.mem.options" style="width: 70%; float: left;"></rzslider>
                        <span style="display: inline-block; margin-top: 10px; margin-left: 12px;">
                            <strong style="font-size: 30px;">
                                {/createAppCtrl.form.mem/}
                            </strong>
                            <sub>MB</sub>
                        </span>
                    </div>
                </div>

                <!--  容器个数 -->
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="text-danger">* </span>
                        容器个数
                    </label>

                    <div class="col-md-2"
                         data-ng-class="{ 'has-error' : staticForm.instances.$invalid && !staticForm.instances.$pristine }">
                        <input type="number" class="form-control"
                            name="instances"
                            data-ng-model="createAppCtrl.instances"
                            data-min="1"
                            data-required="required">

                        <div data-ng-class="{ 'has-error' : staticForm.instances.$invalid && !staticForm.instances.$pristine }">
                            <p data-ng-show="staticForm.instances.$error.min && !staticForm.instances.$pristine"
                               class="help-block">容器个数不小于 1 </p>

                            <p data-ng-show="staticForm.instances.$error.required && !staticForm.instances.$pristine"
                               class="help-block">容器个数不能为空 </p>
                        </div>
                    </div>
                    <label style="margin-top: 7px; font-weight: normal;"
                        uib-popover="每个主机只能运行一个当前应用的容器"
                        popover-trigger="mouseenter">
                        <input type="checkbox" data-ng-model="createAppCtrl.constraint">
                        1容器:1主机
                    </label>
                </div>

                <a role="button" data-toggle="collapse" href="#advancedSettings" aria-expanded="false"
                   aria-controls="advancedSettings" class="col-md-offset-2 ad-set">高级设置 <span class="caret"></span></a>


                <div class="collapse" id="advancedSettings">
                    <div class="well">
                        <!-- 应用地址 -->
                        <!-- <div class="item-header">
                            <h4>应用地址</h4>
                        </div>
                        <div class="form-inline" style="margin-bottom: 15px;">
                            <button type="button" class="btn btn-info btn-sm" data-ng-click="showAppAdressModal()"> 添加应用地址 </button>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" data-ng-show="portInfos.length">
                                <thead>
                                <tr>
                                    <th>应用端口</th>
                                    <th>类型</th>
                                    <th>协议</th>
                                    <th>地址</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="info in portInfos">
                                    <td>{/info.appPort/}</td>
                                    <td>{/portType[info.type]/}</td>
                                    <td>{/protocolType[info.protocol]/}</td>
                                    <td>
                                        <p ng-show="info.protocol === '1' && info.type === '1'"
                                           ng-repeat="proxyNode in proxyNodes">{/proxyNode.ip/}:{/info.mapPort/}</p>

                                        <p ng-show="info.protocol === '1' && info.type === '2' && info.isUri === '2'"
                                           ng-repeat="gateWay in gateWays">{/gateWay.ip/}:{/info.mapPort/}</p>

                                        <p ng-show="info.protocol === '1' && info.type === '2' && info.isUri === '1'">
                                            {/info.uri/}</p>

                                        <p ng-show="info.protocol === '2' && info.type === '1'"
                                           ng-repeat="proxyNode in proxyNodes">
                                            http://{/proxyNode.ip/}:{/info.mapPort/}</p>

                                        <p ng-show="info.protocol === '2' && info.type === '2' && info.isUri === '1'">
                                            http://{/info.uri/}</p>

                                        <p ng-show="info.protocol === '2' && info.type === '2' && info.isUri === '2'"
                                           ng-repeat="gateWay in gateWays">http://{/gateWay.ip/}:{/info.mapPort/}</p>

                                        <p ng-show="info.protocol === '1' && info.type === '2' && !info.isUri "
                                           ng-repeat="gateWay in gateWays">{/gateWay.ip/}:{/info.mapPort/}</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs"
                                                data-ng-click="deletCurPort($index)">删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <!-- 环境变量 -->
                        <div class="item-header">
                            <h4>环境变量
                                <small>自定义环境变量</small>
                            </h4>
                        </div>

                        <div class="form-inline">
                            <button type="button" class="btn btn-info btn-sm"
                                data-toggle="modal" data-target="#app-path">
                                添加环境变量
                            </button>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" data-ng-show="createAppCtrl.form.envs.length">
                                <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="env in createAppCtrl.form.envs">
                                    <td>{/env.key/}</td>
                                    <td>{/env.value/}</td>
                                    <td>
                                        <button type="button" data-ng-click="createAppCtrl.deleteConfig($index, 'envs')"
                                                class="btn btn-default btn-xs">删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- CMD -->
                        <div class="item-header">
                            <h4> CMD </h4>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <input type="text" class="form-control" data-ng-model="createAppCtrl.form.cmd"
                                       placeholder="输入需要运行的命令">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <button type="submit" class="btn btn-primary btn-block"
                             data-demo-disable
                            >
                            创 建
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div data-ng-include="'/application/common_app_views/volume.html'" data-include-replace></div>
<div data-ng-include="'/application/common_app_views/path.html'" data-include-replace></div>
