<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>管理策略</title>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link href="../bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../css/shurenyun.css">
</head>
<body ng-app="BlankApp" ng-controller="BlankApp" ng-cloak>
  <div layout="row" class="main">
    <aside class="sidebar-main">
      <div class="logo">
        <a href="#"><img src="../images/logo-white-full.svg"></a>
      </div>
      <ul>
        <li class="active"><md-button ng-href="#"><i class="fa fa-tachometer"></i>首页</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-server"></i>集群管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cube"></i>应用管理</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-shopping-cart"></i>应用商店</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cubes"></i>应用编排</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-cogs"></i>镜像构建</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-search"></i>日志查询</md-button></li>
      </ul>
      <ul>
        <li><md-button ng-href="#"><i class="fa fa-book"></i>用户手册</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-coffee"></i>数人社区</md-button></li>
        <li><md-button ng-href="#"><i class="fa fa-pencil-square-o"></i>工单反馈</md-button></li>
      </ul>
    </aside>
    <div layout="column" flex class="big_box">
      <nav ng-controller="AppCtrl" class="nav-main">
        <md-toolbar>
        <div class="md-toolbar-tools">
         <!-- 	导航栏的弹出框-->
         <ul class="xuanxiang">
          <li class="jiqun fa fa-server"><p>新建集群</p></li>
          <li class="yingyong fa fa-cube"><p>新建应用</p></li>
          <li class="jingxiang fa fa-cogs"><p>新建镜像</p></li>
        </ul>
        <ul class="tixing">
          <li>云计算与Cloud Native|数人云CEO 王璞 @KVW 分享实录</li>
          <li>技术干货|Docker容器中需要避免的十种常见错误</li>
          <li>老肖语录|使用Docker做CI解惑</li>
          <li>如何利用Mesos持久化存储方案部署ArangoDB集群</li>
          <li>遇见Marathon：打造大规模容器生产环境</li>
        </ul>
        <ul class="enter">
          <li><a href="#">用户中心</a></li>
          <li><a href="#">登录</a></li>
        </ul>
        <md-button class="md-icon-button" aria-label="Settings">
        <i class="fa fa-bars"></i>
      </md-button>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
      <i class="fa fa-th"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()"
    ng-hide="isOpenRight()">
    <i class="fa fa-bell"></i>
  </md-button>
  <md-button class="md-icon-button" aria-label="More">
  <i class="fa fa-user"></i>
</md-button>
</div>
</md-toolbar>
</nav>

<div class="main-content app-layout">
  <section class="main-section">
   <header layout="row" layout-align="end start">
    <div class="info" flex>
     <h2>管理策略</h2>
   </div>
   <div layout-align="end center" class="operation">
   <md-menu md-offset="0 -5">
      <md-button aria-label="Open demo menu" class="md-fab md-mini" ng-click="openMenu($mdOpenMenu, $event)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <md-tooltip md-direction="top">
          新建策略
        </md-tooltip>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button>应用告警</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>日志告警</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</header>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="应用告警">
        <md-content class="md-padding main-tab-content">

          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="策略">
              <md-content class="md-padding main-tab-content">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <form flex name="filter.form">
                            <input type="text" ng-model="search" placeholder="输入应用名称进行搜索">
                        </form>
                    </div>
                </md-toolbar>
                <md-table-container>
                  <table md-table>
                    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                      <tr md-row>
                        <th md-column md-order-by="name1"><span>ID</span></th>
                        <th md-column md-order-by="name2"><span>应用名称</span></th>
                        <th md-column>规则</th>
                        <th md-column>周期</th>
                        <th md-column>阈值</th>
                        <th md-column md-order-by="name3">联系人</th>
                        <th md-column>启用</th>
                        <th md-column md-order-by="name4">更新时间</th>
                        <th md-column>操作</th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="dessert in desserts">
                        <td md-cell>1103</td>
                        <td md-cell><a href="#">Project 01</a></td>
                        <td md-cell>CPU / 大于 / 80%</td>
                        <td md-cell>5分钟</td> 
                        <td md-cell>一次</td> 
                        <td md-cell>nli@dataman-inc.com</td>
                        <td md-cell>启用</td>
                        <td md-cell>2016-01-25 20:12:36</td> 
                        <td md-cell>
                          <md-menu md-offset="0 -5">
                            <md-button aria-label="Open demo menu" class="md-button md-raised" ng-click="openMenu($mdOpenMenu, $event)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></md-button>
                            <md-menu-content width="2">
                              <md-menu-item>
                                <md-button>停止</md-button>
                              </md-menu-item>
                              <md-menu-item>
                                <md-button>删除</md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="15" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
              </md-content>
            </md-tab>
            <md-tab label="告警信息">
              <md-content class="md-padding main-tab-content">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <form flex name="filter.form">
                            <input type="text" ng-model="search" placeholder="输入应用名称进行搜索">
                        </form>
                    </div>
                </md-toolbar>
                <md-table-container>
                  <table md-table>
                    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                      <tr md-row>
                        <th md-column md-order-by="name1"><span>ID</span></th>
                        <th md-column md-order-by="name2"><span>应用名称</span></th>
                        <th md-column>告警时间</th>
                        <th md-column>实例</th>
                        <th md-column>实际值</th>
                        <th md-column>告警内容</th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="dessert in desserts">
                        <td md-cell>1103</td>
                        <td md-cell><a href="#">Project 01</a></td>
                        <td md-cell>2016-01-25 20:12:36</td> 
                        <td md-cell>3</td>
                        <td md-cell>100.0012 %</td>
                        <td md-cell>CPU / 大于 / 80%</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="15" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
              </md-content>
            </md-tab>
            <md-tab label="扩缩信息">
              <md-content class="md-padding main-tab-content">

              </md-content>
            </md-tab>
          </md-tabs>

        </md-content>
      </md-tab>

      <md-tab label="日志告警">
        <md-content class="md-padding main-tab-content">

          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="策略">
              <md-content class="md-padding main-tab-content">



              </md-content>
            </md-tab>
            <md-tab label="信息">
              <md-content class="md-padding main-tab-content">



              </md-content>
            </md-tab>
          </md-tabs>

        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>

<section>
</div>
</div>


<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
<md-toolbar class="md-theme-light">
<h1 class="md-toolbar-tools">Sidenav Right</h1>
</md-toolbar>
<md-content ng-controller="RightCtrl" layout-padding>
<div ng-controller="AppCtrl2">
  <md-content>
  <md-list>
  <md-list-item class="md-3-line" ng-repeat="item in todos">
  <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
  <div class="md-list-item-text" layout="column">
    <h3>{{ item.who }}</h3>
    <h4>{{ item.what }}</h4>
    <p>{{ item.notes }}</p>
  </div>
</md-list-item>
</md-list>
</md-content>
</div>
<md-button ng-click="close()" class="md-icon-button">
<i class="fa fa-angle-double-right"></i>
</md-button>
</md-content>
</md-sidenav>
</div>
<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/xiala.js"></script>
<!-- Your application bootstrap  -->
</body>
</html>