<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>应用编排</h2>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="部署最新镜像" data-ui-sref="layout.create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>
        <div class="main-content">
            <ul class="collapse in">
                <li class="panel" data-ng-repeat="stack in layoutListCtrl.stacks">
                    <div layout="row" layout-align="end start" class="panel-heading">
                        <div class="info" flex>
                            <h3>{/stack.name/}</h3>
                            <dl class="list-dl-row">
                                <dt>{/stack.status/}</dt>
                                <dd><i class="fa fa-heartbeat status-normal"></i></dd>
                                <dt>更新时间</dt>
                                <dd>{/stack.updated | date:"yyyy-MM-dd HH:mm"/}</dd>
                                <dt>所属集群</dt>
                                <dd><a href="#" data-ui-sref="cluster.clusterdetails.nodes({clusterId:app.cid})">{/layoutListCtrl.clusterNameMap[stack.Cid]/}</a>
                                </dd>
                            </dl>
                        </div>
                        <div layout-align="end center" class="operation">
                            <md-button class="md-raised" aria-label="add"
                                       ng-click="layoutListCtrl.showTableData(stack.Id, stack.Cid)"><i
                                    class="fa fa-plus" aria-hidden="true"></i>
                            </md-button>
                            <md-menu md-offset="0 -5">
                                <md-button aria-label="Open demo menu" class="md-button md-raised"
                                           ng-click="$mdOpenMenu($event)"><i class="fa fa-ellipsis-h"
                                                                             aria-hidden="true"></i>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="stop">停止</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button aria-label="delete">删除</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button aria-label="edit">更新 YML</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div class="panel-collapse">
                        <table md-table ng-show="layoutListCtrl.openFlag[stack.Id]">
                            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column md-order-by="nameToLower"><span>应用名称</span></th>
                                <th md-column md-order-by="calories.value"><span>状态</span></th>
                                <th md-column>更新时间</th>
                                <th md-column>服务数</th>
                                <th md-column>容器数</th>
                                <th md-column>操作</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="table in layoutListCtrl.tableList[stack.Id]">
                                <td md-cell>Project 01</td>
                                <td md-cell><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> 构建中</td>
                                <td md-cell>2016-01-25 20:12:36</td>
                                <td md-cell>2</td>
                                <td md-cell>2</td>
                                <td md-cell>
                                    <md-menu md-offset="0 -5">
                                        <md-button aria-label="Open demo menu" class="md-button md-raised"
                                                   ng-click="$mdOpenMenu($event)"><i
                                                class="fa fa-ellipsis-h" aria-hidden="true"></i></md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button aria-label="stop">停止</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="delete">删除</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="update">更新</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="upContainer">扩展</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="canary">灰度发布</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button aria-label="policy">告警策略</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <footer></footer>
        <section>
        </section>
    </section>
</div>
