<md-dialog aria-label="select image">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>注意</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 500px; max-height: 400px; min-height: 100px;" layout-padding layout-margin>
            <h4>已存在相同告警策略,是否跳转到该策略的更新页面?</h4>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="repeatModalCtrl.cancel()" aria-label="cancel">
                取消
            </md-button>
            <md-button data-ng-click="repeatModalCtrl.ok()" class="md-primary"
                       aria-label="ok">
                跳转
            </md-button>
        </md-dialog-actions>
</md-dialog>

