<modalDialog data-ng-show='clusterState' width='750px' height='90%'>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content' ng-transclude>
            <div class="form-group">
                <button type="button" class="btn btn-primary">解决完毕</button>
                <button type="button" class="btn btn-default">忽略问题</button>
            </div>
        </div>
    </div>
</modalDialog>