<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>镜像构建</h2>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="部署最新镜像" data-ui-sref="image.create">
                    <md-tooltip md-direction="top">创建镜像</md-tooltip>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>

        <div class="main-content">

            <!-- hide search
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <form flex name="filter.form">
                            <input type="text" ng-model="imageListCtrl.filter" placeholder="搜索"
                                   my-enter="imageListCtrl.table.doSearch(imageListCtrl.filter)">
                        </form>
                    </div>
                </md-toolbar>
            -->

            <md-table-container>
                <table md-table>
                    <thead md-head md-order="imageListCtrl.table.query.order"
                           md-on-reorder="imageListCtrl.table.getOrder">
                    <tr md-row>
                        <th md-column md-order-by="name"><span>项目名称</span></th>
                        <th md-column><span>状态</span></th>
                        <th md-column>镜像名称</th>
                        <th md-column md-order-by="updated">最近构建时间</th>
                        <th md-column>最新版本</th>
                        <th md-column>操作</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="project" ng-repeat="project in imageListCtrl.projects">
                        <td md-cell><a href="#"
                                       data-ui-sref="image.detail({projectId: project.id})">{/project.name/}</a></td>
                        <td md-cell>
                            <span data-ng-class="{'text-danger': project.status == 'failure' || project.status == 'error', 'text-success': project.status == 'success',
                            'text-info': project.status == 'running' || project.status == 'pending'}" data-ng-hide="project.status == 'pending' && !project.active">
                                <i class="fa" data-ng-class="{'fa-times-circle': project.status == 'failure' || project.status == 'error', 'fa-check-circle': project.status == 'success',
                                'fa-spinner': project.status == 'running' || project.status == 'pending', 'fa-spin': project.status == 'running' || project.status == 'pending'}"></i>
                                {/imageListCtrl.IMAGE_STATUS[project.status]/}
                            </span>

                            <span data-ng-if="project.status == 'pending' && !project.active">未开始</span>
                        </td>
                        <td md-cell>{/project.imageName/}</td>
                        <td md-cell>{/project.updated * 1000 | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
                        <td md-cell>{/project.image/}</td>
                        <td md-cell>
                            <md-button aria-label="depoly" class="md-button md-raised"
                                       data-ng-show="project.status === 'success'"
                                       data-ng-click="imageListCtrl.goToCreateApp(project.image)">部署
                            </md-button>

                            <md-button aria-label="structure" class="md-button md-raised"
                                       data-ng-click="imageListCtrl.manualBuild(project)">构建
                            </md-button>

                            <md-button aria-label="delete" class="md-button md-raised"
                                       data-ng-click="imageListCtrl.deleteProject(project.id, $event)">删除
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning text-center" data-ng-show="!imageListCtrl.projects.length">
                    未查询到镜像
                </div>
            </md-table-container>

            <md-table-pagination
                    md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}" md-limit="imageListCtrl.table.query.limit"
                    md-limit-options="[20, 50, 100]"
                    md-page="imageListCtrl.table.query.page" md-total="{/imageListCtrl.count/}"
                    md-on-paginate="imageListCtrl.table.getPage" md-page-select></md-table-pagination>
        </div>
    </section>
</div>
