<!DOCTYPE html>
<html data-ng-app="glance" data-ng-controller="rootCtrl">
    <head>
        <meta charset="utf-8">
        <title>数人云</title>
        <base href="/">
        <!--build:css css/style.css-->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="bower_components/loaders.css/loaders.css">
        <link rel="stylesheet" type="text/css" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css">
        <link rel="stylesheet" type="text/css" href="bower_components/circliful/css/jquery.circliful.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/ng-dialog/css/ngDialog.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/ng-table/dist/ng-table.css">
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/shurenyun.css">
        <!--endbuild-->
        <link rel="shortcut icon" type="image/x-icon" href="pics/favicon.ico" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-2 sidebar">
                    <div class="user">
						<img src="../pics/ico-user-header.svg">
                        <h5 data-ng-bind="userName"></h5>
                        <a href="#" data-ui-sref="user.groups" data-demo-disable><span class="glyphicon glyphicon-cog" aria-hidden="true" title="用户中心"></span></a>&nbsp;
                        <a href="#" data-ng-click="logout()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>

                    <ul class="nav nav-sidebar">
                        <li data-ng-class="{'active': show=='home'}" title="首页">
                            <a data-ui-sref="home" data-ui-sref-opts="{reload: true}">
                                <i class="fa fa-home"></i> <span class="text">首页</span>
                            </a>
                        </li>
                        <li data-ng-class="{'active': show=='cluster'}" title="集群管理">
                            <a data-ui-sref="cluster.listclusters" data-ui-sref-opts="{reload: true}">
                                <i class="fa fa-server"></i> <span class="text">集群管理</span>
                            </a>
                        </li>

                        <li data-ng-class="{'active': show=='application'}" title="应用管理">
                            <a data-ui-sref="applist.my" data-ui-sref-opts="{reload: true}">
                                <i class="fa fa-cube"></i> <span class="text">应用管理</span>
                            </a>
                        </li>
                        <li data-ng-class="{'active': show==='image'}" title="镜像构建">
                            <a data-ui-sref="imageList" data-ui-sref-opts="{reload: true}">
                                <i class="fa fa-cogs"></i> <span class="text">镜像构建</span>
                            </a>
                        </li>
                        <li data-ng-class="{'active': show=='log'}" title="日志查询">
                            <a data-ui-sref="log" data-ui-sref-opts="{reload: true}">
                                <i class="fa fa-file-text"></i> <span class="text">日志查询</span>
                            </a>
                        </li>
                    </ul>

                    <div class="form-group" id="notice" ng-if="noticeHtml" ng-cloak>
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <div data-ng-bind-html="noticeHtml"></div>
                        </div>
                    </div>

                    <a data-ui-sref="home" ng-class="{'sidebar-logo': !IS_OFF_FLAG}"></a>
					<ul class="nav-sidebar-footer" data-ng-if="!IS_OFF_FLAG" ng-cloak>
						<li><a  ng-href="{/userManualUrl/}" title="用户手册" target="_blank"><div class="userdoc"><span>用户手册</span></div></a></li>
						<li><a href="http://open.shurenyun.com" title="数人社区" target="_blank"><div class="bbs"><span>数人社区</span></div></a></li>
					</ul>
                    
                </div>

                <div id="main" class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-10 col-md-offset-2 main">
                    <div data-ui-view></div>
                    <div class="loading-style" data-ng-include="'/views/loading/loading.html'" data-ng-show="loadings.default"></div>
                </div>
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>{/ _confirmMsg /}</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-ng-click="_confirmCallback()" data-dismiss="modal">确定</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-rb-feedback ng-hide" style="bottom: 76px;" ng-show="notInDemoGroup && demoGroupId">
            <a href="#" data-ng-click="openJoinDemoGroupModal()">
                <i class="glyphicon glyphicon-gift"></i>
                <em>试用</em>
            </a>
        </div>
        <div class="tab-rb-feedback" data-ng-if="!IS_OFF_FLAG" ng-cloak>
            <a href="#" data-ng-click="getCSUrl()">
                <i class="glyphicon glyphicon-edit"></i>
                <em>反馈</em>
            </a>
        </div>
        
        <!-- GrowingIO -->
        <script type='text/javascript'>
            var _vds = _vds || [];
        </script>
        
        <!-- rev-hash -->
        <script src="js/confdev.js" type="text/javascript"></script>
        <!-- end -->
        <!--build:js js/script.js-->
        <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        <script src="bower_components/loaders.css/loaders.css.js" type="text/javascript"></script>
        <!--endbuild-->

        <!--build:js js/angular.js-->
        <script src="bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
        <script src="bower_components/ngSocket/dist/ngSocket.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js" type="text/javascript"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js" type="text/javascript"></script>
        <script src="bower_components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
        <script src="bower_components/circliful/js/jquery.circliful.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js" type="text/javascript"></script>
        <script src="bower_components/ng-dialog/js/ngDialog.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js" type="text/javascript"></script>
        <script src="bower_components/echarts/src/echarts-dataman.js" type="text/javascript"></script>
        <script src="bower_components/angularjs-slider/dist/rzslider.min.js" type="text/javascript"></script>
        <script src="bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
        <!--endbuild-->
        
        <!--build:js(build) js/main.js-->
        
        <script src="glance/utils/utils.module.js" type="text/javascript"></script>
        <script src="glance/utils/services/utils.service.js" type="text/javascript"></script>
        <script src="glance/utils/services/ghttp.service.js" type="text/javascript"></script>
        <script src="glance/utils/modals/confirm.service.js" type="text/javascript"></script>
        <script src="glance/utils/modals/alert.service.js" type="text/javascript"></script>
        <script src="glance/utils/modals/form.service.js" type="text/javascript"></script>
        
        <script src="glance/cluster/cluster.module.js" type="text/javascript"></script>
        <script src="glance/cluster/cluster.config.js" type="text/javascript"></script>
        <script src="glance/cluster/services/cluster-backend.service.js" type="text/javascript"></script>

        <script src="glance/application/app.module.js" type="text/javascript"></script>
        <script src="glance/application/app.config.js" type="text/javascript"></script>
        <script src="glance/application/app.route.js" type="text/javascript"></script>
        <script src="glance/application/services/app-backend.service.js" type="text/javascript"></script>
        <script src="glance/application/services/app-curd.service.js" type="text/javascript"></script>
        <script src="glance/application/services/app-label.service.js" type="text/javascript"></script>
        <script src="glance/application/createupdate/create-update.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/createupdate/modals/create-port.service.js" type="text/javascript"></script>
        <script src="glance/application/createupdate/modals/create-select-image.service.js" type="text/javascript"></script>
        <script src="glance/application/list/list.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/list/my.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/list/group.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/detail.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/config.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/event.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/instance.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/monitoring.ctrl.js" type="text/javascript"></script>
        <script src="glance/application/detail/version.ctrl.js" type="text/javascript"></script>

        <script src="glance/user/user.module.js" type="text/javascript"></script>
        <script src="glance/user/user.config.js" type="text/javascript"></script>
        <script src="glance/user/center.ctrl.js" type="text/javascript"></script>
        <script src="glance/user/group/list.ctrl.js" type="text/javascript"></script>
        <script src="glance/user/password/update.ctrl.js" type="text/javascript"></script>
        <script src="glance/user/services/user-backend.service.js"></script>

        <script type="text/javascript" src="glance/image/image.module.js"></script>
        <script type="text/javascript" src="glance/image/image.config.js"></script>
        <script type="text/javascript" src="glance/image/image.route.js"></script>
        <script type="text/javascript" src="glance/image/services/image-backend.service.js"></script>
        <script type="text/javascript" src="glance/image/services/image-build-setting.service.js"></script>
        <script type="text/javascript" src="glance/image/services/image-curd-service.js"></script>
        <script type="text/javascript" src="glance/image/modals/image-log-modal.service.js"></script>
        <script type="text/javascript" src="glance/filter/project-url.filter.js"></script>
        <script type="text/javascript" src="glance/image/list/list.ctrl.js"></script>
        <script type="text/javascript" src="glance/image/create/create.ctrl.js"></script>
        <script type="text/javascript" src="glance/image/detail/detail.ctrl.js"></script>
        <script type="text/javascript" src="glance/image/detail/version.ctrl.js"></script>
        <script type="text/javascript" src="glance/image/detail/brief.ctrl.js"></script>
        <script type="text/javascript" src="glance/image/detail/setting.ctrl.js"></script>
        <!--endbuild-->
        
        <!--build:js js/old-main.js-->
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/constants.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
        <script src="js/directives/include-replace.js" type="text/javascript"></script>
        <script src="js/ngservices/http-service.js" type="text/javascript"></script>
        <script src="js/ngservices/logloader-service.js" type="text/javascript"></script>
        <script src="js/ngservices/unitconversion-service.js" type="text/javascript"></script>
        <script src="js/ngservices/ws-service.js" type="text/javascript"></script>
        <script src="js/ngservices/user-service.js" type="text/javascript"></script>
        <script src="js/ngservices/monitor-service.js" type="text/javascript"></script>
        <script src="js/ngservices/charts-service.js" type="text/javascript"></script>
        <script src="js/ngservices/clusterstatus-service.js" type="text/javascript"></script>
        <script src="js/ngservices/update-cluster-service.js" type="text/javascript"></script>
        <script src="js/ngservices/get-cluster-lables.js" type="text/javascript"></script>
        <script src="js/ngservices/multi-select-service.js" type="text/javascript"></script>
        <script src="js/ngservices/model-open.js" type="text/javascript"></script>
        <script src="js/ngservices/appCURD.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/ngservices/label-service.js"></script>
        <script src="js/rootctrl.js" type="text/javascript"></script>
        <script src="js/cluster/clusterctrl.js" type="text/javascript"></script>
        <script src="js/cluster/listclustersctrl.js" type="text/javascript"></script>
        <script src="js/cluster/clusterdetailsctrl.js" type="text/javascript"></script>
        <script src="js/cluster/clusterdetailsnodectrl.js" type="text/javascript"></script>
        <script src="js/cluster/clusterdetailslogctrl.js" type="text/javascript"></script>
        <script src="js/cluster/clusterdetailsmonitorctrl.js" type="text/javascript"></script>
        <script src="js/cluster/createclusterctrl.js" type="text/javascript"></script>
        <script src="js/cluster/createclusterformctrl.js" type="text/javascript"></script>
        <script src="js/cluster/updateclusterctrl.js" type="text/javascript"></script>
        <script src="js/cluster/updateclusterformctrl.js" type="text/javascript"></script>
        <script src="js/cluster/addnodectrl.js" type="text/javascript"></script>
        <script src="js/cluster/addlivingnodectrl.js" type="text/javascript"></script>
        <script src="js/cluster/iaasCtrl.js" type="text/javascript"></script>
        <script src="js/cluster/addnodeformctrl.js" type="text/javascript"></script>
        <script src="js/cluster/nodedetailsctrl.js" type="text/javascript"></script>
        <script src="js/cluster/updatenodectrl.js" type="text/javascript"></script>
        <script src="js/cluster/updatenodeformctrl.js" type="text/javascript"></script>
        <script src="js/log/logbase.js" type="text/javascript"></script>
        <script src="js/dynamic/dynamicbase.js" type="text/javascript"></script>
        <script src="js/modals/join-demo-group.js" type="text/javascript"></script>
        <!--endbuild-->
        
        <!--build:js(build) js/directive.js-->
        <script src="glance/directives/dm-copy.directive.js" type="text/javascript"></script>
        <script src="glance/directives/dm-permit-click.directive.js" type="text/javascript"></script>
        <!--endbuild-->
        
        <!--build:js js/template.js-->
        <!-- inject:template.js -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!--endbuild-->

        <!-- baidu -->
        <script>
            if (RUNNING_ENV === "prod") {
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?cd74c0fcc0c51aecc3bb276315e35e6a";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            }
        </script>

    </body>
</html>
