<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <form flex name="filter.form">
            <input type="text" ng-model="clusterNodesCtrl.searchKeyWord" placeholder="输入标签名称搜索主机"
                   my-enter="clusterNodesCtrl.table.doSearch(clusterNodesCtrl.searchKeyWord)">
        </form>
    </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default" layout="row" layout-align="space-between center">
    <div class="md-toolbar-tools">
        <div flex></div>
        <div class="btn-group btn-dropdown-info md-toolbar-tools"
             data-ng-show="clusterNodesCtrl.updateInfo.node && clusterDetailCtrl.cluster.status != 'upgrading'"
             style="padding: 0 10px">
            <button type="button" class="btn btn-warning btn-sm"
                    data-ng-click="clusterNodesCtrl.upgradeNode(clusterDetailCtrl.cluster.id); clusterDetailCtrl.cluster.status = 'upgrading'"
                    data-ng-disabled="clusterDetailCtrl.nodeTotal === clusterDetailCtrl.cluster.node_nums['0_terminated']"
                    data-demo-disable
                    data-dm-permit-click="1"
                    data-dm-role="clusterDetailCtrl.cluster.group_role"
                    data-dm-permit-msg="FRONTEND_MSG.no_group_admin">升级服务
                <span class="badge" data-ng-bind="clusterNodesCtrl.updateInfo.node"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"
                    data-ng-disabled="clusterDetailCtrl.nodeTotal === clusterDetailCtrl.cluster.node_nums['0_terminated']"
                    aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li data-ng-repeat="(name, num) in clusterNodesCtrl.updateInfo" ng-if="name != 'node'">
                    {/clusterNodesCtrl.SERVICE_NAME[name]/}
                    <span class="badge" data-ng-bind="num"></span>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-dropdown-info md-toolbar-tools"
             data-ng-show="clusterDetailCtrl.cluster.status == 'upgrading'"
             style="padding: 0 10px">
            <button type="button" class="btn btn-warning btn-sm" disabled="disabled">升级中
                <span class="badge"></span>
            </button>
        </div>
        <md-button md-direction="left" data-ng-click="$state.reload()">刷新</md-button>
        <md-button data-ui-sref="cluster.nodesource({clusterId:clusterDetailCtrl.cluster.id})"
                   data-dm-permit-click="1"
                   data-dm-role="clusterDetailCtrl.cluster.group_role"
                   data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
            添加主机
        </md-button>
        <md-button data-ng-disabled="!clusterNodesCtrl.selected.length" data-demo-disable
                   data-ng-click="clusterNodesCtrl.deletNodes($event, clusterNodesCtrl.selected)"
                   data-dm-permit-click="1"
                   data-dm-role="clusterDetailCtrl.cluster.group_role"
                   data-dm-permit-msg="FRONTEND_MSG.no_group_admin">删除主机
        </md-button>
        <md-menu md-offset="0 40">
            <md-button class="md-button"
                       ng-click="$mdOpenMenu($event)"
                       id="dropdownMenuNodeLabel"
                       aria-haspopup="true" aria-expanded="true"
                       data-ng-disabled="!clusterNodesCtrl.selected.length"
                       data-demo-disable
                       data-dm-permit-click="1"
                       data-dm-role="clusterDetailCtrl.cluster.group_role"
                       data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                主机标签
            </md-button>
            <md-menu-content style="min-width: 88px;">
                <md-menu-item>
                    <md-button data-ng-click="clusterNodesCtrl.showAddLabelDialog($event)">
                        贴标签
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button data-ng-click="clusterNodesCtrl.showTearLabelDialog($event, clusterNodesCtrl.selected)">
                        撕标签
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-table-container>
    <table md-table md-row-select multiple ng-model="clusterNodesCtrl.selected">
        <thead md-head md-order="clusterNodesCtrl.table.query.order" md-on-reorder="clusterNodesCtrl.table.getOrder">
        <tr md-row>
            <th md-column><span>名称</span></th>
            <th md-column><span>类型</span></th>
            <th md-column><span>标签</span></th>
            <th md-column>IP地址</th>
            <th md-column>运行状态</th>
            <th md-column>Agent版本</th>
            <th md-column>创建时间</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="node" ng-repeat="node in clusterNodesCtrl.nodes">
            <td md-cell class="agent-version">
                  <span><a data-ui-sref="cluster.nodedetails({nodeId:node.id, clusterId:clusterDetailCtrl.cluster.id})">{/node.name/}</a>
                      <em class="label label-danger" data-ng-show="clusterNodesCtrl.upgradeFailed[node.id]">
                          升级失败
                      </em>
                  </span>
            </td>
            <td md-cell>
                <span class="bg-primary" data-ng-if="node.role">{/node.role.toUpperCase()/}</span>
                <span class="bg-primary" data-ng-if="!node.role">未确定</span>
            </td>
            <td md-cell>
                <span style="margin-left:2px" class="bg-primary" data-ng-repeat="nodeLabel in node.node_labels">{/ nodeLabel.label.name /}</span>
            </td>
            <td md-cell>
                {/node.ip/}
            </td>
            <td md-cell>
                <i class="{/nodeStatusCls[node.status]/}" aria-hidden="true"></i>{/clusterNodesCtrl.NODE_STATUS_NAME[node.status]/}
            </td>
            <td md-cell>
                <span>{/node.agent_version/}</span>
            </td>
            <td md-cell>
                {/node.created_at/}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" ng-show="!clusterNodesCtrl.nodes.length">
        未查询到符合条件的主机
    </div>
</md-table-container>
<md-table-pagination md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}"
                     md-limit="clusterNodesCtrl.table.query.limit" md-limit-options="[20, 50, 100]"
                     md-page="clusterNodesCtrl.table.query.page"
                     md-total="{/clusterNodesCtrl.count/}" md-on-paginate="clusterNodesCtrl.table.getPage"
                     md-page-select>
</md-table-pagination>

