<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>用户中心</h2>
            </div>
        </header>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="镜像仓库" dm-tab-sref="user.registries"></md-tab>
            <md-tab label="修改密码" dm-tab-sref="user.password"></md-tab>
            <md-tab label="用户组管理" dm-tab-sref="user.groups"></md-tab>
            <md-tab label="资源计量" dm-tab-sref="user.billings"></md-tab>
            <md-tab label="软件授权" dm-tab-sref="user.licence" ng-if="is_licence_on"></md-tab>
            <md-tab label="用户管理" dm-tab-sref="user.users" data-ng-if="isSuperuser"></md-tab>
        </md-tabs>
        <md-content class="main-tab-content" data-ui-view></md-content>
    </section>
</div>

