<div class="main-container app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2 data-ng-if="createWarningCtrl.target === 'create'">新建应用告警策略</h2>
                <h2 data-ng-if="createWarningCtrl.target === 'update'">更新应用告警策略</h2>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="部署最新镜像">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>
        <div class="main-content">
            <form name="warningForm" data-ng-submit="createWarningCtrl.submit()">
                <div layout="row" layout-align="end start" class="form-group form-group-input"
                     data-ng-if="createWarningCtrl.target === 'update'">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" aria-label="updateapp"
                                   data-ng-model="createWarningCtrl.form.appname" data-ng-disabled="true">
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input"
                     data-ng-if="createWarningCtrl.target === 'create'">
                    <label flex="15">应用名称</label>
                    <div flex="50" layout="column">
                            <md-input-container>
                                <md-select data-ng-model="createWarningCtrl.app" aria-label="createapp"
                                           data-required="required" name="createapp"
                                           md-on-open="createWarningCtrl.getAppList()">
                                    <md-option ng-repeat="app in createWarningCtrl.apps" ng-value="app">
                                        {/app.name/}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">告警规则</label>
                    <div flex="50" layout="column">
                        <div layout="row">
                            <div flex="25">
                                <md-select data-ng-model="createWarningCtrl.form.metric" data-required="required"
                                           aria-label="metric">
                                    <md-option data-ng-repeat="rule in createWarningCtrl.selectRules" ng-value="rule.label">{/rule.name/}</md-option>
                                </md-select>
                            </div>
                            <div flex="25" flex-offset="5">
                                <md-select data-ng-model="createWarningCtrl.form.operator" data-required="required"
                                           aria-label="selectSize">
                                    <md-option ng-repeat="size in createWarningCtrl.selectSize" ng-value="size.label">{/size.name/}</md-option>
                                </md-select>
                            </div>
                            <div flex="30" flex-offset="5">
                                <input type="text" class="form-input"
                                       aria-label="threshold"
                                       data-ng-model="createWarningCtrl.form.threshold" name="threshold"
                                       data-required="required" data-ng-pattern="/^\d+(\.\d+)?$/">
                            </div>
                            <div flex>
                                <span class="form-input-addon" id="memused"
                                      data-ng-if="createWarningCtrl.form.metric === 'MemoryUsed'">MB</span>
                                <span class="form-input-addon" id="cpuused"
                                      data-ng-if="createWarningCtrl.form.metric === 'CpuUsedCores'">%</span>
                                <span class="form-input-addon" id="diskused"
                                      data-ng-if="createWarningCtrl.form.metric === 'DiskIOReadBytesRate' ||
                                                  createWarningCtrl.form.metric === 'DiskIOWriteBytesRate' ||
                                                  createWarningCtrl.form.metric === 'NetworkReceviedByteRate' ||
                                                  createWarningCtrl.form.metric === 'NetworkSentByteRate'">B/s</span>
                            </div>
                        </div>
                    </div>
                    <div flex></div>
                </div>


                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">监控周期</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="number" class="form-input"  aria-label="duration"
                                   data-ng-model="createWarningCtrl.form.duration"
                                   data-required="required" name="duration" max="255" min="1" integer>
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="warningForm.duration.$error.max && !warningForm.duration.$pristine">
                            <small>最大值不得超过 255</small>
                        </p>
                        <p class="error-info help-info-bottom"
                           data-ng-show="warningForm.duration.$error.min && !warningForm.duration.$pristine">
                            <small>最小值不小于 1</small>
                        </p>
                    </div>
                    <div flex><span class="form-input-addon">分钟</span></div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">阈值</label>
                    <div flex="50" layout="column">
                        <div flex="25">
                            <input type="number" class="form-input" aria-label="times"
                                   data-ng-model="createWarningCtrl.form.times"
                                   data-required="required" name="times" max="255" min="1" integer>
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="warningForm.times.$error.max && !warningForm.times.$pristine">
                            <small>最大值不超过 255</small>
                        </p>
                    </div>
                    <div flex><span class="form-input-addon">次数</span></div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">告警联系人</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input"
                                   name="emails" aria-label="emails"
                                   data-required="required" data-ng-model="createWarningCtrl.form.emails">
                        </div>
                        <p class="help-info-bottom">mail1@123.com, mail2@123.com, ...</p>
                    </div>
                    <div flex></div>
                </div>

                <!--应用扩缩-->
                <div layout="row" layout-align="end start" class="form-group form-group-radio">
                    <label flex="15">是否扩缩</label>
                    <div flex="15" layout="column">
                        <md-radio-group ng-model="createWarningCtrl.form.triger" layout="row">
                            <md-radio-button data-ng-value="true" flex> 是</md-radio-button>
                            <md-radio-button data-ng-value="false" flex> 否</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div flex></div>
                </div>
                <!--实例数-->
                <div layout="row" layout-align="end start" class="form-group form-group-input" data-ng-if="createWarningCtrl.form.trigger">
                    <label flex="15">实例数</label>
                    <div flex="50" layout="column">
                        <div layout="row">
                            <input type="text" class="form-input"
                                   name="emails" aria-label="emails"
                                   data-required="required" data-ng-model="createWarningCtrl.form.instance" flex placeholder="最大值">
                            <input type="text" class="form-input"
                                   name="emails" aria-label="emails"
                                   data-required="required" data-ng-model="createWarningCtrl.form.mininstance" flex flex-offset="5" placeholder="最小值">
                        </div>
                        <p>*选择自动扩缩,达到条件应用实例会扩展至最大实例数,随后每个监控周期未达到条件将会减少一个实例,直到最少实例数</p>
                    </div>
                    <div flex></div>
                </div>


                <div layout="row" class="form-footer-button">
                    <div flex-offset="15" layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary" type="submit"
                                   data-ng-if="createWarningCtrl.target === 'create'"
                                   data-ng-disabled="warningForm.$invalid">创 建</md-button>
                        <md-button class="md-raised md-primary" type="submit"
                                   data-ng-if="createWarningCtrl.target === 'update'"
                                   data-ng-disabled="warningForm.$invalid">更 新</md-button>
                    </div>
                </div>
            </form>
        </div>

        <footer></footer>
        <section>
        </section>
    </section>
</div>


