<div class="page-header">
    <h1 class="pull-left">添加主机</h1>
    <small>
      数人云可以助您轻松接入遍布各地的计算资源，
      <br>
      无论主机的操作系统和网络环境。
      <br>
      <a href="http://v.youku.com/v_show/id_XMTM5MTI1NTc2NA" target="_blank">如何添加一台主机</a>
    </small>
    <a href="#" class="btn btn-success" 
      data-ui-sref="cluster.createcluster"
      data-demo-disable="left">新建集群</a>
</div>

<ol class="breadcrumb">
  <li>
    <a data-ui-sref="cluster.listclusters">集群管理</a>
  </li>
  <li>
    <a data-ui-sref="cluster.nodesource({clusterId: clusterId})">添加主机</a>
  </li>
  <li>添加现有主机</li>
</ol>

<section class="add-node" data-ng-controller="addNodeFormCtrl">
    <div class="main-container">
        <div class="main-container-body">
            <div class="alert alert-info">
                <h4>
                    <a href="#" ng-click="isCollapsed = !isCollapsed">
                        在您添加主机之前，请检查以确保您的环境满足下述条件（点击查看）：
                    </a>
                </h4>
                <div uib-collapse="isCollapsed">
                    <ol>
                        <li>
                            每台运行 Docker 的主机必须能够 ping 通数人云， ping www.shurenyun.com 响应；
                        </li>
                        <li>
                            同一集群内的主机相互都可以连通；
                        </li>
                        <li>
                            安装 Docker 版本必须在1.7.1以上(强烈建议1.8.2)，并确保 Docker Daemon 运行；
                        </li>
                        <li>
                            使用64位 Linux 系统，已经通过测试的操作系统： <em>CentOS 7+</em> 和 <em>Ubuntu 14.04+</em>；
                        </li>
                        <li>
                            推荐 Ubuntu 使用 AUFS 或 CentOS 使用 Device Mapper 作为 Docker 文件系统(生产环境使用 Device Mapper)；
                        </li>
                        <li>CentOS 关闭 selinux；</li>
                        <li>开启 iptables-nat。</li>
                    </ol>
                </div>
            </div>

            <form name="staticForm" class="form-horizontal" role="form">

                <div class="form-group" data-ng-class="{ 'has-error' : (staticForm.name.$invalid && !staticForm.name.$pristine)||
                  (message_error_info.name && staticForm.name.$pristine)}">
                  <label class="col-md-2 control-label">主机名称</label>

                  <div class="col-md-8">
                    <input type="text" name="name" class="form-control" data-ng-model="form.name" data-ng-disabled="afterCopy">

                    <p data-ng-show="staticForm.name.$pristine" class="help-block">
                    {/message_error_info["name"]/}</p>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        可选组件
                    </label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="radio" data-ng-disabled="afterCopy"
                                   data-ng-model="attribute" value="noAttribute">
                            无
                        </label>
                        <span uib-popover="提供对外(公网)服务发现，安装此组件的主机需要有固定的公网IP，不对外提供服务的集群可以不安装。"
                              popover-trigger="mouseenter">
                            <label class="checkbox-inline">
                                <input type="radio" data-ng-disabled="afterCopy"
                                       data-ng-model="attribute" value="gateway">
                                外部网关
                            </label>
                        </span>
                        <span uib-popover="提供内部(内网)服务发现，推荐集群中至少选择一台主机安装此组件，特殊需求可以安装多台。"
                              popover-trigger="mouseenter">
                            <label class="checkbox-inline">
                                <input type="radio" data-ng-disabled="afterCopy"
                                       data-ng-model="attribute" value="proxy">
                                内部代理
                            </label>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 control-label">主机标签</label>
                  <div class="col-md-8" style="padding-top: 6px;">
                    <span data-ng-include="'/views/cluster/node-label.html'"></span>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">连接主机</label>

                    <div class="col-md-8" data-ng-show="nodeInstallScript">
                      <div class="copy-code-agent">
                        <header class="clearfix">
                          <button type="button" class="btn btn-primary copy" title="点击复制代码"
                            data-clipboard-target="install-docker-code">
                            <span class="glyphicon glyphicon-copy"></span>
                            <em>点击复制</em>
                          </button>
                          <h5>
                            1. 安装 Docker 
                            <small class="help-block">主机已安装 Docker，请跳过。</small>
                          </h5>
                        </header>
                        <code id="install-docker-code">curl -sSL https://get.docker.com/ | sh11</code>
                      </div>

                      <div class="copy-code-agent">
                        <header class="clearfix">
                          <button type="button" class="btn btn-primary copy " title="点击复制代码"
                            data-clipboard-target="code" data-ng-click="clickToCopy()"
                          data-demo-disable>
                            <span class="glyphicon glyphicon-copy"></span>
                            <em>点击生成命令</em>
                          </button>
                          <h5>
                            2. 安装 Agent 
                            <small class="help-block">
                              请登录目标主机，运行以下命令，本操作需要 sudo 权限。依据组件不同，可能需要 
                              <strong class="text-success">2~5G</strong>
                              磁盘空间。
                            </small>
                          </h5>
                        </header>
                        <code id="code" data-ng-bind="nodeInstallScript" data-ng-show="afterCopy"></code>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                      <div data-ng-class="{'connected-bar': isConected,'alert-process':!isConected}">
                        {/msgstate/}
                      </div>
                    </div>
                </div>

                <div class="form-group form-btnbar-b">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-primary" data-ng-disabled="staticForm.$invalid"
                                data-ng-click="addNode()">
                            完成
                        </button>
                        <a type="button" class="btn btn-default" data-ng-disabled="staticForm.$invalid"
                          data-ng-click="addNode(true)">
                            完成并继续添加主机
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-ng-include="'/views/cluster/node-label-modal.html'"></div>

</section>
