<div class="page-header">
    <h1 class="pull-left">添加主机</h1>
</div>

<section class="add-node">
    <div class="main-container">
        <div class="main-container-body">
            <div class="alert alert-info">
                <h4>
                    <a href="#" ng-click="isCollapsed = !isCollapsed">
                        在您添加主机之前，请检查以确保您的环境满足下述条件：
                    </a>
                </h4>
                <div uib-collapse="isCollapsed">
                    <ol>
                        <li>
                            每台运行 Docker 的主机必须能够 ping 通数人云， ping www.shurenyun.com 响应；
                        </li>
                        <li>
                            同一集群内的主机相互都可以连通；
                        </li>
                        <li>
                            安装 Docker 版本必须在1.7.1以上(强烈建议1.8.2)，并确保 Docker Daemon 运行；
                        </li>
                        <li>
                            使用64位 Linux 系统，已经通过测试的操作系统： <em>CentOS 7+</em> 和 <em>Ubuntu 14.04+</em>；
                        </li>
                        <li>
                            推荐 Ubuntu 使用 AUFS 或 CentOS 使用 Device Mapper 作为 Docker 文件系统(生产环境使用 Device Mapper)；
                        </li>
                        <li>CentOS 关闭 selinux；</li>
                        <li>开启 iptables-nat。</li>
                    </ol>
                </div>
              </div>

              <form name="staticForm" class="form-horizontal" role="form" data-ng-controller="addNodeFormCtrl">

                <div class="form-group" data-ng-class="{ 'has-error' : (staticForm.name.$invalid && !staticForm.name.$pristine)||
                  (message_error_info.name && staticForm.name.$pristine)}">
                  <label class="col-md-2 control-label">主机名称</label>

                  <div class="col-md-8">
                    <input type="text" name="name" class="form-control" data-ng-model="form.name">

                    <p data-ng-show="staticForm.name.$pristine" class="help-block">
                    {/message_error_info["name"]/}</p>
                  </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span data-toggle="tooltip" data-placement="bottom" title="请在选择主机类型时认真阅读其定义，系统将依据主机类型来决定在该主机上运行何种应用，以及是否作为服务发现节点。"></span>
                        <span class="glyphicon glyphicon-info-sign"></span> 
                        主机类型
                    </label>

                    <div class="col-md-10">
                        <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="作为集群中动态可支配的计算资源，运行各种无状态应用。">
                          <input type="checkbox" data-ng-disabled="afterCopy" data-ng-model="form.attributes.transient" data-ng-change="onAttributesChange('transient')"/>
                          <span>计算节点</span>
                        </label>

                        <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="将作为集群中数据持久化的节点使用，请将有状态应用(MySQL, Redis等)部署于此类节点。">
                            <input type="checkbox" data-ng-disabled="afterCopy" data-ng-model="form.attributes.persistent" data-ng-change="onAttributesChange('persistent')">
                            <span>数据节点</span>
                        </label>

                        <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="将用作集群外部服务发现，需要此节点有固定的公网 IP。">
                            <input type="checkbox" data-ng-disabled="afterCopy" data-ng-model="form.attributes.gateway" data-ng-change="onAttributesChange('gateway')">
                            <span>外部网关</span>
                        </label>

                        <label class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="将用作集群内部服务发现。">
                            <input type="checkbox" data-ng-disabled="afterCopy" data-ng-model="form.attributes.proxy" data-ng-change="onAttributesChange('proxy')">
                            <span>内部代理</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">连接主机</label>

                    <div class="col-md-8" data-ng-show="nodeInstallScript">
                      <div class="copy-code-agent">
                        <h5>1. 安装 Docker <small>（主机已安装 Docker，请跳过）</small></h5>
                        <code>curl -sSL https://get.docker.com/ | sh</code>
                      </div>
                      <div class="copy-code-agent">
                        <h5>2. 安装 Agent <small>请登录目标主机，运行以下命令，本操作需要sudo权限。</small>
                          <button type="button" class="btn btn-primary copy" title="点击复制代码"
                            data-clipboard-target="code" data-ng-click="clickToCopy()">
                            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                            <em>点击生成命令</em>
                          </button>
                        </h5>
                        <code id="code" data-ng-bind="nodeInstallScript" data-ng-show="afterCopy"></code>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                      <div data-ng-class="{'connected-bar': isConected,'alert-process':!isConected}">
                        {/msgstate/}
                      </div>
                    </div>
                </div>

                <div class="form-group form-btnbar-b">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-primary" data-ng-disabled="staticForm.$invalid"
                                data-ng-click="addNode()">
                            完成
                        </button>
                        <button class="btn btn-default" data-ng-disabled="staticForm.$invalid"
                                data-ng-click="addNode(true)">
                            完成并继续添加主机
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
