<div class="main-container-body">
    <div class="main-container-body clearfix col-md-6 control-label">
        <piechart chart-used="clusterMonitors.masMetrics.cpuPercent" chart-total="100" radius="[75, 90]"
                  use-color="#68d1f2" show-text="CPU 占用" text-color="#68d1f2">
        </piechart>
        <h4>集群CPU: {/clusterMonitors.masMetrics.cpuShare/} / {/clusterMonitors.masMetrics.cpuTotal/}</h4>

    </div>

    <div class="main-container-body clearfix col-md-6 control-label">
        <piechart chart-used="clusterMonitors.masMetrics.memUsed" chart-total="clusterMonitors.masMetrics.memTotal" radius="[75, 90]"
                  use-color="#ff9494" show-text="内存占用" text-color="#ff9494">
        </piechart>
        <h4>集群内存占用 (MB): {/clusterMonitors.masMetrics.memUsed/} / {/clusterMonitors.masMetrics.memTotal/}</h4>

    </div>

    <div ng-show="showAppMetrics" class="clearfix">
        <table class="table">
            <thead>
            <tr>
                <th>应用名称</th>
                <th>实例个数 (个)</th>
                <th>CPU用量</th>
                <th>内存用量 (MB)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appMetric in clusterMonitors.appMetrics">
                <td>{/appMetric.appName/}</td>
                <td>{/appMetric.instances/}</td>
                <td style="width: 30%;">
                    <uib-progressbar class="progress-striped active" type="info" max="appMetric.appCpuShare"
                                     value="appMetric.appCpuUsed"><span>{/appMetric.appCpuUsed/} / {/appMetric.appCpuShare.toFixed(1)/}</span>
                    </uib-progressbar>
                </td>
                <td style="width: 30%;">
                    <uib-progressbar class="progress-striped active" type="success" max="appMetric.appMemShare"
                                     value="appMetric.appMemUsed"><span>{/appMetric.appMemUsed.toFixed(1)/} / {/appMetric.appMemShare.toFixed(1)/}</span>
                    </uib-progressbar>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


