<div class="tab-content">
    <div id="servers" role="tabpanel" class="tab-pane active cluster-nodes">
        <div class="main-container-body">
            <div data-ng-show="cluster.nodes.length">
                <div>
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="refresh()">刷新</button>
                    <a href="#" data-ui-sref="cluster.nodesource({clusterId:cluster.id})">
                        <button type="button" class="btn btn-default btn-sm">添加主机</button>
                    </a>
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="deleteNodes(checkedNodes.value)"
                            data-ng-disabled="!checkedNodes.value.length">删除主机
                    </button>
                    <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-warning btn-sm" 
                        autocomplete="off" data-ng-show="getUpgradeStatus(statusCache[cluster.id]['nodes'])=='upgrading'" disabled="disabled">
                            升级中 
                        <span class="badge" data-ng-bind="countOldAgent(statusCache[cluster.id]['nodes'])"></span>
                    </button>
                    <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-warning btn-sm" 
                        autocomplete="off" data-ng-click="upgradeAgent(cluster.id)" 
                        data-ng-show="getUpgradeStatus(statusCache[cluster.id]['nodes'])=='failed'">
                            升级Agent 
                        <span class="badge" data-ng-bind="countOldAgent(statusCache[cluster.id]['nodes'])"></span>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" data-ckb-batch-all="checkedNodes"></th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>IP地址</th>
                            <th>运行状态</th>
                            <th>Agent版本</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="node in contentCurPage">
                            <td>
                                <input type="checkbox" data-ckb-batch="checkedNodes" data-ng-value="node">
                            </td>
                            <td>
                                <a data-ui-sref="cluster.nodedetails({nodeId:node.id, clusterId:cluster.id})">{/ node.name /}</a>
                            </td>
                            <td>
                                <span class="bg-primary" data-ng-show="getIsMaster(node)">MASTER</span><span class="bg-primary" data-ng-repeat="attr in node.attributes">{/ nodeAttributes[attr.attribute] /}</span>
                            </td>
                            <td>
                                {/ node.ip/}
                            </td>
                            <td>
                                <img data-ng-src="../pics/ico-node-status-{/statusCache[cluster.id]['nodes'][node.id].status/}.png" width="16"> {/statName[statusCache[cluster.id]['nodes'][node.id].status]/}
                            </td>
                            <td class="agent-version">
                                <span>{/ statusCache[cluster.id]['nodes'][node.id].agentVersion/}
                                    <em class="label label-danger" data-ng-show="statusCache[cluster.id]['nodes'][node.id].isUpgradeFailed">升级失败</em>
                                </span>
                            </td>
                            <td>
                                {/ node.created_at /}
                            </td>
                            <td>
                                {/ node.updated_at /}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <uib-pagination total-items="totalItems" items-per-page="20" ng-model="currentPage" ng-change="pageChanged()" data-ng-show="showPagination" previous-text="上一页" next-text="下一页"></uib-pagination>
            </div>
            <div data-ng-show="!cluster.nodes.length">
                <h4>
                    集群中没有主机，
                    <a data-ui-sref="cluster.nodesource({clusterId:cluster.id})">添加主机</a>
                </h4>
            </div>
        </div>
        
    </div>
</div>
