<div class="main-content app-layout" id="dashboard">
<section class="main-section">
    <header class="layout-align-end-start layout-row" layout="row" layout-align="end start">
            <div class="info flex" flex="">
                <h2>{/cluster.name/}</h2>
                <dl>
                    <dt>主机数量</dt>
                    <dd>{/cluster.nodes.length/}</dd>
                    <dt data-ng-if="cluster.group_name">用户组</dt>
                    <dd data-ng-if="cluster.group_name">{/cluster.group_name/}</dd>
                    <dt>集群状态:</dt>
                    <dd>{/clusterStatusText/}</dd>
                </dl>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini"
                           data-ui-sref="cluster.updatecluster({clusterId: cluster.id, name: cluster.name})" data-demo-disable
			   data-dm-permit-click="1"
                           data-dm-role="cluster.group_role"
                           data-dm-permit-msg="FRONTEND_MSG.no_group_admin"
                           aria-label="编辑集群">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </md-button>

                <md-button class="md-fab md-mini" 
                           data-toggle="modal"
                           data-demo-disable
                           data-ng-click="deleteCluster(cluster.id, $event)"
                           data-dm-permit-click="1"
                           data-dm-role="cluster.group_role"
                           data-dm-permit-msg="FRONTEND_MSG.no_group_admin"
                           aria-label="删除项目">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="主机列表" dm-tab-sref="cluster.detail.nodes">
                <md-content class="md-padding main-tab-content" ui-view="cluster">
            </md-tab>
            <md-tab label="集群监控" dm-tab-sref="cluster.clusterdetails.monitoring">
                <md-content class="md-padding main-tab-content" ui-view="cluster">
            </md-tab>
        </md-tabs>
    </md-content>
</section>
</div>
