<div class="page-header">
    <div>
      <h1 class="pull-left">集群详情</h1>
    </div>
</div>
<ol class="breadcrumb">
  <li>
  <a data-ui-sref="cluster.listclusters">集群管理</a>
  </li>
  <li>集群详情</li>
</ol>

<section class="cluster-detail">
    <div class="main-container cluster-title">
        <div class="main-container-body">
            <h3>{/cluster.name/} <small>主机数量: {/cluster.nodes.length/}</small></h3>
            <div class="btn-group btn-group-toggle">
                <button type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ui-sref="cluster.updatecluster({clusterId: cluster.id, name: cluster.name})">编辑集群</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal"  data-target="#deleteClusterConfirm">删除集群</a>
                    </li>
                    <li data-ng-show="!cluster.is_agent_latest">
                        <a href="#" data-ng-click="upgradeAgent(cluster.id)">升级Agent</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-container">
        <header class="clearfix main-container-header" data-ng-show="cluster.nodes.length">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" data-ng-class="{'active': clusterClass==='clusterNode'}">
                    <a data-ui-sref="cluster.clusterdetails.nodes" aria-controls="home" role="tab">
                        主机列表
                      </a>
                </li>
                <li role="presentation" data-ng-class="{'active': clusterClass==='clusterMonitor'}">
                    <a data-ui-sref="cluster.clusterdetails.monitoring" aria-controls="configuration" role="tab">
                        集群监控
                    </a>
                </li>
            </ul>
        </header>
        <div data-ui-view="cluster"></div>
    </div>

    <div class="modal fade" id="deleteClusterConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>您确定要删除集群吗？</h3>
                    <div class="delete-cluster">
                        <p>删除集群将在您的主机上一并清除：</p>
                        <ul>
                            <li>数人云管理组件</li>
                            <li>通过数人云下发部署的应用及其未持久化的数据</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteCluster(cluster.id, cluster.name)">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                </div>
            </div>
        </div>
    </div>
</section>
