<div class="page-header">
  <h1 class="pull-left" >集群管理</h1>
</div>

<section class="create-group">
<div class="main-container container-size-m">
  <div class="main-container-body">
    <form name="staticForm" class="form-horizontal" role="form" data-ng-controller="createClusterFormCtrl" novalidate>
      <div class="form-group" data-ng-class="{ 'has-error' : staticForm.name.$invalid && !staticForm.name.$pristine }">
        <label class="col-md-3 control-label">集群名称</label>
        <div class="col-md-8">
          <input type="text" class="form-control" name="name" data-ng-model="form.name" data-required="required" data-name-repaet-validator />
          <p data-ng-show="staticForm.name.$error.required && !staticForm.name.$pristine" class="help-block">集群名不能为空</p>
          <p data-ng-show="staticForm.name.$error.nameRepaetValidator" class="help-block">集群名已存在</p>
          <p data-ng-show="staticForm.name.$pristine" class="help-block">{/ message_error_info["name"] /}</p>
        </div>
      </div>

      <div class="form-group">
        <label  class="col-md-3 control-label">集群规模</label>
        <div class="col-md-8">
          <select class="form-control" data-ng-model="form.clusterType">
            <option value="1_master">1个 Master</option>
            <option value="3_masters">3个 Master</option>
            <option value="5_masters">5个 Master</option>
          </select>
          <div>
            </br>
            <p><small>1 master, 开发环境使用， 适合6台主机以内使用。</small></p>
            <p><small>3 master, 基础生产环境使用，适合30台主机以内使用。</small></p>
            <p><small>5 master, 高容错级生产环境使用，适合30台主机以上使用。</small></p>
          </div>
        </div>
      </div>

      <div class="form-group form-btnbar-b">
        <div class="col-sm-offset-3 col-md-8">
          <button class="btn btn-default btn-primary" data-ng-click="createCluster()"  data-ng-disabled="staticForm.$invalid">完成</button>
          <button class="btn btn-default btn-primary" data-ng-click="createCluster(true)"  data-ng-disabled="staticForm.$invalid">完成并添加主机</button>
        </div>
      </div>
    </form>
  </div>
</div>
</section>
