<div class="main-container app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>新建集群</h2>
            </div>
       </header>
       <div class="main-content"> 
           <form name="staticForm" data-ng-controller="createClusterFormCtrl"> 
              <div layout="row" layout-align="end start" class="form-group form-group-input layout-align-end-start layout-row">
                  <label class="flex-15" flex="15">集群名称</label>
                  <div class="layout-column flex-50" flex="50" layout="column">
                    <div class="flex-none" flex="none">
                      <input class="form-input" type="text" data-required="required" max=255 min=1 name="name" data-ng-model="form.name">
                      <p data-ng-show="staticForm.name.$error.required && !staticForm.name.$pristine" class="help-block">集群名不能为空</p>
                      <p data-ng-show="staticForm.name.$pristine" class="help-block">{/ staticForm.message_error_info["name"] /}</p>
                    </div>
                  </div>
                  <div class="flex" flex=""></div>
              </div>
              <div layout="row" layout-align="end start" class="form-group form-group-input layout-align-end-start layout-row">
                   <label class="flex-15" flex="15">用户组</label>
                   <div class="layout-column flex-50" flex="50" layout="column">
                     <div class="flex-none" flex="none">
                         <md-input-container class="md-block" flex-gt-sm>
                             <md-select data-ng-model="form.groupId" aria-label="group">
                                 <md-option value="">无</md-option>
                                 <md-option ng-repeat="group in groups" value="{/ group.id /}">
                                   {/ group.name /}
                                 </md-option>
                             </md-select>
                         </md-input-container>
                     </div>
                   </div>
                   <div class="flex" flex=""></div>
               </div>
               <div layout="row" layout-align="end start" class="form-group form-group-input layout-align-end-start layout-row">
                   <label class="flex-15" flex="15">集群类型</label>
                   <div class="layout-column flex-50" flex="50" layout="column">
                     <div class="flex-none" flex="none">
                         <md-radio-group ng-model="form.clusterType" role="radiogroup">
                             <md-radio-button value="1_master" 
                                              name="clusterType"
                                              class="md-primary md-checked">
                                 <strong>初级版</strong> <small>1 Master，开发环境使用，适合6台主机以内使用。</small>
                             </md-radio-button>
                             <md-radio-button value="3_masters"
                                              name="clusterType"
                                              class="md-primary" > 
                                 <strong>高级版</strong> <small>3 Masters，基础生产环境使用，适合30台主机以内使用。</small>
                             </md-radio-button>
                             <md-radio-button value="5_masters"
                                              name="clusterType"
                                              class="md-primary">
                                 <strong>企业版</strong> <small>5 Masters，高容错级生产环境使用，适合30台主机以上使用。</small>
                             </md-radio-button>
                         </md-radio-group>
                     </div>
                   </div>
                   <div class="flex" flex=""></div>
               </div>
               <div layout="row" class="form-footer-button">
                   <div flex-offset="15">
                       <md-button class="md-raised md-primary"
                                  data-ng-click="createCluster()"
                                  data-ng-disabled="staticForm.$invalid"
                                  data-demo-disable>完成
                       </md-button>
                       <md-button class="md-raised"
                                  data-ng-click="createCluster(true)"
                                  data-ng-disabled="staticForm.$invalid"
                                  data-demo-disable>
                                  完成并添加主机
                       </md-button>
                       <md-button class="md-raised md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                   </div>
               </div>
           </form>
        </div>
    </section>
</div>
