<div class="page-header">
  <div>
    <h1 class="pull-left">添加主机</h1>
    <small><br>可以助您轻松接入遍布各地的计算资源，<br>无论主机的操作系统和网络环境。</small>
  </div>
</div>
<ol class="breadcrumb">
  <li>
  <a data-ui-sref="cluster.listclusters">首页</a>
  </li>
  <li>
  <a data-ui-sref="cluster.nodesource({clusterId: clusterId})">添加主机</a>
  </li>
  <li>
  <a data-ui-sref="cluster.iaasprovider({clusterId: clusterId, nodeId:nodeId})">选择服务商</a>
  </li>
  <li>QCloud</li>
</ol>
<section>
<div class="main-container add-node" data-ng-if="skip.step == 1">
  <div class="main-container-body select-nodetype-panel">
    <h3>合作服务商</h3>
    <div class="row buynode-step">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <div class="text-center">
            <img src="../pics/logo-qcloud.png"><span class="glyphicon glyphicon-link"></span><img src="../pics/logo-shurenyun.png">
          </div>
          <div class="caption">
            <h4>把腾讯云连接到数人云上</h4>
            <p>可以在您的腾讯云账号下创建一个主机，并连接数人云。</p>
            <div class="text-right">
              <a href="#" class="btn btn-primary" role="button" data-ng-click="skip.step=2">连接</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ng-if="skip.step == 2" class="main-container add-node">
  <div class="main-container-body select-nodetype-panel">
    <h3>合作服务商</h3>
    <div class="row buynode-step">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <img src="../pics/pic-tengxunyun-01.png" alt="...">
          <div class="caption">
            <p>1. 访问 [腾讯云-服务市场] 并点击「立即使用」。创建主机界面请选择系统类型为「数人云」。</p>
            <div class="text-right">
              <a href="#" class="btn btn-default" role="button" data-ng-click="skip.step=1">上一步</a>
              <a href="#" class="btn btn-primary" role="button" data-ng-click="skip.step=3">下一步</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ng-if="skip.step == 3" class="main-container add-node">
  <div class="main-container-body select-nodetype-panel">
    <h3>合作服务商</h3>
    <div class="row buynode-step">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <img src="../pics/pic-tengxunyun-02.png" alt="...">
          <div class="caption">
            <p>2. 登录到云主机控制台找到新创建的云主机并点击「登录」。也可以通过 SSH 登录。</p>
            <div class="text-right">
              <a href="#" class="btn btn-default" role="button" data-ng-click="skip.step=2">上一步</a>
              <a href="#" class="btn btn-primary" role="button" data-ng-click="skip.step=4">下一步</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ng-if="skip.step == 4" class="main-container add-node">
  <div class="main-container-body select-nodetype-panel">
    <h3>合作服务商</h3>

    <div class="row buynode-step">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <img src="../pics/pic-tengxunyun-03.png" alt="...">
          <div class="caption">
            <p style="margin-bottom: 30px;">
            <a target="_blank" type="button" class="btn btn-primary" href="http://market.qcloud.com/detail.php?productId=301">现在就去购买 <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span></a>
            </p>
            <p>请将下面红色部分的主机识别码复制到您想要接入的主机, 然后点击键盘的回车键。</p>
            <label class='font-blue' for="exampleInputAmount">node identifier:</label>
            <code>{/nodeId/}</code>
            <div class="text-right">
              <a href="#" class="btn btn-default" role="button" data-ng-click="skip.step=3">上一步</a>
              <a href="#" class="btn btn-success" role="button" data-ui-sref="cluster.clusterdetails.nodes({clusterId: clusterId})">完成</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
