<div class="main-content app-layout">
    <section class="main-section" style="margin-bottom: -30px;">
        <header layout="row" layout-align="end center">
            <md-button class="md-raised md-primary operation" layout-align="end center"
                       data-ui-sref="cluster.createcluster">新建集群
            </md-button>
        </header>
    </section>
    <section class="main-section" data-ng-if="clusters.length !== 0" data-ng-repeat="cluster in clustersBasicData">
        <!--头部-->
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>
                    <span data-ng-if="!cluster.amounts.total">{/ cluster.infos.name /}</span>
                    <a data-ng-if="cluster.amounts.total"
                       data-ui-sref="cluster.detail({clusterId:cluster.infos.id})">
                        {/cluster.infos.name /}
                    </a>
                </h2>
                <dl>
                    <dt data-ng-if="cluster.amounts.total">主机数量</dt>
                    <dd data-ng-if="cluster.amounts.total">{/cluster.amounts.total/}</dd>
                    <dt data-ng-if="cluster.infos.updated_at">更新时间</dt>
                    <dd data-ng-if="cluster.infos.updated_at">{/ cluster.infos.updated_at /}</dd>
                    <dt data-ng-if="cluster.infos.group_name">用户组</dt>
                    <dd data-ng-if="cluster.infos.group_name"> {/cluster.infos.group_name/}</dd>
                    <dt>集群状态</dt>
                    <dd>
                        <span data-ng-if="!cluster.problemTips">{/CLUSTER_STATUS[cluster.infos.status]/}</span>
                        <a href="#" data-ng-click="showProblemTips(cluster, $event)" data-ng-if="cluster.problemTips">{/CLUSTER_STATUS[cluster.infos.status]/}</a>
                    </dd>
                </dl>
                <dl class="hostList">
                    <dt class="running {/clustersNodesData[$index].selectedClasses.running/}"
                        data-ng-if="cluster.amounts.running">正常主机
                    </dt>
                    <dd data-ng-if="cluster.amounts.running"><a href="#"
                                                                data-ng-click="filterSingleCluster($index, 'running')">{/cluster.amounts.running/}</a>
                    </dd>
                    <dt class="terminated {/clustersNodesData[$index].selectedClasses.terminated/}"
                        data-ng-if="cluster.amounts.terminated">失联主机
                    <dd data-ng-if="cluster.amounts.terminated"><a href="#"
                                                                   data-ng-click="filterSingleCluster($index, 'terminated')">{/cluster.amounts.terminated/}</a>
                    </dd>
                    </dt>
                    <dt class="failed {/clustersNodesData[$index].selectedClasses.failed/}"
                        data-ng-if="cluster.amounts.failed">异常主机
                    <dd data-ng-if="cluster.amounts.failed"><a href="#"
                                                               data-ng-click="filterSingleCluster($index, 'failed')">{/cluster.amounts.failed/}</a>
                    </dd>
                    </dt>
                    <dt class="failed {/clustersNodesData[$index].selectedClasses.failed/}"
                        data-ng-if="cluster.amounts.abnormal">报警主机
                    </dt>
                    <dd data-ng-if="cluster.amounts.abnormal"><a href="#"
                                                                 data-ng-click="filterSingleCluster($index, 'abnormal')">{/cluster.amounts.abnormal/}</a>
                    </dd>
                    <dt class="installing {/clustersNodesData[$index].selectedClasses.installing/}"
                        data-ng-if="cluster.amounts.installing||cluster.amounts.initing||cluster.amounts.upgrading||cluster.amounts.repairing">
                        维护中主机
                    </dt>
                    <dd data-ng-if="cluster.amounts.installing||cluster.amounts.initing||cluster.amounts.upgrading||cluster.amounts.repairing">
                        <a href="#" data-ng-click="filterSingleCluster($index, 'installing')">{/cluster.amounts.installing+cluster.amounts.initing+cluster.amounts.upgrading+cluster.amounts.repairing/}</a>
                    </dd>
                </dl>

            </div>

            <!--功能按钮部分-->
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="添加主机"
                           data-ui-sref="cluster.nodesource({clusterId:cluster.infos.id})"
                           data-dm-permit-click="1"
                           data-dm-role="cluster.infos.group_role"
                           data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                    <md-tooltip md-direction="top">添加主机</md-tooltip>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>

                <md-button class="md-fab md-mini"
                           data-toggle="modal"
                           data-ng-click="deleteCluster(cluster.infos.id, $event, cluster.amounts.total)"
                           data-demo-disable
                           data-dm-permit-click="1"
                           data-dm-role="cluster.infos.group_role"
                           data-dm-permit-msg="FRONTEND_MSG.no_group_admin"
                           aria-label="删除集群">
                    <md-tooltip md-direction="top">删除集群</md-tooltip>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>

        <!--主机部分-->
        <div class="main-content" id="dasboard" layout="row" layout-align="start start">
            <div flex layout="row" layout-align="start center" class="cluster-charts-panel">
                <div>
                    <ul class="cluster-service-ico-list clearfix"
                        data-ng-if="clustersNodesData[$index].masters.length>0">

                        <li data-ng-repeat="master in clustersNodesData[$index].masters">
                            <a data-toggle="tooltip"
                               title="[{/master.name/}] [{/master.ip/}] {/statName[master.nodeStatus]/}"
                               data-ui-sref="cluster.nodedetails({clusterId: cluster.infos.id, nodeId:master.id})">
                                <img data-ng-src="/pics/node-master-status-{/master.nodeStatus/}.png"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="cluster-service-ico-list clearfix"
                        data-ng-if="clustersNodesData[$index].firstGroupSlaves.length>0">
                        <li data-ng-repeat="node in clustersNodesData[$index].firstGroupSlaves">
                            <a data-toggle="tooltip" title="[{/node.name/}] [{/node.ip/}] {/statName[node.nodeStatus]/}"
                               data-ui-sref="cluster.nodedetails({clusterId: cluster.infos.id, nodeId:node.id})">
                                <img data-ng-src="/pics/node-status-{/node.nodeStatus/}.png"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="cluster-service-ico-list clearfix" data-ng-if="cluster.infos.showMore"
                        data-ng-repeat="slaves in clustersNodesData[$index].followingGroupSlaves">
                        <li data-ng-repeat="node in slaves">
                            <a data-toggle="tooltip" title="[{/node.name/}] [{/node.ip/}] {/statName[node.nodeStatus]/}"
                               data-ui-sref="cluster.nodedetails({clusterId: cluster.infos.id, nodeId:node.id})">
                                <img data-ng-src="/pics/node-status-{/node.nodeStatus/}.png"/>
                            </a>
                        </li>
                    </ul>
                </div>

                <div data-ng-if="clustersNodesData[$index].followingGroupSlaves.length">
                    共{/cluster.amounts.total/}台主机
                <span data-ng-click="toggleShowMoreSlaves($index)">
                    {/cluster.infos.clickWords/}
                </span>
                </div>
                <!--没有主机的情况-->
                <div data-ng-if="!cluster.amounts.total">
                    <md-button data-ui-sref="cluster.nodesource({clusterId:cluster.infos.id})" class="md-primary"
                            data-dm-permit-click="1"
                           data-dm-role="cluster.infos.group_role"
                           data-dm-permit-msg="FRONTEND_MSG.no_group_admin">
                        集群中没有主机，点击添加主机
                    </md-button>
                </div>
            </div>
        </div>
</div>

