<div class="page-header">
    <div>
        <h1 class="pull-left">主机详情</h1>
        <a data-ui-sref="cluster.createcluster" class="btn btn-success">新建集群</a>
    </div>
</div>
<ol class="breadcrumb">
  <li>
  <a data-ui-sref="cluster.listclusters">集群管理</a>
  </li>
  <li>主机详情</li>
</ol>

<section class="server-detail">
    <div class="row">
        <div class="col-md-12">
            <div class="main-container server-detail-title">
                  <header class="clearfix">
                  <h2>
                    {/ node.name /}<a href="#" data-ui-sref="cluster.updatenode({nodeId: node.id, clusterId: node.cluster.id})" class="modify-name" title="修改名称"><img src="../pics/ico-edit.svg" width="12"></a>
                    <span class="label label-info" data-ng-show="isMasterFlag">MASTER</span><span class="label label-info" data-ng-repeat="attr in node.attributes">{/ nodeAttributes[attr.attribute] /}</span>
                  </h2>
                  </header>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-container">
                <div class="main-container-body">
                    <ul class="server-info">
                        <li>
                            <div>主机状态</div><em><big data-ng-class="getClass(statusMgr.nodes[node.id].status)">{/statName[statusMgr.nodes[node.id].status]/}</big></em>
                        </li>
                        <li>

                          <div style="vertical-align:top;">主机标签</div>
                          <span data-ng-include="'/views/cluster/node-label.html'"></span>

                        </li>
                        <li>
                            <div>IP 地址</div><em>{/ node.ip /}</em>
                        </li>
                        <li>
                            <div>所属集群</div><em><a data-ui-sref="cluster.clusterdetails.nodes({clusterId:node.cluster.id})">{/ node.cluster.name /}</a></em>
                        </li>
                        <li>
                            <div>创建时间</div><em>{/ node.created_at /}</em>
                        </li>
                        <li>
                            <div>CPU</div><em>{/ nodeInfo.cpuNumber /}<sub>核</sub></em>
                        </li>
                        <li>
                            <div>内存</div><em>{/ unitConversion.convertMem(nodeInfo.memTotal).num /}<sub>{/unitConversion.convertMem(nodeInfo.memTotal).unit/}</sub></em>
                        </li>
                        <li>
                            <div>系统版本</div><em>{/ nodeInfo.osVersion /}</em>
                        </li> 
                        <li>
                            <div>容器版本</div><em>{/ nodeInfo.dockerVersion /}</em>
                        </li> 
                        <li>
                            <div>agent 版本</div><em>{/ nodeInfo.agentVersion /}</em>
                        </li>
                        <li data-ng-show="node.updated_at">
                            <div>更新时间</div><em>{/ node.updated_at /}</em>
                        </li> 
                    </ul>
                    <div data-ng-include="'/views/cluster/node-label-modal.html'"></div>
                </div>
            </div>
            <button class="btn btn-danger btn-block" data-ng-click="deleNode(node.id)">删除主机</button>
        </div>
        <div class="col-md-8">
        
            <div class="main-container">
                <div class="main-container-body">
                    <ul class="clearfix server-app-status">
                        <li data-ng-repeat="service in serviceViews"> 
                            <div>
                                <img data-ng-src="../pics/ico-service-status-{/statusMgr.nodes[node.id].services[service].status/}.png" width="30">
                                <button class="btn btn-xs btn-warning" 
                                data-ng-show="statusMgr.nodes[node.id].services[service].status=='failed' && 
                                    (statusMgr.nodes[node.id].status=='running'||statusMgr.nodes[node.id].status=='failed')"
                                data-ng-click="resetService(service)">重置</button>
                            </div>  
                            <em data-ng-bind="getServiceLabel(service)"></em>
                            <span class="version" data-ng-bind="statusMgr.nodes[node.id].services[service].version.split(':', 2)[1].substr('omega.'.length)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="main-container">
                <div class="main-container-body">
                    <div class="charts-loading" data-ng-hide="showCharts">
                          <p>CPU监控</p>
                          <div class="loading-spiner-holder">
                            <div class="loading-spiner">
                              <div class="loaders">
                                <div class="loader">
                                  <div class="loader-inner ball-spin-fade-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>内存监控</p>
                          <div class="loading-spiner-holder">
                            <div class="loading-spiner">
                              <div class="loaders">
                                <div class="loader">
                                  <div class="loader-inner ball-spin-fade-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>磁盘监控</p>
                          <div class="loading-spiner-holder">
                            <div class="loading-spiner">
                              <div class="loaders">
                                <div class="loader">
                                  <div class="loader-inner ball-spin-fade-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="charts">
                          <div id="node-cpu-chart"></div>
                          <div id="node-memory-chart"></div>
                          <div id="node-disk-chart"></div>
                        </div>
                </div> 
            </div>
        </div>
    </div>
</section>