<md-dialog style="min-width:500px;box-shadow:none;border-radius:10px">
   <md-dialog-content>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">标签管理</h4>
      </div>

      <div class="modal-body">
        <ul class="modal-tag">
          <li data-ng-repeat="selectedLabel in selectedLabels">
            <span class="server-tag selected" data-ng-click="tearLabel(selectedLabel)" title="移除标签">
              {/selectedLabel.name/}
              <em class="line-left"></em>
              <em class="line-right"></em>
            </span>
          </li>

          <li data-ng-repeat="unselectedLabel in unselectedLabels">
            <span class="server-tag" data-ng-click="labelledNode(unselectedLabel)" title="贴标签">
              {/unselectedLabel.name/}
              <em class="line-left"></em>
              <em class="line-right"></em>
            </span>
            <a href="#" title="删除标签" data-ng-click="deleteLabel(unselectedLabel)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </li>
        </ul>

        <form class="form-inline panel-create-tag" name="labelForm.label">
          
            <div class="form-group" data-ng-class="{'has-error' : labelForm.label.newLabelName.$dirty && labelForm.label.newLabelName.$invalid}">
              <div>
                <input type="text" class="form-control input-sm"
                  placeholder="标签名称" name="newLabelName"
                  data-ng-model="labelForm.newLabelName" data-ng-trim="true"
                  data-required="required" data-ng-pattern="/^[A-Za-z0-9-]{1,}$/"
                  data-samename data-name-list="allLabelNames">
                <button type="submit" class="btn btn-sm btn-success"
                  data-ng-click="createLabel()"
                  data-ng-disabled="labelForm.label.newLabelName.$invalid">新建标签</button>
              </div>
              <p data-ng-show="labelForm.label.newLabelName.$error.samename" class="help-block text-left">
                <small>标签名已存在</small>
              </p>
              <p data-ng-show="labelForm.label.newLabelName.$error.pattern" class="help-block text-left">
                <small>标签名只可包含数字、字母或横线。</small>
              </p>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-click="cancel()">完成</button>
      </div>
    </div>
    </md-dialog-content>
</md-dialog>
