<div class="main-container app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>编辑集群</h2>
            </div>
       </header>
       <div class="main-content" ng-controller="updateClusterCtrl">
           <form name="infoForm" data-ng-controller="updateClusterFormCtrl"> 
               <div layout="row" layout-align="end start" class="form-group form-group-input">
                   <label flex="15">集群名称</label>
                   <div flex="50" layout="column">
                       <div flex="none">
                           <input name="name" type="text" data-required="required" 
                                  max="25" class="form-input" data-ng-model="form.name">
                           <p data-ng-show="infoForm.name.$error.required && !infoForm.name.$pristine" class="help-block">集群名不能为空</p>
                           <p data-ng-show="infoForm.name.$pristine" class="help-block">{/staticForm.message_error_info["name"]/}</p>
                       </div>
                   </div>
                   <div flex></div>
               </div>
               <div layout="row" class="form-footer-button">
                   <div flex-offset="15" layout="row" layout-align="end end">
                       <md-button class="md-raised md-primary" type="button" 
                                  data-ng-click="updateCluster()"
                                  data-demo-disable
                                  data-ng-disabled="infoForm.$invalid">完成</md-button>
                       <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                   </div>
               </div>
           </form>
        </div>
    </section>
</div>
