<div class="modal-header">
    <h3 class="modal-title">修改权重</h3>
</div>

<form class="form-horizontal" name="canaryForm">
    <div class="modal-body">
        <div data-ng-repeat="weight in formCtrl.weights" class="form-group"
             data-ng-class="{'has-error' : canaryForm['weight'+$index].$invalid}">
            <label class="col-sm-4 control-label">灰度版本: {/weight.versionId/}</label>
            <div class="col-sm-3" style="display:inline-block">
                <input type="number" name="weight{/$index/}" class="form-control" data-ng-model="weight.weight" min="0"
                       required>
            </div>
            <div>
                <p data-ng-show="canaryForm['weight'+$index].$error.min" class="help-block">权重不能小于0</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" data-ng-disabled="canaryForm.$invalid"
                data-ng-click="formCtrl.ok()">
            确定
        </button>
        <button class="btn btn-default" type="button" data-ng-click="formCtrl.cancel()">取消</button>
    </div>
</form>
