<div class="modal-header">
    <h3 class="modal-title">修改权重</h3>
</div>

<form class="form-horizontal" name="canaryForm">
    <div class="modal-body">
        <div data-ng-repeat="version in formCtrl.versions" class="form-inline form-group">
            <label class="col-sm-4 control-label">{/version.imageVersion/}</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" data-ng-model="version.weight">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit"  data-ng-disabled="canaryForm.$invalid"
                data-ng-click="formCtrl.ok()">
            确定
        </button>
        <button class="btn btn-default" type="button" data-ng-click="formCtrl.cancel()">取消</button>
    </div>
</form>
